<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td>
                            <p>Поступила новая заявка</p>

                            <p>Были заполнены следующие данные</p>

                            <table>
                                <tr>
                                    <td>Имя</td>
                                    <td>{{ name }}</td>
                                </tr>
                                <tr>
                                    <td>Номер телефона</td>
                                    <td>{{ phone }}</td>
                                </tr>
                                <tr>
                                    <td>Текст</td>
                                    <td>{{ text }}</td>
                                </tr>

                            </table>
                            <br/>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <!-- content -->
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>Site spdelo</p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /content -->

        </td>
        <td></td>
    </tr>
</table>
<!-- /footer -->