==
{% if not cities.isEmpty() %}
<div class="top-header__city">
    {% if city %}
    <span id="selected-city" class="d-flex align-items-center"><img src="{{'assets/images/svg/checkpoint-map.svg'|theme}}" alt="checkpoint-map" class="checkpoint-map"> Ваш город: <span class="geoapi__action--get-list">{{ city.name }}</span> <i class="arrow-to-down" style="border-top-color:#5884C5"></i> </span>
    {% else %}
    <span class="d-flex align-items-center"><img src="{{'assets/images/svg/checkpoint-map.svg'|theme}}" alt="checkpoint-map" class="checkpoint-map"> Ваш город: <span class="geoapi__action--get-list">Выбрать город</span> <i class="arrow-to-down" style="border-top-color:#5884C5"></i> </span>
    {% endif %}
</div>

<div class="geoapi__cities-list__wrapper p-0 hidden">
    <div class="px-3 mb-2 geoapi__cities-list__header d-flex align-items-center justify-content-between">
        <h6 class="geoapi__cities-list__title">Выберите свой город</h6>
        <a href="#" class="geoapi__cities-list__close"><img src="{{'assets/images/svg/white-cross.svg'|theme}}" alt="white-cross"></a>
    </div>
    <div class="pb-2">
        <div class="form-group px-3 py-2">
            <input type="text" placeholder="Введите название своего города" id="geoapi__cities-search-form__input">
        </div>
        <div class="px-3 py-2 geoapi__cities-list__block-cities">
            <div class="row m-0">        
                {% if GeoApi.api.city %}
                <div class="col-md-6 col-lg-3 geoapi__cities-list_item position-relative pr-0">
                    <a href="https://cvetograd.com">Сбросить</a>
                </div>
                {% endif %}
                {% for city in cities %}
                <div class="col-md-6 col-lg-3 geoapi__cities-list_item position-relative pr-0">
                    <a href="{{ url('http://' ~ city.domain ~ '.' ~ GeoApi.api.getDomain(true)) }}" class="geoapi__cities-list_item--icon">{{ city.name }}</a>
                </div>
                {% endfor %}
            </div> 
        </div>
        <div class="px-3 pb-2 pt-0 geoapi__cities-list__footer">
            <div class="geoapi__cities-list__footer-line"></div>
            <p><img src="{{'assets/images/svg/truckgrey.svg'|theme}}" alt="truckgrey" width="16px"> - Регионы в которых есть курьерская доставка</p>
            <span><img src="{{'assets/images/exclamation-point.png'|theme}}" alt="exclamation-point" width="16px"> Некоторые регионы недоступны юридическим лицам для заказа на самовывоз.<br>
                Получить заказ можно с доставкой через транспортную компанию из Москвы.</span>
        </div>
    </div>
</div>
{% endif %}