description = "Подвал сайта"
==
<footer id="footer" class="footer">
    <div class="container">
        <div class="footer__row d-flex">
            <div class="footer__logo d-flex">
                <a href="/">
                    <img src="{{'assets/images/logo-r.png'|theme}}" class="img-fluid">
                </a>
                <span>
                    Надежный поставщик светодиодного оборудования для любых нужд
                </span>
            </div>
            <div class="footer__col footer__tel d-flex">
                <span>
                    Телефоны: 
                </span>
                <div>
                    <!-- <a href="tel:8007008927">(800) 700 89 27</a> -->
                    <a href="tel:84951081941">+7 (495) 108-19-41</a>
                    <!-- <a href="tel:88442609920">8 (8442) 609-920</a> -->
                </div>
            </div>
            <div class="footer__col footer__email">
                <span>
                    E-mail:
                </span>
                <a href="mailto:info@l-svet.com">info@l-svet.com</a>
            </div>
            <div class="footer__col">
                <span>
                    Часы работы
                </span>
                <p>ПН-ПТ - с 9 00 до 17 30 по МСК<br>
                    СБ-ВС - Выходной</p>
            </div>
        </div>
        <div class="footer__copyright d-flex">
            <div class="copyright__year">
                © 2020г.
            </div>
            <div class="copyright__description">
                Копирование информации без письменного согласия правообладателя запрещено.
            </div>
        </div>
        <div class="footer__descr">
            Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 435 и Статьи 437 Гражданского кодекса Российской Федерации. Для получения подробной информации об указанных акциях, а так же о стоимости товаров обращайтесь к нашим менеджерам по продажам светодиодного оборудования.
        </div>
    </div>
</footer>

<a id="scrlBotm" href="#" class="c-scroll-btn"><i class="fas fa-angle-double-down"></i> <span>Вниз</span></a>
<a id="scrlTop" href="#" class="c-scroll-btn"><i class="fas fa-angle-double-up"></i> <span>Вверх</span></a>

{% partial "partials/analytics" %}

<div style="display: none;" id="hidden-content">
    <h2 class="text-center">Нашли цену дешевле?</h2>
    {% component 'renderForm3' %}
</div>

<div style="display: none;" id="hidden-content-2">
    {% component 'renderForm2' %}
</div>

<div style="display: none;" id="consultation-form">
    <div style="max-width:500px;">
        <h2 class="text-center">Получить консультацию</h2>
        {% component 'formConsultation' %}
    </div>
</div>