==
<div class="header-bg" id="header">
    <div class="container">
        <div class="header__banner row">
            <div class="col-sm-12 col-md-7 col-lg-8 d-flex flex-wrap align-items-center">
                <div class="header__logo">
                     <a href="/">
                         <picture>
                             <source srcset="{{'assets/images/logo-r.png'|theme}}" media="(min-width: 576px)">
                             <img src="{{'assets/images/logo-r-mobile.png'|theme}}" alt="logo">
                        </picture>
                    </a>           
                </div>
               <div class="header__title">
                   {% if this.controller.getRouter().getUrl() == '/' %}
                    <h1>Светодиодные светильники<strong>{{GeoApi.cityName(' в ', ' ', 'prepositional')}} от производителя в наличии</strong></h1>
                    {% else %}
                    <span class="h1">Светодиодные светильники<strong>{{GeoApi.cityName(' в ', ' ', 'prepositional')}} от производителя в наличии</strong></span>
                    {% endif %}
               </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="header__info">
                    <p class="phone-red"><a href="tel:84951081941">+7 (495) 108-19-41</a></p>
                    <p class="time">время работы<br> 9:00 - 17:30 по МСК</p>
                    <a class="form-link" data-fancybox data-src="#hidden-content-2" href="javascript:;">
                        Заказать звонок
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="header">
    <!--<div class="row">
        <div class="col-md-2 col-lg-3" id="logo-top">
            <a href="/">
                <img src="{{'assets/images/logo.png'|theme}}" class="img-fluid">
            </a>
        </div>
        <div class="col-md-4 col-lg-3   d-none d-md-block d-lg-block">
            {% if this.controller.getRouter().getUrl() == '/' %}
            <h1 class="head-title">Светодиодные светильники<span>{{GeoApi.cityName(' в ', ' ', 'prepositional')}} от производителя в наличии</span></h1>
            {% else %}
            <span class="head-title">Светодиодные светильники<span>{{GeoApi.cityName(' в ', ' ', 'prepositional')}} от производителя в наличии</span></span>
            {% endif %}
        </div>
        <div class="col-md-4   d-none d-md-block d-lg-block">
            <p class="phone-red"><a href="tel:88007008927">8(800) 700 89 27</a></p>
            <p class="time">Звонок бесплатный <span>9:00 - 17:30</span> по МСК</p>
            <a class="form-link" data-fancybox data-src="#hidden-content-2" href="javascript:;">
                Заказать звонок
            </a>
        </div>
        <div class="col-md-2   d-none d-md-block d-lg-block">
            <div class="phone"><img src="{{ 'assets/images/svg/phone.svg'|theme}}">
                <ul>
                    <li>
                        <a href="tel:{{ phoneClear(GeoApi.phone_number) }}">{{ GeoApi.phone_number }}</a>
                    </li>
                    {% if not GeoApi.domain %}
                    <li>
                        <a href="tel:+78442609920">+7 (8442) 609-920</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="mail"><img src="{{ 'assets/images/svg/email.svg'|theme}}">
                <ul>
                    <li><a href="mailto:info@cvetograd.com">info@cvetograd.com</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    {% if this.controller.vars.Shop.type == 'product' or this.controller.vars.Shop.type == 'category' %}
    {% partial 'layouts/line-cart' %}
    {% endif %}
</div>