[SeoPage]
==
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9PG76M');</script>
<!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    {% component 'SeoPage' %}
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="{{[
        'assets/css/bootstrap.min.css',
        'assets/css/jquery.fancybox.min.css',
        'assets/css/owl.carousel.min.css',
        'assets/css/owl.theme.default.min.css',
        'assets/css/nouislider.min.css',
        'assets/css/fontawesome-all.min.css',
        'assets/css/style.css',
        'assets/css/main.css',
        'assets/css/createPDF.css',
        'assets/css/callbackForms.css'
    ]|theme}}">
    <link rel="stylesheet" media="print" href="{{'assets/css/print.css'|theme}}">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet"  href="{{'assets/css/fonts.css'|theme}}">
    <meta name="yandex-verification" content="9243de63b9cc6a13" />
    <meta name="yandex-verification" content="73f3f8a8eebeba16" />
    

    <!-- calltouch -->
<script type="text/javascript">
(function(w,d,n,c){w.CalltouchDataObject=n;w[n]=function(){w[n]["callbacks"].push(arguments)};if(!w[n]["callbacks"]){w[n]["callbacks"]=[]}w[n]["loaded"]=false;if(typeof c!=="object"){c=[c]}w[n]["counters"]=c;for(var i=0;i<c.length;i+=1){p(c[i])}function p(cId){var a=d.getElementsByTagName("script")[0],s=d.createElement("script"),i=function(){a.parentNode.insertBefore(s,a)};s.type="text/javascript";s.async=true;s.src="https://mod.calltouch.ru/init.js?id="+cId;if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",i,false)}else{i()}}})(window,document,"ct","xpgoc460");
</script>
<!-- calltouch -->

</head>
