[CategoriesList]
partial = "@default"
limit = 0
==
<div class="col-md-12  d-none d-md-block d-lg-block" id="scroll-header">
    <div class="row align-items-center">
        <div class="col-md-4 col-catalog">
            <div class="catalog-link">
                <h2><img src="{{ 'assets/images/menu.png'|theme }}"><span class=" d-none d-lg-block">Каталог товаров:</span></h2>
                <div class="catalog-block-down">
                    {% component 'CategoriesList' partial = "@category-drop-down.htm" limit = 0 %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-search">
            <form class="search-block d-flex" action="/search">
                <input name="q" type="text" class="form-control" id="search" placeholder="Поиск товара">
                <button type="submit" class="btn btn-primary">Найти</button>
            </form>
        </div>
        <div class="col-md-12 col-basket text-right text-lg-center">
            {% if ShoppingCart %}
            <div class="cart">
                <a href="/cart">
                    <img src="{{ 'assets/images/ico-basket-02.png'|theme }}">
                </a>

                <p>В корзине: <span><span data-shopcart-count>{{ priceFormatting(ShoppingCart.getCart().getCount()) }}</span>
                    <span data-shopcart-label-product data-label-default="товар">
                    {% if ShoppingCart.getCart().getCount() > 1%}
                    товара
                    {% else %}
                    товар
                    {% endif %}
                        </span>
                </span></p>
                <p>на сумму: <span>
                    <span class="sv-products__price" data-shopcart-result>{{ priceFormatting(ShoppingCart.getCart().getResultPrice()) }}</span> руб.</span>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
