[CategoriesMenu CategoriesMenu2]
partial = "@default"
page = "/"
slugParam = "slug"
root = "root"
pushUp = 1

[Filter]
==
{% if not this.controller.vars.Shop.type == 'category' %}
{% component 'CategoriesMenu2' %}
{% else %}
{% component 'Filter' %}
{% endif %}
<div class="block d-none d-md-block d-lg-block" id="block-number">
    <p class="h2"><span class="blue">Большой выбор</span> светодиодных светильников!</p>
    <p>Товаров на складе: <span>12 456</span></p>
    <p>Товаров под заказ: <span> 27 372</span></p>
</div>
<div class="block d-none d-md-block d-lg-block" id="block-article">
    <p class="h2"><span class="blue">Полезные статьи</span></p>
    <ul>
        <li><a href="/stat/kak-podobrat-promyshlennyj-svetodiodnyj-svetilnik.htm">Как подобрать промышленный светодиодный светильник?</a></li>
        <li><a href="/stat/vybor-ulichnogo-svetilnika.htm">Выбор уличного светильника</a></li>
        <li><a href="/stat/kak-opredelit-kachestvennyj-svetilnik">Как определить качественный светильник?</a></li>
        <li><a href="/stat/ekonomicheski-effekt-ot-svetilnika.htm">Экономический эффект от светильника</a></li>
    </ul>
</div>
<a class="spec-link d-none d-md-block d-lg-block" data-fancybox data-src="#hidden-content"
   href="javascript:;">
   <!-- <img src="{{ 'assets/images/button.gif'|theme}}" class="img-fluid">-->Нашли дешевле?
</a>
<div class="block d-none d-md-block d-lg-block" id="block-city">
    <p class="h2 text-center">Мы открыты в <span class="blue">45 городах</span></p>
    <p class="block__descr text-center">Пункт выдачи товара<br>в  {% if GeoApi.city.prepositional %}{{GeoApi.city.prepositional}}{% else %} Санкт-Петербурге {% endif %}</p>
    <div id="map-side" style="min-height: 250px;"></div>
</div>
{% put scripts %}
<script>
    $(document).ready(function () {
        if ($('#map-side').length > 0) {
            ymaps.ready(function () {
                var myMap = new ymaps.Map('map-side', {
                        center: [{{ GeoApi.dolgota }}, {{ GeoApi.shirota }}],
                        zoom: 17,
                    }, {
                        searchControlProvider: 'yandex#search'
                    }),
                    myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                        balloonContent: 'Наш адрес'
                    });

                myMap.geoObjects.add(myPlacemark);
            });
        }
    });
</script>
{%  endput %}