[CitiesList]
partial = "geoapi/_cities_list"
==
<div class="container-fluid" id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            {% component 'CitiesList' %}
            </div>
            <div class="col-md-9 d-md-block d-lg-block">
                <a href="#" id="select-city" class="geoapi__action--get-list">Выбрать город</a>
                <ul id="top-menu" class="d-none d-md-block d-lg-block">
                    <li><a href="/garantiya">Гарантия</a></li>
                    <li class="parent"><a href="#">Получение и оплата <span>&#9660;</span></a>
                        <ul>
                            <li><a href="/info/usloviya-dostavki">Условия доставки</a></li>
                            <li><a href="/info/usloviya-oplaty">Условия оплаты</a></li>
                            <!-- <li><a href="/info/garantiya">Гарантия</a></li> -->
                        </ul>
                    </li>
                    <li class="parent"><a href="#"> Сервис <span>&#9660;</span></a>
                        <ul>
                            <li><a href="/raschet_osvecheniya">Расчет освещенности</a></li>
                            <!-- <li><a href="/info/nestandartnaya-razrabotka">Нестандартная разработка</a></li> -->
                           <!--  <li><a href="/info/svetilniki-dlya-tendera">Светильники для тендера</a></li> -->
                        </ul>
                    </li>
                    <li class="parent"><a href="/about">О нас</a>
                    </li>
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>