.ratio-4-3 {
  padding-top: 75%;
}

.ratio-5-3 {
  padding-top: 60%;
}

.ratio-5-1 {
  padding-top: 20%;
}

.ratio-5-2 {
  padding-top: 25%;
}

.ratio-2-5 {
  padding-top: 40%;
}

.ratio-1-2 {
  padding-top: 50%;
}

.content_container {
  h5 {
    display: inline;
  }
}

.fontello-icon {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}