$header_bg_color: #000000 !default;
$second_bg_color: #383838 !default;
$header_color: #fff !default;
$header_second_color: #5CBEE4 !default;
$common_color: $header_second_color;
$h1-font-size-title: 14px;
$color_bright: #5AC4C4;
$site_width: 1600px;
$logo_width: 100px;
$logo_height: 90px;
$zindex-modal: 1550;
$link-color: $color_bright !default;
$link-hover-color: darken($link-color, 20%) !default;
$pagination-active-bg: $color_bright !default;
$pagination-active-border: darken($pagination-active-bg, 15%);
$target-button-color: #e54040;
$btn-warning-bg: $target-button-color;
$geoapi-bg-list: #2a2a2a;

//fancybox
$fancybox-image-url: '/themes/svetograd/assets/img' !default;