@import "variables";

$body-bg: #fff;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
//nav
$navbar-border-radius: 0;
$navbar-default-bg: transparent;
$navbar-default-link-color: #fdfff8;
$navbar-default-link-active-color: #000000;
$navbar-default-link-active-bg: #fdfff8;
$navbar-default-link-hover-color: $navbar-default-link-active-color;
$navbar-default-link-hover-bg: $navbar-default-link-active-bg;
$navbar-margin-bottom: 30px;
//font
$font-size-base: 16px;
$font-family-base: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
$max-width-site: $site_width;
$border-radius-base: 0 !default;
$border-radius: 0 !default;
$slider-border-radius: 0 !default;
$slider-line-height: 7px !default;
$label-color: #000;

$slick-font-path: '/themes/svetograd/assets/font/' !default;
$slick-loader-path: '/themes/svetograd/assets/img/' !default;

@import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../../../node_modules/bootstrap-slider/src/sass/bootstrap-slider";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,900,900i&subset=cyrillic-ext');
@import "../../../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../../fontello/css/animation";
@import "../../../fontello/css/fontello";
@import "../../../fontello/css/fontello-codes";
@import "../../../fontello/css/fontello-embedded";
@import "../../../fontello/css/fontello-ie7";
@import "../../../fontello/css/fontello-ie7-codes";
@import "../../../../../node_modules/fancybox/dist/scss/jquery.fancybox";
$input-border-color: #ccc;
$font-family-icon: 'fontello';
$fa-var-check: '\E813';
//fix check box
.abc-checkbox input[type="checkbox"]:checked + label::after, .abc-checkbox input[type="radio"]:checked + label::after {
  top: -1px;
}

@import "../../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
//custom
@import "utilities";
@import "partials/button_form";
@import "partials/mixin_block_info";
@import "partials/oglavl";
@import "partials/preloader";
@import "header/header";
@import "slider/slider";
@import "benefits/benefits";
@import "why-we/why-we";
@import "free-calc/free_calc";
@import "home/index";
@import "advantages_led/advantages_led";
@import "benefit_led/benefit_led";
@import "communication/communication";
@import "footer/footer";
@import "form/search-form";
//contacts
@import "contacts/contacts_map";
@import "contacts/contacts_form";
@import "about/form";
//libs
@import "../../libs/animate/animate";
@import "../../libs/scroll-to-top/index";
@import "../../libs/grid/grid_10";
@import "../../libs/redConnect/fix_mobile";
//plugins
@import "../../plugins/geoapi/main";
//shop
@import "shop/cart";
@import "shop/catalog_main";
@import "shop/product_default";
@import "shop/capture_contacts";
@import "shop/category_menu";
@import "shop/quote_info-block";
@import "shop/no-product";
@import "shop/product_analogues";
@import "shop/svetgrad";
@import "form/main-form";
@import "order_form/lp_form_label";
@import "order_form/form";
@import "partials/portal-filter";
@import "partials/svetograd";
@import "partials/viled";
@import "../../plugins/shop/elements/marks";

.genesis, body, html {
  height: 100%;
  min-width: 320px;
  position: relative;
}

.main {
  min-height: 100%;
}

.content_container {
  max-width: $max-width-site;
  margin: 0 auto;
}

.text_information_main {
  font-size: 14px;
}

hr {
  background: #D2D2D2;
  height: 2px;
}

img {
  max-width: 100%;
}

.new-age_icon {
  width: 50px;
  height: 50px;
  float: left;
  background: url("../images/new_age_cion.png");
  margin: 0 10px 0 50px;
}

.bold-title {
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-control-round {
  .slide-icon {
    display: block;
    width: 66px;
    height: 66px;
    line-height: 66px;
    border-radius: 42px;
    background: rgba(0, 0, 0, 0.76);
    color: #fff;
    text-align: center;
    &:hover {
      background: rgba(0, 0, 0, 0.9);
      color: #e5e5e5;
    }
    &.icon-left-open {
      left: 5%;
      &:before {
        margin-left: 0;
      }
    }
    &.icon-right-open {
      right: 5%;
    }
  }
}

.breadcrumb-container {
  background: #f5f5f5;
  .breadcrumb {
    max-width: $site_width;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.relation-products__rubric {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 20px;
  margin: 10px;
}

.description-tabs__wrapper {
  border: 1px solid #ddd;
  border-top: 0;
  padding-top: 20px;
  @include clearfix;
  &.tab-pane {
    @include clearfix;
  }
}

.btn-send-to-chat {
  text-transform: uppercase;
  border: 1px solid #ccc;
  background: #fff;
  margin-top: 24px;
  border-radius: 5px;
  float: right;
  &:hover {
    background: #7F7F7F;
  }
}

.product__custom-text {
  padding: 15px;
  margin-top: 5px;
}

iframe {
  max-width: 100%;
}

//tinymce
.justifyfull {
  text-align: justify;
}

.justifyright {
  text-align: right;
}

.justifyleft {
  text-align: left;
}

.no-wrap {
  white-space: nowrap;
}

.navbar-toggle {
  color: $header_second_color;
}

// slider
.slider-track {
  @include slider_background-image(#777, #808080, #676767);
}

.slider.slider-horizontal .slider-track {
  margin-top: 5px;
}

.slider-handle {
  height: 20px;
}

.slider-selection {
  @include slider_background-image(lighten($second_bg_color, 10%), $second_bg_color, darken($second_bg_color, 10%));
}

.full-products-category {
  margin-top: 20px;
}

.top-paginate__wrapper, .bottom-paginate__wrapper {
  .pagination {
    margin-bottom: 0;
    float: left;
  }
}

.dropdown-menu {
  z-index: 1100;
}

hr.light-line {
  height: 1px;
  background: #e6e6e6;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #f7f7f7;
  margin-top: 5px;
  width: 100%;
}

hr.bold-line {
  height: 4px;
  background: #c3c8ce;
  border: 0;
  margin-top: 5px;
  width: 100%;
}

hr.dotted-line {
  height: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dotted #a0b2c0;
  margin-top: 0;
  background: transparent;
}

.slick-slide {
  outline: none;
  padding: 10px;
  img {
    margin: 0 auto;
  }
}

.manufacturers-slider {
  padding-bottom: 25px;
  .slick-dots {
    bottom: 0;
  }
}

.banner-in-grid {
  background: #f5f5f5;
  margin: 0 -15px;
  padding: 0 5px;
  img {
    width: 100%;
  }
}

#get-free-project_result {
  max-width: 700px;
  margin: 20px auto 0;
}

.tabs-grid {
  padding: 0;
  > .tabs-grid--item {
    padding: 0 15px;
    display: inline-block;
  }
}

.fancybox-inner img {
  background: #fff;
}

.upd_container {
  display: inline-block;
  & div[data-control="editable"] {
    display: inline-block;
    @include clearfix;
  }
}

#map, #map>ymaps, #map>ymaps>ymaps {
  height: 400px;
}