==
<?php
function onStart(){
    if(Request::method() === 'POST'){
        $validator = Validator::make(
        Request::all(),
        ['name' => 'required|min:3',
        'phone' => 'required|min:18|max:18']
        );

    if ($validator->fails()) {
    return Redirect::back()->withErrors($validator);
    }
    $data = [
        'name' => Input::get('name'),
        'phone' => Input::get('phone'),
        'page' => URL::current(),
    ];
        Mail::send('austerus.shop::emails.callback', $data, function($message) {

        $message->to(config('mail.from.address'), config('mail.from.name'));
        $message->subject('Заявка с сайта');

        });
    }
}
?>
==
<div class="contacts_form">
    <div class="contacts_form_title">
        <p>Закажите бесплатный звонок</p>
    </div>
    <form method="post">
    <div class="contacts_form_body">
        <div class="contacts_form_block form-group{{ errors.has('name')?' has-error':'' }}">
            <label class="contacts_form_label" for="contacts_form__name">Ваше имя:</label>
            <p><input class="contacts_form_input form-control" type="text" spellcheck="false" name="name"  id="contacts_form__name"></p>
            <span class="help-block">{{ errors.first('name') }}</span>
        </div>
        <div class="contacts_form_block form-group{{ errors.has('phone')?' has-error':'' }}">
            <label class="contacts_form_label" for="contacts_form__phone">Ваш телефон:</label>
            <p><input class="contacts_form_input form-control" type="text" spellcheck="false" name="phone" id="contacts_form__phone"></p>
            <span class="help-block">{{ errors.first('phone') }}</span>
        </div>
        <div class="contacts_form_block">
            <p><input class="contacts_form_submit form-control" type="submit" value="Отправить"></p>
            <p class="contacts_form_info"><i class="icon-lock"></i>Ваши данные в безопасности и не будут переданы 3-м лицам.</p>
        </div>
    </div>
    </form>
</div>