<form name="filter_form" class="form" id="portal-filter__form">
    <div class="portal-filter row">
        <div class=" portal-filter__row-first col-sm-6 col-md-12">
            <p class="portal-filter__title">
                Розничная цена
            </p>
            <div class="portal-filter__slider">
                <div class="form-group form-inline portal-filter__form">
                    <span>от</span>
                    <label>
                        <input name="filter_price_from" type="text"
                               class="form-control portal-filter__form-price-from"
                               value="{{input('filter_price_from', 0)}}">
                    </label>
                    <span>до</span>
                    <label>
                        <input name="filter_price_to" type="text" class="form-control portal-filter__form-price-to"
                               value="{{input('filter_price_to', counter.price)}}">
                    </label>
                </div>
                <div class="portal-filter__slider__wrapper">
                    <label>
                        <input type="text" class="portal-filter__slider-slide" value="" style="display: none"
                               id="portal-filter__slider-price" data-min="0" data-max="{{ counter.price }}"
                               data-target="price">
                    </label>
                </div>
            </div>
            <p class="portal-filter__title">
                Мощность, Вт
            </p>
            <div class="portal-filter__slider">
                <div class="form-group form-inline portal-filter__form">
                    <span>от</span>
                    <label>
                        <input name="filter_power_from" type="text"
                               class="form-control portal-filter__form-power-from"
                               value="{{input('filter_power_from', 0)}}">
                    </label>
                    <span>до</span>
                    <label>
                        <input name="filter_power_to" type="text" class="form-control portal-filter__form-power-to"
                               value="{{input('filter_power_to', counter.power)}}">
                    </label>
                </div>
                <div class="portal-filter__slider__wrapper">
                    <label>
                        <input type="text" class="portal-filter__slider-slide" value="" style="display: none"
                               id="portal-filter__slider-power" data-min="0" data-max="{{ counter.power }}"
                               data-target="power">
                    </label>
                </div>
            </div>
            <p class="portal-filter__title">
                Световой поток, Лм
            </p>
            <div class="portal-filter__slider">
                <div class="form-group form-inline portal-filter__form">
                    <span>от</span>
                    <label>
                        <input name="filter_light-flow_from" type="text"
                               class="form-control portal-filter__form-light-flow-from"
                               value="{{input('filter_light-flow_from', 0)}}">
                    </label>
                    <span>до</span>
                    <label>
                        <input name="filter_light-flow_to" type="text"
                               class="form-control portal-filter__form-light-flow-to"
                               value="{{input('filter_light-flow_to', counter.light_flow)}}">
                    </label>
                </div>
                <div class="portal-filter__slider__wrapper">
                    <label>
                        <input type="text" class="portal-filter__slider-slide" value="" style="display: none"
                               id="portal-filter__slider-light-flow" data-min="0"
                               data-max="{{ counter.light_flow }}" data-target="light-flow">
                    </label>
                </div>
            </div>
        </div>
        {% if manufacturers.count() > 0 %}
        <div class="portal-filter__row-last col-sm-6 col-md-12">
            <div class="portal-filter__form-checkbox">
                <h4>Производители</h4>
                {% for manufacturer in manufacturers %}
                <div class="form-group">
                    <div class="checkbox abc-checkbox">
                        <input type="checkbox" name="filter_manufacturer[]" id="filter_manufacturer--input-{{ loop.index }}"
                               value="{{ manufacturer.id }}"
                               {% if manufacturer.id in input('filter_manufacturer') %} checked{% endif %}>
                        <label for="filter_manufacturer--input-{{ loop.index }}">{{ manufacturer.name }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portal-filter__form-buttons__wrapper">
                <div class="form-group form-inline">
                    <button type="submit" class="btn btn-default portal-filter__form-submit">Применить</button>
                    <button type="reset" class="btn btn-default portal-filter__form-reset">Сбросить</button>
                </div>
            </div>
        </div>
    </div>
</form>
