<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->exportRender() ?>
</div>

<div class="form-buttons">
    <button
            type="submit"
            data-control="popup"
            data-handler="onExportLoadForm"
            data-keyboard="false"
            class="btn btn-primary">
        Экспортировать
    </button>
</div>

<?= Form::close() ?>
