<div class="csv-manager__panel">
    <div class="csv-manager__container">
        <a
                href="<?= Backend::url('austerus/geoapi/exchange/export') ?>"
                class="btn btn-primary oc-icon-cloud-upload">
            Export
        </a> /
        <a
                href="<?= Backend::url('austerus/geoapi/exchange/import') ?>"
                class="btn btn-primary oc-icon-cloud-download">
            Import
        </a>
    </div>
</div>
<style>
    .csv-manager__panel{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .csv-manager__container{
        margin-top: -20%;
    }
</style>