==
<div id="catalog">
    <ul class="part__block">
        {% for category in categories %}
        <li class="part__link">
            <a href="{{ page }}{{ category.slug }}"{% if active == category.slug %} class="part__link--active"{% endif %}>
                {% if category.ico %}
                <img src="{{ category.ico|media }}" class="part__icon">
                {% endif %}
                <span class="part__text">{{ category.name }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>