<div class="d-md-none text-center pt-3">
    <button class="b-btn b-btn--catalog" data-fancybox data-src="#hidden-content-15" >Каталог товаров <img src="{{'assets/images/menu.svg'|theme}}" alt="icon-menu"/></button>
</div>

<div class="alert-catalog" style="display: none" id="hidden-content-15">
    <div id="catalog" class="d-flex">
        <ul class="part__block">
            {% for category in categories %}
            <li class="part__link" {% if active == category.slug %} class="part__link--active"{% endif %}>
                <a href="{{ page }}{{ category.slug }}" class="part__item">
                    {% if category.ico %}
                        <img src="{{ category.ico|media }}" class="part__icon">
                    {% endif %}
                        <span class="part__text">{{ category.name }}</span>
                </a>
                <div class="part__hover-line"></div>
            </li>
            {% endfor %}
        </ul>
        <div class="part__line-right"></div>
    </div>
</div>

