<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('austerus/shop/categories') ?>">Категории</a></li>
    <li>Порядок сортировки</li>
</ul>
<?php Block::endPut() ?>
<?= $this->reorderRender() ?>