<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('austerus/shop/categories') ?>">Категории</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                        type="submit"
                        data-request="onSave"
                        data-request-data="redirect:0"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Saving Category..."
                        class="btn btn-primary">
                    <u>С</u>охранить
                </button>
                <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Saving Category..."
                        class="btn btn-default">
                    Сохранить и закрыть
                </button>
                <button
                        type="button"
                        class="oc-icon-trash-o btn-icon danger pull-right"
                        data-request="onDelete"
                        data-load-indicator="Удалить категорию"
                        data-request-confirm="Подтвердите удаление">
                </button>
                <span class="btn-text">
                    или <a href="<?= Backend::url('austerus/shop/categories') ?>">Закрыть</a>
                </span>
                <a href="/<?=$this->vars['formModel']->slug;?>" class="btn btn-default pull-right" target="_blank">Просмотреть категорию на сайте</a>
            </div>
        </div>

        <div class="layout-row">
            <div class="col-md-9">
                <?= $this->formRender() ?>
            </div>
            <div class="col-md-3">
                <p style="margin-bottom: 5px;">Товары данной категории:</p>
                <div style="background: #fff; border: 1px solid #ddd; padding: 10px;">
                    <?php foreach($this->vars['formModel']->products as $product): ?>
                    <p>
                        <a href="<?php echo Backend::url('austerus/shop/products/update', ['id' => $product->id]) ?>"><?php echo $product->name;?></a>
                    </p>
                    <?php endforeach ?>
                </div>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?php echo Backend::url('austerus/shop/categories') ?>" class="btn btn-default">Вернуться назад к категориям</a></p>

<?php endif ?>