@import "node_modules/md-checkbox/sass/md-checkbox.sass";
@import "shopping_cart";

$orderFormFontColor: #929292;

#order-form-modal {
  margin: 0 auto;
  padding: 20px;
  @include clearfix;
  .form-group {
    position: relative;
  }
  .modal-dialog {
    width: 900px;
    @media (max-width: $screen-sm-max) {
      width: 600px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media (min-width: $screen-md-min) {
  .order-form__wrapper {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      right: 0;
      content: "";
      background: #f8f8f8;
      display: block;
      border-left: 1px solid #ededed;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .order-form__produts-area {
    border-top: 1px solid #dcdcdc;
    position: relative;
    background: #f8f8f8;
  }
}

.order-form {
  .close {
    @extend .close-circle__custom;
  }
  @include clearfix;
  max-width: 900px;
  @media (min-width: $screen-md-min) {
    width: 900px;
  }
}

#name, #phone, #email, .full-height {
  height: 40px;
}

#order-form_title {
  margin: 50px 0 45px;
  color: #c01213;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
}

.text-comment {
  font-size: 14px;
  font-weight: normal;
}

.form-checkbox__wrapper {
  input, .md-checkbox--fake {
    position: absolute;
  }
  & > div {
    padding-left: 50px;
  }
  .help-block {
    line-height: 20px;
    font-size: 15px;
    padding-left: 10px;
    strong {
      font-weight: 500;
    }
  }
}

#order-form__submit {
  margin: 0 auto;
  display: block;
  font-size: 16px;
  & .btn-warning {
    border-color: #d86c1b;
    background: #ed8414;
    background-image: -webkit-linear-gradient(top, #ed8414, #f57413);
    background-image: -moz-linear-gradient(top, #ed8414, #f57413);
    background-image: -ms-linear-gradient(top, #ed8414, #f57413);
    background-image: -o-linear-gradient(top, #ed8414, #f57413);
    background-image: linear-gradient(180deg, #ed8414, #f57413);
  }
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  color: #fff;
  padding: 10px 20px;
  & .btn-warning {
    &:hover {
      -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
      -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
      box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
      background: #ff911b;
      border-color: #d86c1b;
      color: #fff;
    }
  }
}

.order-form__continue {
  color: #929292;
  border-bottom: 1px dotted #929292;
  text-decoration: none;
  &:hover {
    color: darken(#929292, 20%);
    border-bottom: 1px solid #929292;
    text-decoration: none;
  }
}

.order-form__form_area {
  @media (min-width: $screen-md-min) {
    padding-left: 30px;
  }
}

.order-form__produts-area {
  @media (min-width: $screen-md-min) {
    padding-right: 30px;
  }
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
}

.order-form__products-item {
  position: relative;
  padding-left: 90px;
  .popular-products__greed {
    position: absolute;
    left: 0;
    border: 1px solid rgba(149, 149, 149, 0.55);
  }
  .order-form__product-text {
    padding: 5px;
  }
  .order-form__product-delete {
    position: absolute;
    right: 0;
    top: 37px;
    display: block;
    width: 30px;
    height: 30px;
    background: rgba(142, 56, 56, .48);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    color: #fff;
    opacity: 1;
    &:hover {
      background: rgba(165, 95, 95, 0.91);
      border: 2px solid rgba(0, 0, 0, 0.15);
    }
  }
}

.order-form__product-title {
  height: 23px;
  overflow: hidden;
}

.order-form__product-price {
  font-size: 22px;
  color: #000;
  margin-bottom: -4px;
  &.order-form__product-discount-price__discounted {
    .order-form__product-price__container {
      font-size: 15px;
      display: inline-block;
      height: 20px;
      position: relative;
      color: #b8b8b8;
      text-decoration: line-through;
    }
  }
  .order-form__product-discount-price__container {
    display: block;
  }
}

.order-form__product-count {
  width: 150px;
}

.order-form__product-count__title {
  color: $orderFormFontColor;
  font-size: 14px;
  display: block;
  padding: 5px 0;
}

.order-form__product-discount {
  line-height: 10px;
  margin-top: 10px;
  cursor: pointer;
  .order-form__product-discount__title {
    border-bottom: 1px dotted;
    display: inline-block;
  }
  &:hover {
    .order-form__product-discount__title {
      border-bottom: 1px dotted transparent;
    }
  }
}

.order-form__product-discount__title {
  @extend .order-form__product-count__title;
}

.btn.btn-danger.btn-number {
  border-color: rgba(142, 29, 30, 0.62);
  background: rgba(142, 29, 30, 0.62);
  background-image: -webkit-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: -moz-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: -ms-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: -o-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  color: #fff;
  &:hover {
    -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
    -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
    background: rgba(142, 20, 23, 0.88);
    border-color: #d86c1b;
    color: #fff;
  }
}

.btn.btn-success.btn-number {
  border-color: rgba(4, 142, 66, 0.62);
  background: rgba(4, 142, 66, 0.62);
  background-image: -webkit-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: -moz-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: -ms-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: -o-linear-gradient(180deg, rgba(142, 56, 56, .48), rgba(142, 29, 30, 0.62));
  background-image: linear-gradient(180deg, rgba(4, 142, 66, 0.62), rgba(14, 142, 35, 0.68));
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, .28), inset 0 1px 0 0 #ffa854;
  -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  color: #fff;
  &:hover {
    -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
    -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, .32), inset 0 1px 0 0 #ffa854;
    background: rgba(10, 142, 47, 0.78);
    border-color: -1px 1px 2px rgba(0, 133, 142, 0.74);
    color: #fff;
  }
}

.order-form__full-price {
  margin-top: 20px;
  border-top: 1px dotted #dadada;
  border-bottom: 1px dotted #dadada;
  padding: 20px;
  position: relative;
  margin-left: 15px;
  .order-form__full-price__title {
    position: absolute;
    left: 0;
    padding-left: 15px;
    line-height: 50px;
    color: $orderFormFontColor;
    font-size: 14px;
  }
  .order-form__full-price__price {
    text-align: center;
    font-size: 32px;
    padding-left: 70px;
    display: block;
  }
}

.order-form__product-count {
  .input-group-btn {
    padding-right: 34px;
    width: 112px;
    position: relative;
    //input form
    .input-number {
      outline: none;
      border: 1px solid #ddd;
    }
    .btn.btn-number {
      position: absolute;
      right: 0;
      width: 36px;
      height: 18px;
      padding: 0;
      line-height: 18px;
      color: #b4b4b4;
      outline: none;
      //up
      &[data-type="plus"] {
        top: 0;
        border: 1px solid #d9d9d9;
        border-color: #e2e2e2 #d9d9d9 #cbcbcb;
      }
      //down
      &[data-type="minus"] {
        bottom: 0;
        border: 1px solid #d9d9d9;
        border-color: #e2e2e2 #d9d9d9 #cbcbcb;
      }
    }
  }
}

#order_form-result__container {
  text-align: center;
  font-size: 20px;
  color: #2196f3;
}

.order-form__empty-cart {
  text-align: center;
  & > i {
    font-size: 75px;
    color: #2a2a2a;
  }
}