.sv-shopping-cart {
  cursor: pointer;
  position: relative;
  width: 160px;
  .sv-shopping-cart__price {
    display: block;
    top: 0;
    height: 60px;
    color: #fff;
    left: 60px;
    right: 0;
    line-height: 60px;
    text-align: center;
  }
}

.sv-shopping-cart__price {
  display: none;
  position: absolute;
}

.sv-shopping-cart__icon {
  font-size: 40px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin-left: 15px;
}

.sv-shopping-cart__count {
  box-sizing: content-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #fefefe;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  background-color: #ff734c;
  text-align: center;
  &.sv-shopping-cart__count-empty {
    background-color: $second_bg_color;
    border: 2px solid rgb(139, 139, 139);
  }
}

.sv-shopping-cart__products {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #000;
  z-index: 5;
  padding: 10px;
  border: 1px solid #ccc;
}

.sv-shopping-cart:hover .sv-shopping-cart__products {
  display: block;
}

.sv-shopping-cart__products {
  .order-form__product-title {
    font-size: 14px;
    height: 18px;
  }
  .order-form__product-price {
    font-size: 15px;
  }
  .popular-products__greed {
    width: 65px;
    height: 65px;
  }
  .order-form__products-item {
    padding-left: 75px;
  }
}