$primary-color: #007EF3;
.icon-main {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lp__form__label {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 50px;
  line-height: 40px;
  color: #959da6;
  font-weight: 300;
  right: 0;
  left: 0;
  z-index: 0;
  outline: 0;
  label {
    width: 100%;
    cursor: text;
  }
  &.shifted__label {
    bottom: 40px;
    label {
      position: absolute;
      top: 0;
      font-size: 11px;
      height: 20px;
      line-height: 20px;
      display: block;
      white-space: nowrap;
    }
  }
  &:before {
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    bottom: 0;
    font-size: 29px;
    line-height: 40px;
    @extend .icon-main;
  }
  &#form-control__name {
    &:before {
      content: "\E802";
    }
  }
  &#form-control__phone {
    &:before {
      content: "\E803";
    }
  }
  &#form-control__email {
    &:before {
      content: "\E807";
    }
  }
}

.form-control:focus + .lp__form__label {
  @extend .shifted__label;
  border-radius: 2px;
}

.lp__form__label + .form-control {
  font-size: 17px;
  padding-left: 50px;
  padding-top: 14px;
  padding-bottom: 1px;
  &:focus {
    box-shadow: inset 0px 0px 5px 0px rgb(100, 100, 100);
    border: 0;
  }
  &.lp__form__onfocus {
    outline: 0;
    box-shadow: inset 0px 0px 5px 0px rgb(100, 100, 100);
  }
}

.form-group.has-success .lp__form__label {
  &.shifted__label {
    color: $state-success-text;
  }
  &:before {
    color: $state-success-text;
  }
  &:after {
    @extend .icon-main;
    content: "\E813";
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    bottom: 0;
    font-size: 30px;
    line-height: 40px;
    color: $state-success-text;
  }
}

.form-group.has-error .lp__form__label {
  &.shifted__label {
    color: $state-danger-text;
  }
  &:before {
    color: $state-danger-text;
  }
  &:after {
    @extend .icon-main;
    content: "\E812";
    position: absolute;
    right: 0;
    display: block;
    top: 0;
    bottom: 0;
    font-size: 30px;
    line-height: 40px;
    color: $state-danger-text;
  }
}