[editable]

[Breadcrumbs Breadcrumbs2]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[BannerComponent]

[ShoppingCart]

[GeoApi]

[Breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[CategoriesList]
partial = "@default"
limit = 0

[renderForm renderForm3]
formCode = "obshaya-forma"

[renderForm renderForm2]
formCode = "forma-obratnogo-zvonka-skrytaya"

[renderForm]
formCode = "forma-obratnogo-zvonka"

[renderForm onClick]
formCode = "forma-kupit-v-odin-klik"

[renderForm formConsultation]
formCode = "forma-konsultacii"

[renderForm whatToImprove]
formCode = "whatToImprove"

[renderForm foundMistake]
formCode = "foundMistake"

[renderForm renderQuizForm]
formCode = "rezultat-oprosa"

[QuizComponent]
==
<?php
function onStart() {
    $this->page['page_slug'] = request()->segment(1);
if(empty($this->page['page_slug'])) {
$this->page['page_slug'] = 'home';
}
}
?>
==
<!DOCTYPE html>
<html lang="ru">
{% component 'GeoApi' %}
{% partial 'layouts/head' %}

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9PG76M" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="preloader">
        <div class="preloader__row">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>

    <header>
        <div class="header">
            {% partial 'layouts/top-header' %}
            {% partial 'layouts/header' %}

            {% if this.controller.getRouter().getUrl() == '/' %}
            <div class="banner-stub"></div>
            {% endif %}
        </div>
        {% if this.controller.getRouter().getUrl() == '/' %}
        <div class="banner">
            <div class="container">
                {% if BannerComponent.banner == null %}
                    <img src="{{ 'assets/images/banner.jpg'|theme }}" alt="banner" class="banner__img">
                {% endif %}
                {% partial 'partials/banner' %}
            </div>
        </div>
        {% endif %}
    </header>

    <div class="container">
        {% if this.controller.getRouter().getUrl() == '/' %}
        <h2 class="part__title col-md-12 d-none d-md-block">Лазерные маркеры - рейтинг популярных</h2>
        {% endif %}
        <div class="row" id="thml2pdf" itemscope itemtype="http://schema.org/Product">
            <div class="col-md-12 d-none d-md-block">
                {% if this.controller.getRouter().getUrl() != '/' %}
                {% component 'Breadcrumbs' %}
                {% endif %}
            </div>
            {% if this.controller.vars.Shop.type == 'product' or this.controller.vars.type_view == 'full' %}
            {% page %}
            {% else %}
            <div class="col-lg-9 col-md-8 order-12" id="content">
                {% page %}
            </div>
            <div class="col-lg-3 col-md-4 order-1" id="sidebar">
                {% partial 'layouts/sidebar' %}
            </div>
            {% endif %}
        </div>
    </div>

    {% if this.controller.getRouter().getUrl() == '/' %}

    <section class="block-work">
        <div class="container">
            <h2 class="block-work__title text-center"><span class="block-work__title--red">Гравировка</span> для всех
                типов отраслей</h2>
            <div class="row pt-5">
                <div class="col-xl-2 col-lg-4 col-md-6 px-2 pb-4">
                    <div class="block-work__image">
                        <img src="{{'assets/images/svg/tent.svg'|theme}}" alt="Военное производство">
                    </div>
                    <div class="block-work__name">Военное производство</div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 px-2 pb-4">
                    <div class="block-work__image">
                        <img src="{{'assets/images/svg/light-bulb.svg'|theme}}" alt="Электроника и Электротехника">
                    </div>
                    <div class="block-work__name">Электроника и Электротехника</div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 px-2 pb-4">
                    <div class="block-work__image">
                        <img src="{{'assets/images/svg/ring.svg'|theme}}" alt="Ювелирное производство">
                    </div>
                    <div class="block-work__name">Ювелирное производство</div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 px-2 pb-4">
                    <div class="block-work__image">
                        <img src="{{'assets/images/svg/present.svg'|theme}}" alt="Реклама и сувенирная продукция">
                    </div>
                    <div class="block-work__name">Реклама и сувенирная продукция</div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 px-2 pb-4">
                    <div class="block-work__image">
                        <img src="{{'assets/images/svg/factory.svg'|theme}}" alt="Реклама и сувенирная продукция">
                    </div>
                    <div class="block-work__name">Реклама и сувенирная продукция</div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 px-2 pb-4">
                    <div class="block-work__image">
                        <img src="{{'assets/images/svg/apparatus.svg'|theme}}" alt="Приборостроение">
                    </div>
                    <div class="block-work__name">Приборостроение</div>
                </div>
            </div>
            <div class="row pt-4 m-0">
                <div class="block-work__item col-xl-4 col-lg-6 col-md-6 p-0">
                    <img class="block-work__item-photo" src="{{'assets/images/block-work__img1.jpg'|theme}}" alt="work">
                </div>
                <div class="block-work__item col-xl-4 col-lg-6 col-md-6 p-0">
                    <img class="block-work__item-photo" src="{{'assets/images/block-work__img2.jpg'|theme}}" alt="work">
                </div>
                <div class="block-work__item col-xl-4 col-lg-6 col-md-6 p-0">
                    <img class="block-work__item-photo" src="{{'assets/images/block-work__img3.jpg'|theme}}" alt="work">
                </div>
                <div class="block-work__item col-xl-4 col-lg-6 col-md-6 p-0">
                    <img class="block-work__item-photo" src="{{'assets/images/block-work__img4.jpg'|theme}}" alt="work">
                </div>
                <div class="block-work__item col-xl-4 col-lg-6 col-md-6 p-0">
                    <img class="block-work__item-photo" src="{{'assets/images/block-work__img5.jpg'|theme}}" alt="work">
                </div>
                <div class="block-work__item col-xl-4 col-lg-6 col-md-6 p-0">
                    <img class="block-work__item-photo" src="{{'assets/images/block-work__img6.jpg'|theme}}" alt="work">
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="fill-application mt-5 mb-0">
            <div class="col-12 col-lg-6 p-3 p-lg-0">
                <h4 class="m-0 neutral-title-h4 text-center text-lg-left text-white">Подберем оборудование в 4 шага</h4>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
                <button class="b-btn b-btn--white-drenched-big2" data-toggle="modal" data-target="#modal-questionnaire">Подобрать оборудование</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-questionnaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            {% component 'QuizComponent' %}
{#            <form>#}
{#                <div class="modal-content modal-content-low">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title gotham-s-sm-medium row col-12" id="exampleModalLabel">#}
{#                            <div class="col-12 col-xl-6  text-xl-left">Подберем оборудование в 4 шага</div>#}
{#                            <div class="col-12 col-xl-6 pt-3 pt-xl-0 text-xl-right">Шаг 1</div>#}
{#                        </h5>#}
{#                        <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">#}
{#                            <img src="{{'assets/images/svg/white_close_icon.svg'|theme}}"> #}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body modal-body-low px-4 modal-questionnaire">#}
{#                        #}
{#                        <div class="row">#}
{#                            <div class="col-sm-6 text-center">#}
{#                                <div class="modal-questionnaire__image">#}
{#                                    <img src="{{'assets/images/questionnaire__img1.jpg'|theme}}" alt="questionnaire-image">#}
{#                                </div>#}
{#                                <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Резать</button>#}
{#                            </div>#}
{#                            <div class="col-sm-6 text-center">#}
{#                                <div class="modal-questionnaire__image">#}
{#                                    <img src="{{'assets/images/questionnaire__img2.jpg'|theme}}" alt="questionnaire-image">#}
{#                                </div>#}
{#                                <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Маркировать</button>#}
{#                            </div>#}
{#                            <div class="col-sm-6 text-center">#}
{#                                <div class="modal-questionnaire__image">#}
{#                                    <img src="{{'assets/images/questionnaire__img3.jpg'|theme}}" alt="questionnaire-image">#}
{#                                </div>#}
{#                                <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Гравировать</button>#}
{#                            </div>#}
{#                            <div class="col-sm-6 text-center">#}
{#                                <div class="modal-questionnaire__image">#}
{#                                    <img src="{{'assets/images/questionnaire__img4.jpg'|theme}}" alt="questionnaire-image">#}
{#                                </div>#}
{#                                <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Сваривать</button>#}
{#                            </div>#}
{#                        </div>#}

{#                        <!-- <div class="pl-md-5 pt-5">#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="1test" name="type" class="cart-page__input" checked="" value="1" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="1test">Фанера</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="2test" name="type" class="cart-page__input" value="2" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="2test">Ткань</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="3test" name="type" class="cart-page__input" value="3" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="3test">Металл</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="4test" name="type" class="cart-page__input" value="4" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="4test">Пластик</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="5test" name="type" class="cart-page__input" value="5" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="5test">ПВХ</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="6test" name="type" class="cart-page__input" value="6" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="6test">Акрил</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="7test" name="type" class="cart-page__input" value="7" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="7test">Оргстекло</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="8test" name="type" class="cart-page__input" value="8" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="8test">Пленка</label>#}
{#                            </div>#}
{#                        </div> -->#}

{#                        <!-- <div class="pl-md-5 pt-3">#}
{#                            <h6 class="pb-3">Лазерный станок СО2</h6>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="1test" name="type" class="cart-page__input" checked="" value="1" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="1test">Фанера</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="2test" name="type" class="cart-page__input" value="2" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="2test">Ткань</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="3test" name="type" class="cart-page__input" value="3" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="3test">Металл</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="4test" name="type" class="cart-page__input" value="4" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="4test">Пластик</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="5test" name="type" class="cart-page__input" value="5" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="5test">ПВХ</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="6test" name="type" class="cart-page__input" value="6" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="6test">Акрил</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="7test" name="type" class="cart-page__input" value="7" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="7test">Оргстекло</label>#}
{#                            </div>#}
{#                            <div class="cart-page__radio">#}
{#                                <input type="radio" id="8test" name="type" class="cart-page__input" value="8" data-shopcart-typecustomer="">#}
{#                                <label class="cart-page__label" for="8test">Пленка</label>#}
{#                            </div>#}
{#                        </div> -->#}

{#                        <!-- <div class="contacts pt-5">#}
{#                            <div id="contactsForm">#}
{#                                <div class="form-group d-lg-flex">#}
{#                                    <label for="NameQuestionnaire" class="mr-2">Ваше имя</label>#}
{#                                    <input type="text" class="cart-page__form-input" name="name" id="NameQuestionnaire" placeholder="имя" required style="width: 79%;">#}
{#                                </div>#}
{#                                <div class="form-group d-lg-flex">#}
{#                                    <label for="PhoneQuestionnaire" class="mr-2">Телефон</label>#}
{#                                    <input type="text" name="phone" id="PhoneQuestionnaire" value class="form_phone cart-page__form-input" placeholder="+7..." required style="width: 100%;">#}
{#                                </div>#}
{#                                <div class="form-group d-lg-flex">#}
{#                                    <label for="EmailQuestionnaire" class="mr-2">Электронная почта</label>#}
{#                                    <input type="email" class="cart-page__form-input" name="email" id="EmailQuestionnaire" placeholder="user@mail.com" required style="width: 62%;">#}
{#                                </div>#}
{#                                <div class="form-group d-lg-flex">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="modal-questionnaire__text-contacts text-center pt-md-5 mt-4">#}
{#                                <p>Спасибо за заполнение анкеты. Теперь мы знаем какое оборудование вам предложить!</p>#}
{#                                <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Получить предложение</button>#}
{#                            </div>#}
{#                        </div> -->#}

{#                    </div>#}
{#                    <div class="modal-footer pb-4 px-4 align-items-center justify-content-between">#}
{#                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Назад</button>#}
{#                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Далее</button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{#    <div class="modal-notification__questionnaire justify-content-center align-items-center">  #}
{#        <!-- modal-notification__questionnaire-show -->#}
{#        <div class="modal-notification__questionnaire-content d-flex justify-content-center">#}
{#            <h6 class="m-0">Анкета отправлена</h6>#}
        </div>
    </div>

    <section class="cards">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-3 col-md-12 cards__block-col p-0">
                    <a href="/graver-lazernyj" class="cards__block-link bg-red">
                        <h6 class="cards__block-title">Лазерные станки со2</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img1.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 cards__block-col p-0">
                    <a href="/metalorez-lazernyj" class="cards__block-link bg-blue">
                        <h6 class="cards__block-title">Металлорезчики</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img2.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-12 cards__block-col p-0">
                    <a href="/komplektuyushchie" class="cards__block-link bg-red">
                        <h6 class="cards__block-title">Комплектующие</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img3.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-12 cards__block-col p-0">
                    <a href="/marker-lazernyj" class="cards__block-link bg-violet">
                        <h6 class="cards__block-title">Лазерные маркеры</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img4.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-12 cards__block-col p-0">
                    <a href="/lazernaya-svarka" class="cards__block-link bg-skyey">
                        <h6 class="cards__block-title">Лазерная сварка</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img5.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-12 cards__block-col p-0">
                    <a href="/frezernye-stanki" class="cards__block-link bg-red">
                        <h6 class="cards__block-title">Фрезерные станки</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img6.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-12 cards__block-col p-0">
                    <a href="/truborezchiki" class="cards__block-link bg-blue">
                        <h6 class="cards__block-title">Труборезчики</h6>
                        <div class="cards__block-img">
                            <img src="{{'assets/images/cards-img7.png'|theme}}" alt="cards-img">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Сервис и обслуживание  -->
    <section class="service">
        <div class="container">
            <h2 class="service__title gotham-s-sm-medium">Сервис и обслуживание</h2>
            <div class="service__cards">
                <div class="service__cards-col">
                    <div>
                        <div class="service__cards-header">
                            <img src="{{'assets/images/gear1.png'|theme}}" alt="icon-service"
                                class="service__cards-img">
                            <div>
                                <div class="service__cards-title">Демонстрация</div>
                                <div class="service__cards-description">От 1 рабочего дня</div>
                            </div>
                        </div>
                        <p class="service__cards-text">
                            Важный этап в приобретении станка, демонстрация в офисе нашей
                            компании. Для удобства предварительно подготавливаются макеты и материал заказчика.
                            Рекомендуется за 24 часа выслать макеты маркировки, гравировки, резки. Демонстрация
                            проводится в офисе компании, штатным инженером.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="service__cards-link">Подробнее...</a>
                    </div>
                </div>

                <div class="service__cards-col">
                    <div>
                        <div class="service__cards-header">
                            <img src="{{'assets/images/magnifier-tool.png'|theme}}" alt="icon-service"
                                class="service__cards-img">
                            <div>
                                <div class="service__cards-title">Сервисный центр</div>
                                <div class="service__cards-description">От 1 рабочего дня</div>
                            </div>
                        </div>
                        <p class="service__cards-text">
                            Широкий спектр услуг: послепродажное обслуживание,
                            гарантийный ремонт, тюнинг оборудования,
                            пуско-наладочные работы, обучение, техподдержка,
                            всё это в рамках сервисного центра. Кроме того, услуги
                            распространяются на оборудование других брендов.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="service__cards-link">Подробнее...</a>
                    </div>
                </div>

                <div class="service__cards-col">
                    <div>
                        <div class="service__cards-header">
                            <img src="{{'assets/images/tool_113298.png'|theme}}" alt="icon-service"
                                class="service__cards-img">
                            <div>
                                <div class="service__cards-title">Гарантия</div>
                                <div class="service__cards-description">От 1 рабочего дня</div>
                            </div>
                        </div>
                        <p class="service__cards-text">
                            Гарантия на оборудование 12 месяцев, на отдельные
                            типы оборудования до 36 месяцев.
                            В рамках гарантии предоставляется бесплатное
                            обслуживание, консультации и рекомендации по
                            настройке оборудования.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="service__cards-link">Подробнее...</a>
                    </div>
                </div>

                <div class="service__cards-col">
                    <div>
                        <div class="service__cards-header">
                            <img src="{{'assets/images/literature.png'|theme}}" alt="icon-service"
                                class="service__cards-img">
                            <div>
                                <div class="service__cards-title">Контроль качества</div>
                                <div class="service__cards-description">От 1 рабочего дня</div>
                            </div>
                        </div>
                        <p class="service__cards-text">
                            В соответствии со стандартами качества, при
                            производстве оборудования на заводе,
                            комплектации перед отправкой и непосредственный
                            сборки на складе компании при получении,
                            осуществляется контроль качества.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="service__cards-link">Подробнее...</a>
                    </div>
                </div>

                <div class="service__cards-col">
                    <div>
                        <div class="service__cards-header">
                            <img src="{{'assets/images/literature.png'|theme}}" alt="icon-service"
                                class="service__cards-img">
                            <div>
                                <div class="service__cards-title">Прямые поставки. Лизинг</div>
                                <div class="service__cards-description">От 1 рабочего дня</div>
                            </div>
                        </div>
                        <p class="service__cards-text">
                            Для оптимизации сроков поставки и уменьшения
                            времени применяются варианты: морская,
                            железнодорожная и авиа доставка.
                            Доставка «под заказ» составляет всего 45 дней.
                            Возможно приобретение оборудования в лизинг.
                        </p>
                    </div>
                    <div>
                        <a href="#" class="service__cards-link">Подробнее...</a>
                    </div>
                </div>

                <div class="service__cards-col service__cards-bg">
                    <div>
                        <div class="service__cards-header">
                            <div>
                                <div class="service__cards-title">Быстрая консультация</div>
                            </div>
                        </div>
                        <p class="service__cards-text">
                            Напишите дежурному специалисту и получите консультацию!
                        </p>
                        <button class="b-btn b-btn--white-drenched">Начать чат</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-company">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 mb-lg-0 col-md-12 mb-md-3">
                    <h2 class="about-company__title mb-3">Компания "ЛазерТор"</h2>
                    <p class="about-company__text">Компания ЛазерТор, производит и поставляет
                        станки с ЧПУ, лазерные маркеры, лазерные
                        СО2 станки, фрезерные станки, станки для
                        обработки металла. География продаж и
                        специфика российского рынка, основывается
                        на опыте производства, поставок и
                        обслуживания оборудования, станков
                        с ЧПУ. Конструкторское бюро, предлагает
                        высоко профессиональный сервис
                        в каждом регионе Российской Федерации.
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 d-flex justify-content-lg-end justify-content-center">
                    <iframe width="358" height="253" src="https://www.youtube.com/embed/DCxrgTB-Zp0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- /Сервис и обслуживание  -->
    {% endif %}

    {% component 'ShoppingCart' %}
    {% partial 'layouts/footer' %}
    {% partial 'layouts/assets' %}
</body>

</html>