==
{% if not cities.isEmpty() %}
<div class="geoapi__city-current">
    {% if city %}
    <p id="selected-city">Ваш город:   <span>{{ city.name }}</span></p>
    {% endif %}
</div>

<div class="geoapi__cities-list__wrapper hidden">
    <a href="#" class="geoapi__cities-list__close"><i class="fas fa-times"></i></a>
    <div class="geoapi__cities-search__wrapper form-group">
        <label for="geoapi__cities-search-form__input">Поиск города</label>
        <br>
        <input type="text" placeholder="Начните вводить название города..." id="geoapi__cities-search-form__input">
    </div>
    <ul class="geoapi__cities-list">
    {% if GeoApi.api.city %}
        <li class="geoapi__cities-list_item">
            <a href="https://cvetograd.com" style="color: #37b3e6;">Сбросить</a>
        </li>
        {% endif %}
        {% for city in cities %}
        <li class="geoapi__cities-list_item">
            <a href="{{ url('http://' ~ city.domain ~ '.' ~ GeoApi.api.getDomain(true)) }}">{{ city.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}