==

<ul>
    {% for category in categories %}
        {% if category.parent_id == null %}
            <li>
                <a href="{{ category.slug }}">
                    <h2>
                        {% if category.ico %}
                            <span>
                    <img src="{{ category.ico|media }}">
                </span>
                        {% endif %}
                        {{ category.name }}
                    </h2>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
