==
<div class="bottom-header d-none d-xl-block" id="sub-catalog">
    <ul class="d-flex justify-content-center align-items-center p-0 m-0">
        {% set break = false %}
        {% for category in categories if not break %}
            {% if category.parent_id == null %}
                <li class="bottom-header__link">
                    <a href="/{{ category.slug }}">{{ category.name }}</a>
                </li>
            {% endif %}
            {% if loop.index0 >= 7 %}
                {% set break = true %}
            {% endif %}
        {% endfor %}
        {% if categories.count() < 8 %}
            <li class="bottom-header__link bottom-header__link--dop" id="dop-link">
                <span>ещё <i class="arrow-to-down"></i></span>
                <ul class="bottom-header__list-sub">
                    {% for category in categories.chunk(8).1 %}
                        {% if category.parent_id == null %}
                            <li>
                                <a href="/{{ category.slug }}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>

