.get_price {
  & > .get_price_button {
    display: block;
    text-transform: lowercase;
    color: $header_color;
    background-color: #007EF3;
    width: 230px;
    height: 37px;
    border-bottom: 2px solid #0029c2;
    text-align: center;
    line-height: 37px;
    &:hover {
      background-color: #0064c2;
      color: darken($header_color, 20%);
      text-decoration: none;
    }
  }
}