@mixin block_info($selector) {
  #{$selector}{
    border: 2px solid #BDC3C7;
    border-radius: 1px;
    padding: 20px;
    position: relative;
    margin: 50px auto;
    #{$selector}_title{
    position: absolute;
    top: -12px;
    margin: 0;
    text-transform: uppercase;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
    }
    #{$selector}_list{
    margin: 0;
    padding: 0;
    &>li{
      list-style: none;
      padding: 9px 0;
    }
  }
  }
}
