ul.oglavl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.oglavl li {
  border-bottom: 1px dotted #C2C2C2;
  position: relative;
  padding: 0;
  margin-bottom:5px;
}
ul.oglavl li span {
  background-color: #FFF;
  margin: 0;
}
ul.oglavl li span.oglavl__text, ul.oglavl li span.oglavl__val {
  bottom: -5px;
}

ul.oglavl span.oglavl__text {
  position :relative;
  margin-right:7em;
  padding-right:2px;
  white-space: nowrap;
}

ul.oglavl span.oglavl__val {
  position: absolute;
  right: 0;
  padding-left:2px;
}