@import "../../../../../../node_modules/bootstrap-select/sass/bootstrap-select";

.portal-filter {

}

#portal-filter__form {
  border: 1px solid darken(#f5f5f5, 20%);
  background: #f5f5f5;
  padding: 17px;
}

.portal-filter__slider {
  text-align: center;
}

.portal-filter__title {
  text-align: center;
}

.portal-filter__form {
  label {
    width: 35%;
    input {
      max-width: 100%;
    }
  }
}

.portal-filter__form {
  margin-bottom: 0;
}

.portal-filter__form-checkbox {
  label {
    height: 25px;
    font-weight: 200;
    font-size: 18px;
  }
  .checkbox {
    line-height: 18px;
  }
  .form-group {
    margin-bottom: 20px;
  }
}

.portal-filter__form-buttons__wrapper {
  padding-top: 29px;
  text-align: center;
  .form-group {
    position: relative;
    float: right;
  }
  .portal-filter__form-submit, .portal-filter__form-reset {
    outline: none;
    margin-top: 10px;
    min-width: 120px;
  }
}

.portal-filter__row-last {
  padding-top: 10px;
}

.slider-handle.round {
  border-radius: 0;
}

.slider.slider-horizontal .slider-handle, .slider.slider-horizontal .slider-tick {
  width: 10px;
  margin-left: 0;
}

.slider-handle {
  background-color: $color_bright;
  background-image: -moz-linear-gradient(top, $color_bright, darken($color_bright, 10%));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($color_bright), to( darken($color_bright, 10%)));
  background-image: -webkit-linear-gradient(top, $color_bright, darken($color_bright, 10%));
  background-image: -o-linear-gradient(top, $color_bright, darken($color_bright, 10%));
  background-image: linear-gradient(to bottom, $color_bright, darken($color_bright, 10%));
}

@media (max-width: $screen-lg-min) {
  .slider.slider-horizontal {
    width: 150px;
  }
}