.contact_info {
  width: 100%;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
}

.svetograd__submit-btn {
  background: $color_bright;
  color: #fff;
  padding: 15px 30px;
  @media (min-width: $screen-sm-min) {
    margin-left: 22%;
  }
}

.svetograd_form__wrapper {
  .nav-tabs {
    text-align: center;
  }
  .nav-tabs > li {
    float: none;
    display: inline-block;
  }
}