.characteristics_title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #3c3c3c;
  margin-bottom: 12px;
}

.characteristics {
  margin-bottom: 28px;
  list-style-type: none;
  padding: 0;
}

.characteristics li {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  padding: 8px 10px;
  box-sizing: border-box;
}

.characteristics li:nth-child(odd) {
  background-color: #f5f5f5;
}

.characteristics li:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.characteristics .label {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #787878;
  text-align: left;
  font-weight: normal;
}

.characteristics .value {
  float: right;
}

.plan_banner {
  font-size: 0;
}

.plan_banner img {
  height: auto;
  display: inline-block;
}

.additional_images {
  list-style-type: none;
  width: 100%;
  font-size: 0;
  margin-bottom: 60px;
}

.additional_images li {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.additional_images li img {
  width: 100%;
  height: auto;
}

.characteristics li {
  &:hover {
    background-color: $color_bright;
    color: #fff;
    .label {
      color: #fff;
    }
  }
}

.title {
  padding: 0 15px;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.4em;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.4em;
    margin-bottom: 20px;
  }
}

.contact_info {
  width: 100%;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
}

.about-viled-container {
  @extend .container;
  text-align: justify;
  h1, h2 {
    padding: 0 15px;
  }
}

.advantages {
  margin-bottom: 50px;
  text-align: left;
  color: #5a5a5a;
  @include clearfix;
}

.advantages h1 {
  margin-left: 20px;
}

.advantages__block {
  float: left;
  width: 33%;
  margin: 0 0 30px;
}

.advantages__bg {
  font-size: 200px;
  color: #00aeef;
  padding: 0 20px;
  position: relative;
}

.advantages__bg--ruble:after {
  content: '';
  position: absolute;
  bottom: 80px;
  left: 15px;
  height: 15px;
  width: 100px;
  background-color: #00aeef;
}

.advantages__text {
  font-size: 16px;
  padding: 0 20px;
}

.history {
  text-align: left;
  margin-bottom: 50px;
  color: #5a5a5a;
  @include clearfix;
}

.history h1 {
  margin-left: 20px;
}

.history__block {
  position: relative;
  float: left;
  padding: 20px 0;
}

.history__block--25 {
  width: 25%;
}

.history__block--50 {
  width: 50%;
}

.history__year {
  position: relative;
  display: inline-block;
  z-index: 5;
  font-size: 32px;
  margin: 0 20px;
  padding: 0 20px 0 0;
  background: #fff;
  font-weight: 700;
}

.history__text {
  font-size: 16px;
  margin: 20px 20px 0;
}

.history__text--100 {
  width: calc(200% - 40px);
  margin: 20px 0 0 20px;
}

.history__arrow {
  position: absolute;
  left: 30px;
  top: 40px;
  z-index: 0;
  height: 1px;
  width: calc(100% - 60px);
  background-color: #e4489a;
}

.history__arrow:after {
  content: '';
  position: absolute;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translate(50%, -50%);
  border: 5px solid transparent;
  border-left: 10px solid #e4489a;
}

.history__dashed-line {
  position: absolute;
  border-bottom: 1px dashed #e4489a;
  left: 30px;
  top: 40px;
  z-index: 0;
  width: calc(100% - 60px);
}

.history__dashed-line:before {
  content: '';
  position: absolute;
  left: 80px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e4489a;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translate(50%, -50%);
}

.navyblue {
  color: #00aeef;
}

.today {
  margin-bottom: 50px;
  color: #5a5a5a;
  @include clearfix;
}

.today h1 {
  margin-left: 20px;
}

.today__block {
  float: left;
  width: 20%;
  text-align: center;
}

.today__pic {
  position: relative;
  height: 450px;
  vertical-align: bottom;
}

.today__pic img {
  max-width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 80px;
  height: 80px;
}

.today__border {

}

.today__border:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border: 2px solid #00aeef;
  border-radius: 50%;
}

.today__border:after {
  content: '';
  width: 2px;
  background-color: #00aeef;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.today__block1 .today__border img {
  bottom: 100px;
}

.today__block1 .today__border:before {
  bottom: 60px;
}

.today__block1 .today__border:after {
  height: 60px;
}

.today__block2 .today__border img {
  bottom: 150px;
}

.today__block2 .today__border:before {
  bottom: 110px;
}

.today__block2 .today__border:after {
  height: 110px;
}

.today__block3 .today__border img {
  bottom: 200px;
}

.today__block3 .today__border:before {
  bottom: 160px;
}

.today__block3 .today__border:after {
  height: 160px;
}

.today__block4 .today__border img {
  bottom: 250px;
}

.today__block4 .today__border:before {
  bottom: 210px;
}

.today__block4 .today__border:after {
  height: 210px;
}

.today__block5 .today__border img {
  bottom: 300px;
}

.today__block5 .today__border:before {
  bottom: 260px;
}

.today__block5 .today__border:after {
  height: 260px;
}

.today__pic:after {
  content: '';
  height: 2px;
  width: 80%;
  background-color: #00aeef;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.today__figures {
  font-size: 32px;
  margin: 30px 0 10px;
  padding: 0 20px;
}

.today__text {
  font-size: 16px;
  padding: 0 20px;
}