description = "Для вывода в xml"
==
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in map %}
    {% if item.url %}
    <url>
          <loc>{{ item.url }}</loc>
          <changefreq>monthly</changefreq>
          <priority>0.8</priority>
        </url>
    {% endif %}
    {% if item.children %}
        {% for child in item.children %}
    <url>
          <loc>{{ child.url }}</loc>
          <changefreq>monthly</changefreq>
          <priority>0.9</priority>
        </url>
        {% endfor %}
    {% endif %}
{% endfor %}
</urlset>