<h1>Как подобрать промышленный светодиодный светильник? </h1>
<p>Подбор светодиодных светильников для организации системы освещения промышленного объекта весьма сложная задача,требующая одновременного учета многих факторов. О двух самых важных мы поговорим в этой статье.</p>

<h2>Планировка помещения, характер производства</h2>
<p>В зависимости от планировки помещения, а именно высоты подвеса, возможности крепления светильников и специфики освещения, светодиодные промышленные светильники делятся на две категории:</p>
<ul>
<li>без применения вторичной оптики (преимущественно кривая силы света “Д” (косинусная)</li>
<li>с применением вторичной оптики (линз), данные имеют различные кривые силы света (КСС), преимущественно направленные с углами светового потока 15º, 30º, 60º.</li>
</ul>
<p>По требованиям к типу производств , то тут основной аспект наличие или отсутствие у светильников класса взрывозащиты, если данное требование имеется.</p>
<p>Что касается степени защиты от проникновения пыли и влаги, то большинство промышленных светильников имеет минимальную степень защиты IP54. Наиболее подходящим (рекомендуемым) решением является установка промышленных светодиодных светильников со степенями защиты от пыли и влаги IP65 и IP67.</p> 
<span>Таблица расшифровки степеней защиты IP.</span>
<img src="https://cvetograd.com/storage/app/media/images/products/ip2.png">

<h2>Экономический эффект от светильника</h2>
<p>Стоимость электроэнергии непреклонно растет из года в год поэтому, переход на более экономичные светодиодные светильники становится всё наиболее актуальным.</p>
<p>Но ввиду большого количества различных моделей промышленного светодиодного освещения, их брендов, различных составляющих светильника и т.д. цены на примерно одинаковые по качеству и надежности модели светильников могут в разы отличаться, в данной ситуации, важно не торопиться, а основательно разобраться, что позволит избежать переплаты. Смотреть нужно на следующие показатели:</p>
<ul>
<li>Страна происхождения. Старайтесь приобрести светильники произведенные на предприятиях, расположенных на территории России. Таким образом вы минимизируете риски при гарантийном случае, а также значительно сократите сроки замены по гарантии.</li> 
<li>Гарантия не менее 3 лет. Большинство производителей, применяемых в своём производстве качественные комплектующие, дают на свою продукцию минимум 3 года гарантии, некоторые и 5 лет, в то время, как на “китайскую” продукцию в основном всего 1-2 года гарантии.</li> 
<li>Показатель световой эффективности Лм/Вт. Для того, чтобы получить максимальную экономию, требуется светильник с максимальным световым потоком, при минимальной мощности, что позволит добиться нужного уровня освещенности, сэкономив максимум электроэнергии. Для того, чтобы ориентироваться и вывести данный показатель, требуется световой поток светильника (Лм) разделить на его мощность (Вт). Показатели, которые считаются достаточными - это свидетельствует о применении хороших светодиодов и качественного источника питания, является не менее 120 лм/вт.</li> 
<li>Показатель срока окупаемости. Показатель срока окупаемости напрямую зависит от стоимости светильника и суммы, которую он будет Вам экономить в сравнении с традиционным источником света. Если все перечисленные выше показатели вас устроили, и у вас несколько вариантов, то стоит выбирать наиболее дешевый, тем самым уменьшая сроки окупаемости. Сроки окупаемости обязательно должны быть ниже, чем гарантийный период на светильник, такой подход максимально защитит ваши вложения в освещения и гарантированно принесёт Вам прибыль от перехода на светодиодное освещение.</li>
</ul>
<p>Если у вас остались вопросы, то можете обратиться к нашим менеджерам, они с удовольствием вас проконсультируют тел: <a href="tel:84951081941">8(495)108-19-41</a> или по почте <a href="mailto:info@l-svet.com">info@l-svet.com</a></p>