<h1>Как определить качественный светильник</h1>
<p>При первом подборе светодиодного светильника, заказчик сталкивается с большим количеством различных технических характеристик, не все из которых являются ключевыми, определяющими качество светильника. В данной статье мы остановимся на 3 характеристиках, которые позволят сделать правильный выбор в пользу качественного светодиодного освещения.</p>

<h2>Показатель эффективности светильника, Лм/Вт</h2>
<p>Показатель эффективности светильника рассчитывается из показателя светового потока (Лм) разделенного на мощность светильника (Вт). Данный показатель показывает сколько светового потока светильник выдает с одного ватта затраченной мощности, соответственно чем выше данный показатель тем лучше. Данный показатель зависит от КПД источника питания, от световой эффективности светодиодов, а также конструктива и материала рассеивателя. У современных качественных светильников данный показатель имеет значение более 120 Лм/Вт.</p>

<h2>Качественный источник питания (драйвер)</h2>
<p>Источник питания светильника является его самым важным элементов, так как именно от него зависит большая часть показателей светильника, а также его надежность и работоспособность. В России качества электроэнергии (скачки напряжения, несинусоидальность, наличие высших гармоник и т.д.) является основным губительным фактором для источника питания светодиодного светильника. Дешевые “китайские” источники питания не могут долго проработать в подобных условиях, ввиду чего светильники выходят из строя. Применение источников питания российского производства (Аргос, Ирбис и т.д.), а также качественные иностранные аналоги (“MEAN WELL”, “Vossloh Schwabe” и другие), изготовлены из качественных компонентов и адаптированы под российские реалии и прослужат значительно дольше. Всегда узнавайте у производителя источники питания какого производителя он использует в своих светильниках.</p> 

<h2>Коэффициент пульсации светового потока, %</h2>
<p>Показатель коэффициента пульсации светового потока является одним из важнейших факторов, так как уровень пульсации влияет на самочувствие людей, находящихся в зоне освещения. Чем ниже уровень пульсации, тем комфортнее человеку находиться под освещением. Коэффициент пульсации зависит от источника питания, дешёвые “китайские” источники питания имеют коэффициент пульсации 10-25%, в то время, как качественные российские источники питания, к примеру “Аргос”, имеют коэффициент пульсации <1%. всегда обращайте внимание на данный показатель, при выборе светодиодных светильников.</p>