<div class="sv-favorites hidden">
        <div class="row align-items-center cart-top">
            <div class="col-md-8">
                <h2>
                    Отложено (<span data-shopfavorites-count>{{ products.count }}</span>)
                    <span data-shopfavorites-label-product="" data-label-default="товар">товар</span>
                </h2>
            </div>
            <div class="col-md-4 text-right">
                <button type="button"
                        class="btn btn-primary"
                        data-request-success="svFavorites.afterReset.call(this)"
                        data-shopfavorites-reset
                        {% if products.count() == 0 %} disabled{% endif %}
                        data-request="onProductsResetFromFavorites">
                    <i class="fas fa-times"></i>Очистить
                </button>
            </div>
        </div>
        <div id="cart-content">
            <div class="row align-items-center cart-row table-header">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <p class="name">Наименование</p>
                </div>
                <div class="col-md-2">
                    <p class="price">Цена</p>
                </div>
                <div class="col-md-1">
                    <p class="del">Удалить</p>
                </div>
            </div>
            <div class="order-form__produts-area" data-shopfavorites-area>
                {% if products.count() > 0 %}
                {% for product in products %}
                {% partial '@item' product=product%}
                {% endfor %}
                {% endif %}
            </div>
            <div class="row cart-chack sv-shopping-cart__info">
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-primary" id="go-page">Продолжить покупки
                    </button>
                    <p>Вернуться к выбору товаров</p>
                </div>

                <div class="col-md-6">
                    <a href="/favorites" class="btn btn-primary form-control">Перейти в избранное</a>
                </div>
            </div>
        </div>
</div>