<div class="row align-items-center cart-row order-form__products-item"
     data-request-data="id: {{ product.id }}"
     data-shopfavorites-item
     data-id="{{ product.id }}">
    <div class="col-md-1">
        <a href="/{{ product.slug }}">
            <img src="{{ product.image.image|media }}" class="img-fluid" alt="{{ product.name }}"
                 title="{{ product.name }}">
        </a>
    </div>
    <div class="col-md-4">
        <p class="name">{{ product.name }}</p>
    </div>
    <div class="col-md-2">
        <p class="price">{{ priceFormatting(product.price) }} руб.</p>
    </div>
    <div class="col-md-1">
        <p class="del">
            <button type="button"
                    class="btn btn-link"
                    data-id="{{ product.id }}"
                    data-request="onProductDeleteFromFavorites"
                    data-request-success="svFavorites.afterDelete.call(this, context, data)"
            >
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
        </p>
    </div>
</div>