==
<div class="modal-block-filter">
    <div id="block-filter">
        <button id="block-filter-close" class="block-filter-close"></button>
        <form method="get">
        <h6 class="block-filter__title">Фильтр по параметрам</h6>
        <div class="part__line-bottom"></div>
        <div class="pt-2">Цена</div>
        <div class="row form-group form-inline m-fltr__form m-fltr__minmax mb-4 pt-2">
            <div class="m-fltr__col m-fltr__col--mx pr-xl-2">
                <label>
                    <input
                            name="price[0]"
                            type="number"
                            class="block-filter__input m-fltr__form-price-from m-fltr__slider-minmax"
                            data-svfilter-type="min"
                            id="filter-price-min"
                            value="{{ input('filter_price_from', 0) }}"
                            data-minprice=""
                            placeholder="от 0 &#8381;"
                    >
                </label>
            </div>
            <div class="m-fltr__col m-fltr__col--mx pl-xl-2">
                <label>
                    <input
                            name="price[1]"
                            type="number"
                            class="block-filter__input m-fltr__form-price-to m-fltr__slider-minmax"
                            data-svfilter-type="max"
                            value="{{ input('filter_price_to', counter.price) }}"
                            id="filter-price-max"
                            data-maxprice=""
                            placeholder="до 74250 &#8381;"
                    >
                </label>
            </div>
        </div>
        <div id="slider-1"
            data-min="0"
            data-max="{{ counter.price }}"
            data-from="{{ input('filter_price_from', 0) }}"
            data-to="{{ input('filter_price_to', counter.price) }}"
            data-name="filter_price"
            data-target-min="filter-price-min"
            data-target-max="filter-price-max"
            class="c-filter-slider"></div>

        <ul class="filter__list">
            {% for key, filter in filters %}
            <li>
                <div class="filter__item filter__item-arrow">{{filter.name}}<i class="arrow-to-down"></i></div>
                <ul class="filter__item-sub">
                    {% for value in filter.values %}
                        <li>
                            <label class="row filter__item-sub__label">
                                <div class="col-8 p-0">{{ value }}</div>
                                <div class="col-4">
                                    <input type="checkbox" name="{{ key }}[]" value="{{ value }}" {{ in_array(value, input(key)) ? ' checked': '' }}> 
                                    <span class="filter__item-sub__checkmark"></span>
                                </div>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    <div class="form-group form-inline c-filter__btns">
    {#    <button type="submit" class="btn btn-primary" id="filter_submit">Применить</button>#}
    {#    <button type="button" class="btn btn-default" id="filter_reset">Сбросить</button>#}
        <button class="b-btn b-btn--filter-drenched mb-3">Применить</button>
        <a href="{{ url(currentCategory.slug) }}" class="b-btn b-btn--filter-border mb-3">Сбросить</a>
    </div>
        </form>
    </div>
</div>    