#footer {
  position: absolute;
  width: 100%;
  color: #969696;
  a {
    color: #969696;
    &:hover, &:active {
      color: #fff;
    }
  }
  .footer_big {
    margin: 0 auto;
    padding: 40px 5px 0;
  }
  .first_block-container {
    font-size: 14px;
  }
  .second_block-container {
    font-size: 14px;
    margin: 0 auto;
    width: 70%;
    p {
      margin-bottom: 4px;
    }
  }
  .footer_title {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    &:after {
      content: "";
      display: block;
      border: 1px solid #fff;
      width: 20%;
    }
    &.place_of_use__title {
      margin-top: 0;
    }
  }
  #footer_logo {
    background: url("../images/logo-white.png") no-repeat;
    background-size: contain;
    width: 165px;
    height: 70px;
    margin-bottom: 30px;
  }
  .footer_copyright {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    hr {
      background: #fff;
      margin: 5px 0 15px;
      width: 100%;
    }
  }
  .footer_calibry_block {
    width: 200px;
    position: absolute;
    bottom: 0;
    .calibri_container {
      min-height: 150px;
      position: relative;
      @media (max-width: 1450px) {
        top: -150px;
      }
    }
  }
  .footer_down_links {
    hr {
      margin-bottom: 5px;
    }
  }
  .footer_down_links a {
    margin: -2px 50px 3px 0;
    display: inline-block;
    padding: 5px;
  }
}

.footer_long-block {
  max-width: 1400px;
  margin: 0 auto;
}

.popular-products__greed {
  display: inline-block;
  border: 3px solid #959595;
  border-radius: 3px;
  margin: 5px;
  width: 75px;
  height: 75px;
  background: #fff;
  text-align: center;
  line-height: 55px;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}