.product-wrap {
  height: 100%;
}

.product-small-card, .product-small-card > a {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: normal;
  .price {
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}

.product-small-card__image {
  display: block;
  width: 100%;
  text-align: center;
}

.properties {
  display: block;
  width: 100%;
}

.product-button-wrap {
  width: 100%;
}