.slider_box {
  background: #1c1c1c;
  .item {
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
}

.slide-icon {
  font-size: 30px;
  top: 50%;
  margin-top: -21px;
  position: absolute;
  &.icon-left-open {
    left: 10%
  }
  &.icon-right-open {
    right: 10%
  }
}

.slider_offer__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 10%;
}

.slider_offer {
  margin: 40px 19%;
  max-width: 660px;
  color: #fff;
  font-weight: lighter;
  @media (max-width: 580px) {
    margin: 40px 5px;
  }
}

.slider_offer_title {
  font-size: 60px;
  line-height: 47px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.slider_offer_text {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 28.8px;
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.slider_offer_content {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  p {
    margin: 0;
  }
  a {
    color: #fff;
    text-decoration: underline;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 1200px) {
  .slider_offer_title {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .slider_offer_text {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .slider_offer_content {
    font-size: 15px;
  }
}

#slider_presentation {
  max-width: 2200px;
  margin: 0 auto;
  .carousel-indicators {
    bottom: 0;
    li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin: 0 5px;
      border: 1px solid #222222;
      &.active {
        background: rgba(0, 0, 0, 0.53);
      }
    }
  }
}

.home_slider__btn {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
}