<h1>Гарантия</h1>
<!-- <p>На всю светодиодную продукцию торговой марки “Новый Век” распространяется гарантия от 3-х до 5-и лет (см. паспорт)</p> 
<p>Для оформления гарантийного случая, требуется скачать и заполнить “Гарантийный бланк”, электронную копию бланка прислать на электронную почту <a href="mailto:info@l-svet.com">info@l-svet.com</a>, а оригинал отправить вместе со светильником.</p> 

<p>Светильник отправляется на производство по адресу: 400059, г. Волгоград, ул. Никитина, дом 2. Оплата доставки осуществляется силами и за счёт покупателя.</p> 

<p>Срок рассмотрения гарантийного обращения - 5 рабочих дней. При гарантийном случае, обратная отправка светильника осуществляется силами и за счёт производителя (продавца).</p> 

<p>Опережающая замена. При отсутствии возможности ожидания замены(ремонта) светильника или высоких трудозатрат на демонтаж/монтаж светильника, возможен вариант опережающей замены. В данном варианте после обращения, новый светильник отправляется клиенту сразу, до прихода вышедшего из строя светильника. Данная опция позволяет значительно сократить сроки гарантийной замены, а также снизить трудозатраты. Условия опережающей замены оговариваются индивидуально с менеджерами компании.</p>  -->

<h3>Правила отправки рекламации.</h3>
<ol>
<li>Составить акт рекламации с описанием неисправности, указанием модели, количества и даты приобретения светильника, а также информацией для обратной отправки (направление, грузополучатель, контактные данные и ф.и.о. ответственного лица).</li>
<li>Выслать Акт рекламации на эл. Почту <span style="color: #000000;"><strong><a style="color: #000000;" href="mailto:service@novo-vek.ru">service@novo-vek.ru</a></strong></span></li>
<li>В течении 1-2 рабочих дней Вам позвонит менеджер и уточнит дату отправки светильников. После уточнения удобного времени отправки менеджер присылает в обратном письме трек номер для отправки груза.</li>
</ol>
<p><strong>ВНИМАНИЕ! Отправка в адрес Поставщика без подтверждения возможна только за счет отправителя.</strong></p>
<ol start="4">
<li>Светильник отправляется в адрес Поставщика только с Терминала транспортной компании ДПД за счет Поставщика, с обязательным приложением сопровождающих документов (акт рекламации (2 экз.), копия УПД по которой приобретался светильник). Светильник ОБЯЗАТЕЛЬНО должен быть упакован в картонную упаковку обеспечивающую его сохранность при транспортировке. На коробку неисправного светильника необходимо нанести маркером информацию с названием вашей компании, пометкой &laquo;рекламация&raquo; и датой отправки.</li>
<li>После получения неисправного светильника, Поставщик принимает решение о возможности или не возможности проведения гарантийного ремонта.</li>
<li>В случае гарантийного ремонта, Поставщик проводит ремонт и отправляет отремонтированный светильник в адрес Покупатель за свой счет.</li>
<li>В случае не гарантийного ремонта, производитель выставляет счет на ремонт с учетом понесенных транспортных расходов Покупателю. Покупатель в 10-ти дневный срок должен проинформировать Поставщика в письменном виде о своем решении (см.п.9). Отремонтированный не гарантийный светильник отправляется в адрес Покупателя за его счет.</li>
<li>В случае отказа от не гарантийного ремонта, Покупатель в праве забрать светильник за свой счет, только после возмещения Поставщику транспортных расходов связанных с забором светильников от Покупателя.</li>
<li>Срок хранения не гарантийного оборудования без выбранного дальнейшего действия с ним &ndash; 10 рабочих дней. Далее оборудование утилизируется.</li>
</ol> 

<h2>Гарантийные обязательства:</h2>
<ul>
<li>Продавец гарантирует высокое качество и надежную работоспособность светодиодных светильников в течение гарантийного срока при соблюдении, указанной в паспорте на изделие, инструкции по эксплуатации;</li>
<li>Гарантия распространяется только на производственный брак;</li>
<li>Возвращаемый по гарантии светильник должен отправляться по гарантии чистый, с читаемой заводской маркировкой или фирменной наклейкой;</li>
<li>Замена светодиодного светильника производится по выявленным в ходе проверки дефектам производственного характера.</li>
</ul>
<h2>Гарантия не распространяется в следующих случаях:</h2>
<ul>
<li>Несоблюдение требований, указанных в техническом паспорте на изделие, правил эксплуатации, или мер безопасности;</li>
<li>Наличие механических повреждений светильника;</li>
<li>Использование светодиодного светильника не по прямому назначению;</li>
<li>При отсутствии возможности подтверждения даты приобретения или даты производства светильника.</li>
</ul>

                            <p>Акт рекламации</p>
                            <a class="download__link" target="_blank" href="https://novo-vek.ru/storage/app/media/documents/akt_reklamacii.docx">
                                <span class="download__btn">
                                    <strong>Скачать</strong>
                                </span>
                                <img src="https://novo-vek.ru/storage/app/media/images/demo/img-10.png" alt="">
                            </a>