<h1>Изготовление светодиодных светильников по техническому заданию ТЗ заказчика</h1>
<p>Наша компания, являясь производителем, обладает собственными производственными мощностями и квалифицированным конструкторским отделом, имеет возможность производить светильники по индивидуальному техническому заданию заказчика.</p> 
<p>Возможна как разработка принципиально новых моделей светильников по требованиям Заказчика, так и модернизация имеющихся моделей с изменением габаритов, мощности, способов крепления, названия (артикулов) и других характеристик.</p> 
<p>Минимальная партия светильников, стоимость, сроки разработки и другие подробности оговаривается индивидуально после ознакомления с ТЗ Заказчика.</p> 
<p>По вопросам разработки светильника по индивидуальному техническому заданию Вы можете обратиться к менеджеру по телефону {{GeoApi.phone_number}} или по электронной почте <a href="mailto:info@l-svet.com">info@l-svet.com</a></p>