<h1>Светильники для тендера</h1>
<p>Наша компания по индивидуальному заданию заказчика готова произвести офисные, промышленный, уличные светильники различных типов, размеров и характеристик. Данная услуга актуальна для компаний принимающих участие в тендерах где требуется полное соответствие с техническим заданием заказчика.</p> 
<p>Стоимость, минимальная партия, сроки разработки и другие подробности оговаривается индивидуально после ознакомления с ТЗ Заказчика.</p>
<p>По вопросам разработки светильника по индивидуальному техническому заданию Вы можете обратиться к менеджеру по телефону <a href=tel:+74957987994>+7(495) 79-87-994</a> или по электронной почте <a href="mailto:info@cvetograd.com">info@cvetograd.com</a></p>