<h1>Условия доставки продукции</h1>

<h4>Самовывоз</h4>

<p>Забрать товар возможно самостоятельно со склада: г. Санкт-Петербург.
</br>Перед приездом для подготовки документов и товара к отгрузке просим связаться с менеджером нашей компании по телефону 
</br>+7 (495) 108-19-41
</p>

<p>Адрес: г. Санкт-Петербург, пр. Девятого Января, д.57.</p>

<p>Время работы: Пн-Пт с 09:00-17:00 по мск.</p>

<p>Примечание: возможность самовывоза и наличие товара на складе уточняйте &nbsp;у менеджера.</p>

<h4>Доставка транспортными компаниями</h4>

<p>Наиболее распространённым вариантом доставки является отправка через транспортную компанию. Стоимость доставки рассчитывается индивидуально, в зависимости от веса и объёма груза. Стоимость доставки может быть включена в стоимость товара, возможна оплата непосредственно при получении груза в транспортной компании. Сроки доставки зависят от региона доставки и варьируется от 2 дней до 2 недель.</p>

<p>&nbsp;</p>

<p>Мы работаем со следующими транспортными компаниями:</p>

<p>ТК &quot;DPD&quot; &nbsp;&nbsp;<a href="https://www.dpd.ru/">https://www.dpd.ru/</a></p>

<p>Деловые Линии <a href="http://www.dellin.ru/">http://www.dellin.ru/</a>;</p>

<p>ТК &quot;ПЭК&quot; <a href="http://www.pecom.ru/">http://www.pecom.ru/</a>;</p>

<p>ТК &quot;КИТ&quot; <a href="http://www.tk-kit.ru/">http://www.tk-kit.ru/</a>;</p>

<p>ТК &ldquo;Байкал-Сервис&rdquo; <a href="https://www.baikalsr.ru">https://www.baikalsr.ru</a></p>