<div class="modal fade" id="getSpecialPrice" tabindex="-1" role="dialog" aria-labelledby="specialPriceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <!--            <form data-request="{{ __SELF__ }}::onSendLowPriceForm">-->
        <form data-request="onSendSpecialPriceForm"
              data-request-success="svOrder.afterSubmitSpecialPrice(this, context, data)">
            <div class="modal-content" id="modal-content-low-price">
                <div class="modal-header">
                    <h5 class="modal-title gotham-s-sm-medium">Заявка на получения спец цены</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="position: absolute; right: 3px; top: -29px; opacity: 10;">
                        <!-- <span aria-hidden="true">&times;</span> -->
                        <img src="{{ 'assets/images/white_close_icon.svg'|theme }}" style="width: 20px;">
                    </button>
                </div>
                <div class="modal-body modal-body-special-price" id="modal-body-low-price">
                    <img src="{{ product.images[0].image|mediathumb_resize('width', 200) }}" class="img-fluid"/>
                    <div class="info">
                        <h1 class="text-uppercase gotham-s-sm-medium">{{ product.name }}</h1>
                        <textarea class="cart-page__form-textarea" placeholder="Комментарий" name="comment"
                                  rows="3"></textarea>
                        <br>
                    </div>
                    <div class="contacts">
                        <div id="contactsForm">
                            <div class="form-group d-flex">
                                <label for="otherSpecialPrice" class="mr-2">Название компании</label>
                                <input type="text" class="cart-page__form-input" name="companyName"
                                       id="otherSpecialPrice" placeholder="название компании" style="width: 59.4%;">
                            </div>
                            <div class="form-group d-flex">
                                <label for="YourNameForSpecialPrice" class="mr-2">Имя</label>
                                <input type="text" class="cart-page__form-input" name="name"
                                       id="YourNameForSpecialPrice" placeholder="ваше имя">
                            </div>
                            <div class="form-group d-flex">
                                <label for="linkToSpecialPrice" class="mr-2">Количество</label>
                                <input type="text" class="cart-page__form-input" name="quantity" id="linkToSpecialPrice"
                                       placeholder="введите кол-во">
                            </div>
                            <div class="form-group d-flex">
                                <label for="telForSpecialPrice" class="mr-2">Телефон</label>
                                <input type="text" name="phone" id="telForSpecialPrice" value="" required
                                       class="form_phone cart-page__form-input" placeholder="+7...">
                            </div>
                        </div>

                    </div>
                    <div class="success hidden">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Заявка отправлена!</h1>
                                <p class="lead">Наши специалисты свяжутся с вам в ближайшее время.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer2" style="border-top:0;">
                    <!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <button type="submit" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-big">Отправить заявку
                    </button>
                    <div class="row px-4 py-4">
                        <div class="modal-footer__text col-md-10">
                            Нажимая кнопку "Отправить сообщение", я соглашаюсь на получение информации от
                            интернет-магазина и уведомлений о состоянии моих заказов, а также принимаю условия политики
                            конфидециальности и пользовательского соглашения.
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
