{% if products.count > 0 %}
<form>
    <div class="row products">
        {% for product in products %}
        <div class="col-sm-6 col-lg-3 product">
            {% partial "Shop/default-card" product=product %}
        </div>
        {% endfor %}
    </div>
</form>
{% else %}
<h2 class="text-center">Вы не добавили ни одного товара</h2>
{% endif %}