<?php Block::put('breadcrumb') ?>
<ul>
    <li>
        <a href="<?= Backend::url('austerus/shop/csvmanager') ?>">
            Экспорт
        </a>
    </li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>
<div data-control="toolbar">
    <a
            href="<?= Backend::url('austerus/shop/csvmanager') ?>"
            class="btn btn-default oc-icon-chevron-left">
        Назад
    </a>
</div>
<div class="csv-manager__panel container-fluid">
    <div class="csv-manager__import-container">
        <form enctype="multipart/form-data" method="post" class="form-inline">
            <div class="row csv-buttons">
                <input type="submit" value="Экспорт"
                       class="btn btn-primary oc-icon-cloud-download">
                <label for="export_file_extension">
                    <select name="extension" id="export_file_extension" class="form-control custom-select">
                        <option value="xls">&nbsp;&nbsp;.xls&nbsp;&nbsp;</option>
                        <option value="csv" >&nbsp;&nbsp;.csv&nbsp;&nbsp;</option>
                        <option value="xlsx" selected>&nbsp;&nbsp;.xlsx&nbsp;&nbsp;</option>
                    </select>
                </label>
                <label for="export_delimiter" id="export_delimiter__label">
                    <select name="delimiter" id="export_delimiter" class="form-control custom-select">
                        <option value="," >&nbsp;&nbsp;,&nbsp;&nbsp;</option>
                        <option value=";" selected>&nbsp;&nbsp;;&nbsp;&nbsp;</option>

                    </select>
                </label>
            </div>
        </form>
    </div>
</div>
<style>
    .csv-buttons {
        padding-top: 30px;
        text-align: center;
    }

    .csv-manager__import-container {
        padding: 15px;
    }

    .select2-search {
        display: none;
    }

    .select2-selection__rendered, .select2-results__option {
        font-weight: bolder;
    }
</style>
<script>
    $('#export_file_extension').change(function () {
        var item = $('#export_delimiter__label');
        if ($(this).val() === 'csv') {
            item.show();
        }
        else {
            item.hide();
        }
    });
    $('#Form-check-all').change(function () {
        $('.Form-containers').prop('checked', $(this).prop('checked'));
    });
</script>

