<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('austerus/shop/csvmanager') ?>">Импорт/Экспорт</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>
<div data-control="toolbar">
    <a
            href="<?= Backend::url('austerus/shop/csvmanager') ?>"
            class="btn btn-default oc-icon-chevron-left">
        Назад
    </a>
</div>
<div class="csv-manager__panel">
    <div class="csv-manager__import-container">
        <form enctype="multipart/form-data" method="post">
            <input name="file" type="file" title="Выбрать файл" class="btn-primary" style="left: -97px; top: 15px;" required>
            <input type="submit" value="Отправить" class="btn btn-primary oc-icon-cloud-download">
        </form>
    </div>
</div>
<script>
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
</script>
<style>
    .csv-manager__panel{
        text-align: center;
    }
    .csv-manager__import-container{
        margin-top: 10%;
    }
</style>
