<?php Block::put('breadcrumb') ?>
<ul>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<div class="csv-manager__panel">
    <div class="csv-manager__container">
        <a
                href="<?= Backend::url('austerus/shop/csvmanager/export') ?>"
                class="btn btn-primary oc-icon-cloud-upload">
            Export
        </a> /
        <a
                href="<?= Backend::url('austerus/shop/csvmanager/import') ?>"
                class="btn btn-primary oc-icon-cloud-download">
            Import
        </a>
    </div>
</div>
<style>
    .csv-manager__panel {
        text-align: center;
    }
    .csv-manager__container {
        display: inline-block;
        margin: 10vh auto;
    }
</style>