<?php Block::put('breadcrumb') ?>

    <ul>
        <li>
            <a href="<?php echo Backend::url('austerus/formbuilder/fieldtypes') ?>">
                <?php echo trans('austerus.formbuilder::lang.field_type.field_types') ?>
            </a>
        </li>
        <li><?php echo e($this->pageTitle) ?></li>
    </ul>

<?php Block::endPut() ?>

    <?php if ( ! $this->fatalError): ?>

    <?php echo Form::open(['class' => 'layout']) ?>

    <div class="layout-row">
        <?php echo $this->formRender() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?php echo e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                    class="btn btn-primary">
                <?php echo e(trans('backend::lang.form.save')) ?>
            </button>

            <button type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?php echo e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                    class="btn btn-default">
                <?php echo e(trans('backend::lang.form.save_and_close')) ?>
            </button>

            <?php if (austerus\FormBuilder\Models\FieldType::isOriginType($formModel->code)) : ?>
                <button type="button"
                        data-request="onRestore"
                        data-request-data="redirect:0"
                        data-load-indicator="<?php echo e(trans('austerus.formbuilder::lang.field_type.restoring', ['name'=>$formRecordName])) ?>"
                        class="btn btn-danger"
                        data-request-confirm="<?php echo trans('austerus.formbuilder::lang.field_type.restore_confirm') ?>">
                    <?php echo e(trans('austerus.formbuilder::lang.field_type.restore')) ?>
                </button>
            <?php endif; ?>

            <button type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?php echo e(trans('backend::lang.form.deleting_name', ['name'=>$formRecordName])) ?>"
                    data-request-confirm="<?php echo trans('austerus.formbuilder::lang.field_type.delete_confirm') ?>">
            </button>

            <span class="btn-text">
                <?php echo e(trans('backend::lang.form.or')) ?>
                <a href="<?php echo Backend::url('austerus/formbuilder/fieldtypes') ?>">
                    <?php echo e(trans('backend::lang.form.cancel')) ?>
                </a>
            </span>

        </div>
    </div>

    <?php echo Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?php echo e($this->fatalError) ?></p>
    <p><a href="<?php echo Backend::url('austerus/formbuilder/fieldtypes') ?>"
          class="btn btn-default"><?php echo trans('austerus.formbuilder::lang.field_types.return') ?>
    </a></p>

<?php endif ?>