{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Заявка с сайта</title>#}
{#</head>#}
{#<body>#}
Была заполнена форма обратной связи, указаны:
<p>Имя: {{name}}</p>
<p>Номер телефона: {{phone}}</p>
<p> Цена у нас: {{currentPrice}}</p>
<p> Найденная цена: {{otherPrice}}</p>
<p> Сайт: {{link}}</p>
<p> Кол-во: {{quantity}}</p>

Отправлено со страницы {{ page }}

{#</body>#}
{#</html>#}
