<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявка с сайта</title>
</head>
<body>
Была заполнена форма обратной связи, указаны:
<p>Имя: {{name}}</p>
<p>Номер телефона: {{email}}</p>
<p>Сообщение: {{text}}</p>
Отправлено со страницы {{ page }}

</body>
</html>