<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявка с сайта</title>
</head>
<body>
Была заполнена форма обратной связи, указаны:
<p>Номер телефона: {{phone}}</p>
<p>E-mail: {{email}}</p>
<p>Запрос на: {{ type }}
</p>
Отправлено со страницы {{ page }}

</body>
</html>