<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявка на получение прайса</title>
</head>
<body>
Была заполнена форма для получения прайса, указаны:
<p>ФИО: {{name}}</p>
<p>E-mail: {{email}}</p>
<p>Номер телефона: {{phone}}</p>
<p>Организация: {{company}}</p>
<p>Регион: {{state}}</p>
<p>Город: {{city}}</p>
Отправлено со страницы {{ page }}

</body>
</html>