{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Заявка на получение прайса</title>#}
{#</head>#}
{#<body>#}
<b>Была заполнена форма для получения специальной цены, указаны:</b>
<p>Имя: {{name}}</p>
<p>Номер телефона: {{phone}}</p>
<p>Организация: {{companyName}}</p>
<p>Регион: {{state}}</p>
<p>Количесвто: {{quantity}}</p>

Отправлено со страницы {{ page }}

{#</body>#}
{#</html>#}
