{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Результат опроса</title>#}
{#</head>#}
{#<body>#}
Был пройден опрос подбора товара, указаны:
данные покупателя:
<p>Имя: {{name}}</p>
<p>Номер телефона: {{phone}}</p>
<p>E-mail: {{email}}</p>
результат опроса:
<p>Шаг 1: {{answer1}}</p>
<p>Шаг 2: {{answer2}}</p>
<p>Шаг 3: {{answer3}}</p>
{#</body>#}
{#</html>#}