{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{ title }}</title>#}
{#</head>#}
{#<body>#}
<h2>Была заполнена форма для на бесплатный проект, указаны:</h2>

<p>ФИО: {{name}}</p>
<p>E-mail: {{email}}</p>
<p>Номер телефона: {{phone}}</p>
<p>Организация: {{company}}</p>
<p>Регион: {{state}}</p>
<p>Город: {{city}}</p>
<p>Данные по проекту</p>
<p>Длина: {{length}}</p>
<p>Ширина: {{width}}</p>
<p>Высота: {{height}}</p>
{#<p>Материал стен: {{material}}</p>#}
{#<p>Цвет стен: {{color}}</p>#}
{#<p>Высота подвеса: {{suspension_height}}</p>#}
{#<p>Способ крепления светильников: {{type_fastening}}</p>#}
{#<p>Какие светильники на данный момент: {{current_lamp}}</p>#}
{#<p>Их кол-во: {{count_lamp}}</p>#}
<p>Необходимый уровень освещенности: {{lux}}</p>
<p>Специфика помещения: {{type_room}}</p>
<p>Специфика помещения (другое): {{type_room_other}}</p>
{% if files %}
<p>Приложены файлы:</p>
{% for file in files %}
<p><a href="{{ url() }}/storage/app/uploads/projects/{{file}}">{{ file }}</a></p>
{% endfor %}
{% endif %}

Отправлено со страницы {{ page }}

{#</body>#}
{#</html>#}