{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Заказ на сайте</title>#}
{#</head>#}
{#<body>#}
<h3>Поступил новый заказ:</h3>
<p>ФИО: {{ order.name }}</p>
<p>E-mail: {{ order.email }}</p>
<p>Номер телефона: {{ order.phone }}</p>
<p>Детали заказа: {{ order.details|raw }}</p>
<p>Дата поступления заказа: {{ order.created_at }}</p>
{#</body>#}
{#</html>#}