description = "Популярные товары"
==
<div class="row">
    {% for product in products %}
    <div class="popular-products__greed">
        <a href="/{{product.slug}}"><img src="{{ product.images[0].image|mediathumb_resize('width', 75)}}" alt="{{product.title}}" title="{{product.title}}">
        </a>
    </div>
    {% endfor %}
</div>