==
<div class="contacts_map">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b3409ff7e9ced1b9ed6690fa72b347d4b4b4e1aa847afdd8aad00dc456a6c3a&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>