.scrollToTop {
  text-align: center;
  background: rgb(245, 245, 245);
  font-weight: 700;
  color: #444;
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 38px;
  display: none;
  z-index:5;
  opacity: 0.6;
  transition: all 0.5s;
}

.scrollToTop:hover {
  opacity: 1;
  text-decoration: none;
}