<div data-control="toolbar">
    <a
        href="<?= Backend::url('austerus/shop/priceconfigs/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Price Config
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Price Configs?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>

    <a
            href="<?= Backend::url('austerus/shop/exchangepriceconfigs/import') ?>"
            class="btn btn-primary pull-right oc-icon-upload">
        Импорт
    </a>
    <a
            href="<?= Backend::url('austerus/shop/exchangepriceconfigs/export') ?>"
            class="btn btn-primary pull-right oc-icon-download" style="margin-right: 10px;">
        Экспорт
    </a>
</div>
