<div data-control="toolbar" data-disposable="">
    <a data-control="popup" data-size="huge" data-handler="onRelationButtonAdd" href="javascript:;"
       class="btn btn-sm btn-secondary oc-icon-plus">
        Прикрепить город</a>
    <button class="btn btn-sm btn-secondary oc-icon-minus control-disabled" onclick="$(this).data('request-data', {
            checked: $('#PriceConfigs-create-RelationController-cities-view .control-list').listWidget('getChecked')
        })" disabled="" data-request="onRelationButtonRemove" data-trigger-action="enable"
            data-trigger="#PriceConfigs-create-RelationController-cities-view .control-list input[type=checkbox]"
            data-trigger-condition="checked" data-stripe-load-indicator="">
        Открепить
    </button>


</div>