<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('austerus/shop/priceconfigs') ?>">Price Configs</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="Saving PriceConfig..."
                class="btn btn-primary">
            <u>S</u>ave
        </button>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Saving PriceConfig..."
                class="btn btn-default">
            Save and Close
        </button>
        <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="Deleting PriceConfig..."
                data-request-confirm="Delete this priceconfig?">
        </button>
        <span class="btn-text">
                            or <a href="<?= Backend::url('austerus/shop/priceconfigs') ?>">Cancel</a>
                        </span>
    </div>
</div>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('austerus/shop/priceconfigs') ?>" class="btn btn-default">Return to price configs list</a>
</p>

<?php endif ?>

<style>
    #Form-field-PriceConfig-special_price-group,
    #Form-field-PriceConfig-wholesale_price-group,
    #Form-field-PriceConfig-price-group,
    #Form-field-PriceConfig-discount_price-group
    {
        width: 12.1%;
    }
    #Form-field-PriceConfig-wholesale_price-group,
    #Form-field-PriceConfig-price-group,
    #Form-field-PriceConfig-discount_price-group
    {
        clear:none;
    }
</style>
