[editable]

[Breadcrumbs Breadcrumbs2]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[BannerComponent]

[ShoppingCart]

[Favorites]

[GeoApi]

[Breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[CategoriesList]
partial = "@default"
limit = 0

[renderForm renderForm3]
formCode = "obshaya-forma"

[renderForm renderForm2]
formCode = "forma-obratnogo-zvonka-skrytaya"

[renderForm]
formCode = "forma-obratnogo-zvonka"

[renderForm onClick]
formCode = "forma-kupit-v-odin-klik"

[renderForm renderForm3]
formCode = "obshaya-forma"

[renderForm formConsultation]
formCode = "forma-konsultacii"

[renderForm whatToImprove]
formCode = "whatToImprove"

[renderForm foundMistake]
formCode = "foundMistake"
==
<?php
function onStart() {
    $this->page['page_slug'] = request()->segment(1);
if(empty($this->page['page_slug'])) {
$this->page['page_slug'] = 'home';
}
}
?>
==
<!doctype html>
<html lang="ru">
{% component 'GeoApi' %}
{% partial 'layouts/head' %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9PG76M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% partial 'layouts/top-header' %}
{% partial 'layouts/header' %}
{% if this.controller.vars.Shop.type == 'product' or this.controller.vars.Shop.type == 'category' or this.controller.vars.type_view == 'full' %}
{% component 'CategoriesList' partial = "@categories-inline.htm" limit = 0 %}
{% endif %}
<div class="container">
    <div class="row" id="thml2pdf">
        <div class="col-md-12">
            {% if this.controller.getRouter().getUrl() != '/' %}
            {% component 'Breadcrumbs' %}
            {% endif %}
        </div>
        {% if this.controller.vars.Shop.type == 'product' or this.controller.vars.type_view == 'full' %}
        {% page %}
        {% else %}
        <div class="col-lg-9 col-md-7  order-12 " id="content">
            {% page %}
        </div>
        <div class="col-lg-3 col-md-5 order-1" id="sidebar">
            {% partial 'layouts/sidebar' %}
        </div>
        {% endif %}
    </div>
</div>
{% component 'ShoppingCart' %}
{% partial 'layouts/footer' %}
{% partial 'layouts/assets' %}
</body>
</html>
