<div data-control="toolbar">
    <a href="<?php echo Backend::url('austerus/formbuilder/forms/update/' . $formId) ?>"
       class="btn btn-primary oc-icon-caret-left">
        <?php echo e(trans('austerus.formbuilder::lang.field.return')) ?>
    </a>
</div>