<?php Block::put('breadcrumb') ?>

    <ul>
        <li>
            <a href="<?php echo Backend::url('austerus/formbuilder/forms') ?>">
                <?php echo trans('austerus.formbuilder::lang.form.forms') ?>
            </a>
        </li>
        <li><?php echo e($this->pageTitle) ?></li>
    </ul>

<?php Block::endPut() ?>

<?php if ( ! $this->fatalError): ?>

    <?php echo Form::open(['class' => 'layout']) ?>

    <div class="layout-row">
        <?php echo $this->formRender() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?php echo e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                    class="btn btn-primary">
                <?php echo e(trans('backend::lang.form.save')) ?>
            </button>

            <button type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?php echo e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                    class="btn btn-default">
                <?php echo e(trans('backend::lang.form.save_and_close')) ?>
            </button>

            <button type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?php echo e(trans('backend::lang.form.deleting_name', ['name'=>$formRecordName])) ?>"
                    data-request-confirm="<?php echo trans('austerus.formbuilder::lang.form.delete_confirm') ?>">
            </button>

            <span class="btn-text">
                <?php echo e(trans('backend::lang.form.or')) ?>
                <a href="<?php echo Backend::url('austerus/formbuilder/forms') ?>">
                    <?php echo e(trans('backend::lang.form.cancel')) ?>
                </a>
            </span>
        </div>
    </div>

    <?php echo Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?php echo e($this->fatalError) ?></p>
    <p><a href="<?php echo Backend::url('austerus/formbuilder/forms') ?>"
          class="btn btn-default"><?php echo trans('austerus.formbuilder::lang.forms.return') ?>
    </a></p>

<?php endif ?>