.tab-content > .tab-pane {
    display: block;
    opacity: 1;
}

.nav-tabs {
    display: none;
}

.btn {
    display: none;
}

#footer {
    display: none;
}

input {
    display: none;
}

#footer-top {
    display: none;
}

.input_number {
    display: none;
}

.card-body {
    display: none;
}

.lSSlideOuter.vertical .lSGallery {
    display: none;
}

.lSSlideWrapper {
    height: auto !important;
    overflow: visible;
}

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
    height: auto;
}

.lSSlideOuter.vertical .lightSlider .clone {
    display: none;
}

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
    transform: translate3d(0px, 0px, 0px) !important;
}

.c-scroll-btn {
    display: none !important;
}

.product-title .fas.fa-print {
    display: none;
}

.exclamation {
    display: none;
}

.capture-contacts__wrapper {
    display: none;
}