body {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background-color: #fff;
}
.ruble{
    font-family: 'PT Sans', serif;
    font-style: normal;
}
#scrlTop {
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #2080c2;
    color: #fff;
    border-radius: 5px;
    position: fixed;
    display: none;
}

#scrlBotm {
    top: 120px;
    left: 20px;
    padding: 10px 20px;
    background-color: #2080c2;
    color: #fff;
    border-radius: 5px;
    position: fixed;
    display: none;
    z-index: 99999;
}
.product-page{
    padding-right: 10px;
}
.product-page .lSSlideOuter{
    padding:20px;
    margin:0 -20px;
}
.product-info{
    padding-left: 10px;
}

.lSSlideWrapper{
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border-radius: 20px;
}
.lSSlideOuter .lSPager.lSGallery{
    width:100%!important;
    padding: 20px 0;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.lSSlideOuter .lSPager.lSGallery li{
    border: 1px solid #fff;
    border-radius: 13px;
    flex: 0 0 75px;
    height:75px;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
     -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border: 1px solid #37b3e6;
    border-radius: 13px!important;
}

#vertical{
    padding: 0;
}
#vertical li{
    position:relative;
}
.vertical__wrap{
    position:relative
}
.vertical-imgs{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    border-radius:20px;
    overflow: hidden;
}


.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 15px;
}

#slider-top {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
    overflow: hidden;
    padding: 25px 0 15px;
}
#slider-top p.vendor-code{
    font-size:16px;
    margin-right: 30px;
}
#slider-top p.vendor-code span{
    color:#2081c3;
}

a.guarantee {
    float: right;
}

.card-price .card-body{
    padding: 20px 0;
    margin: 0;
}
.card-body__col{
    padding:0;
}
.card-body__col_left{
    padding-right: 20px;
}
.card-body__col_right{
    padding: 10px 0;
}
.count-btn__block .input_number{
    padding: 0;
}
.count-btn__block .input-group-btn{
    width: 160px;
    justify-content: center;
}
.input_number{
    margin-bottom: 6px;
    padding: 0 7px;
}

a, a:hover {
    /*color: #000;*/
    text-decoration: none;
    transition: ease all 0.3s;
}

a:active, a:focus {
    outline: none;
}

h1, .title-spec {
    color: #000;
    display: block;
    font-size: 28px;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: 500;
}

.title-category {
    color: #000;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
}

#hidden-content {
    width: 50%;
    max-width: 500px;
}

.print-ico {
    background-image: url(../images/print.png);
    background-position: 0 0;
    display: inline-block;
    height: 15px;
    width: 16px;
    cursor: pointer;
    margin: 0 0 3px 15px;
}

.print-ico:hover {
    background-position: 0 15px;
}

.check-ico {
    background-image: url(../images/check.png);
    background-position: left center;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding-left: 30px;
    background-repeat: no-repeat;
}

.table-header {
    background-color: #ccc;
    font-weight: 700;
    text-align: center;
}

.question {
    margin-bottom: 10px;
}

.question i, .guarantee i, .exclamation i, .print-link i, button i {
    margin-right: 10px;
}
.product-title{
    margin: 0 0 5px;
    font-size: 28px;
}
.product-title i {
    margin-top: 10px;
    color: #ccc;
    font-size: 22px;
    cursor: pointer;
    float: right;
}

.product-title i:hover {
    color: #2080c2;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: #ccc;
    border-radius: 0.25rem;
}

.tooltip.bs-tooltip-right .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #ccc;
}

.tooltip.bs-tooltip-bottom .arrow::before, .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #ccc;
}

p.del i {
    cursor: pointer;
}

p.del:hover i {
    color: #2080c2;
}

.center {
    display: block;
    text-align: center;
}

#logo-top {
    text-align: center;
}

#logo-top img {
    width: 60%;
    margin: 10px auto 0 auto;
}

#cart-hiden-block {
    width: 402px;
    height: auto;
    position: fixed;
    right: -360px;
    top: 100px;

    z-index: 9999;
}

#cart-hiden {
    background-color: #fff;
    float: right;
    width: 360px;
    padding: 10px 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border-top-left-radius: 0;
    max-height:400px;
    overflow:auto;
}

#cart-hiden-button {
    float: left;
    -webkit-box-shadow: -14px 4px 16px -5px rgba(50,50,50,0.25);
    -moz-box-shadow: -14px 4px 16px -5px rgba(50,50,50,0.25);
    box-shadow: -14px 4px 16px -5px rgba(50,50,50,0.25);
        -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:#fff;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    border: 1px solid #fff;
    z-index: 2;
    position: relative;
}

#cart {
    width: 40px;
    height:35px;
    cursor: pointer;
    padding-top: 5px;
}

#favorit {
    width:60px;
    height: 35px;
    z-index: 9999;
    cursor: pointer;
    padding-top: 2px;
}

#cart-hiden-button:hover {
    -webkit-box-shadow: -1px 0px 2px 0px rgba(55, 179, 230, 0.75);
    -moz-box-shadow: -1px 0px 2px 0px rgba(55, 179, 230, 0.75);
    box-shadow: -1px 0px 2px 0px rgba(55, 179, 230, 0.75);
    border: 1px solid #37b3e6;
}



#cart img, #favorit img {
    width: 25px;
    margin-left: 8px;
}

/* -----   header  ----- */
#top-header {
    background-color: #fff;
    padding: 13px 0 10px;
}

#header {
    margin-bottom: 25px;
}
#scroll-header {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 20px;
    margin-top: 30px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
}

#scroll-header .catalog-link {
    position: relative;
}
#scroll-header .form-control{
    border-radius: 20px;
    width: 79%;
    padding: 5px 17px;
    height: 30px;
    box-sizing: border-box;
    margin-right: 20px;
}
#scroll-header .btn.btn-primary{
    border-radius:15px;
    background:#2080c2;
    padding:5px 33px;
    font-size:17px;
    height: 30px;
    line-height: 0;
}
.catalog-block-down {
    display: none;
}

.catalog-link h2 {
    display: block;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color:#2081c3;
}
.catalog-link>h2{
    position:relative;
    margin: -15px -35px -15px -15px;
    padding: 18px 11px;
    background:#fff;
    z-index: 9999;
    border-radius:20px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.catalog-link h2 img {
    display: inline-block;
    margin: 0 5px 0 5px;
    width: 20px;
    height: 20px;
}

.catalog-link h2 span {
    border-bottom: 1px dotted #2081c3;
    display: inline-block !important;
}

.catalog-link h2 span:hover {
    border-color: transparent;
}

.catalog-link:hover .catalog-block-down {
    display: block;
    position: absolute;
    left: -15px;
    top: 40%;
    width: calc(100% + 35px);
    z-index: 9998;
    padding: 50px 0 20px;
    background-color: #fff;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.catalog-block-down ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.catalog-block-down ul li {
    display: block;
    padding: 7px 0;
    margin: 0 0 0 10px;
}

.catalog-block-down ul li a h2 {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    padding: 0px;
    background-color: transparent;
}

.catalog-block-down ul li a:hover h2 {
    color: #2080c2;
}

.catalog-block-down ul li a span {
    border: none;
    display: block;
    margin-bottom: -1px;
}

.catalog-block-down ul li a span img {
    float: left;
    margin: 3px 10px 0 0;
    width: 20px;
    height: 20px;
}

#sub-catalog {
    padding: 5px 21px 8px 11px;
    background-color: #d1dbe1;
    margin-bottom: 10px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

#sub-catalog ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: -5px;
}

#sub-catalog ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #a0a0a0;
    letter-spacing: 0;
}
#sub-catalog ul li:nth-last-child(2){
    border-right: 0;
}

#sub-catalog ul li a h2 {
    color: #000;
    font-size: 14px;
    border-bottom: 1px dashed #000;
    margin: 0;
}


#sub-catalog ul li a:hover h2 {
    color: #2080c2;
    border-bottom: 1px solid #000;
}

#sub-catalog ul li#dop-link {
    position: relative;
    border-right: 0px solid #a0a0a0;
    float: right;
    font-size:14px;
    color:#000;
    padding-top: 3px;
}

#sub-catalog ul li#dop-link span {
    font-size: 8px;
}

#sub-catalog ul li#dop-link ul {
    display: none;
}

#sub-catalog ul li#dop-link:hover ul {
    display: block;
    position: absolute;
    top: 100%;
    right: 10px;
    width: 250px;
    padding: 10px;
    background-color: #E8E8E8;
    border: 2px solid #ccc;
    z-index: 99999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.45);
}

#sub-catalog ul li#dop-link ul li {
    border-right: 0px solid #a0a0a0;
}

#sub-catalog ul li#dop-link ul li a h2 {
    color: #303030;
}

#sub-catalog ul li#dop-link ul li a:hover h2 {
    color: #2080c2;
}
#sub-catalog ul li#dop-link i:before{
    content:"";
    background: url(../images/caret.png) no-repeat;
    width: 11px;
    height: 12px;
    display: block;
}
#sub-catalog ul li#dop-link i{
    vertical-align: middle;
}

.fas.fa-caret-down {
    color: #2080c2;
}

.phone, .mail {
    float: left;
}

.phone ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.phone ul li {
    font-weight: 700;
    line-height: 16px;
}

.phone img {
    float: left;
    margin: 18px 10px 0 0;
    width: 15px;
    height: 15px;
}

.mail ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.mail ul li {
    font-weight: 700;
    line-height: 16px;
}

.mail img {
    float: left;
    margin: 4px 10px 0 0;
    width: 15px;
    height: 15px;
}

.nav-tabs .nav-link {
    border: 1px solid #ccc;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .35rem 0;
    margin-bottom: 10px;
    list-style: none;
    font-size:14px;
    color:#a4b8c4;
    background:transparent;
}

.breadcrumb a {
    text-decoration: underline;
    color:#2081c3;
    font-weight: 500;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding: 0 2px 0 4px;
}

ul#top-menu {
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

ul#top-menu li {
    display: inline-block;
    position: relative;
}

ul#top-menu li a {
    margin: 0 7px;
    color: #000;
    display: inline-block;
    border-bottom: 1px dotted #000;
    font-size:17px;
}
ul#top-menu li:last-child a{
    margin-right: 0;
}

ul#top-menu li a:hover {
    color: #37b3e6;
}

ul#top-menu li.parent ul {
    display: none;
}

ul#top-menu li.parent:hover ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #efefef;
    padding: 5px;
    width: 170px;
    max-width: 170px;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow: -3px 0px 5px 0px rgba(50, 50, 50, 0.45);
    z-index: 9999;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

ul#top-menu li.parent ul li {
}

ul#top-menu li.parent a span {
    display: inline-block;
    font-size: 8px;
    margin-left: 5px;
}

ul#top-menu li.parent ul li a {
    color: #000;
}

ul#top-menu li.parent ul li a:hover {
    color: #37b3e6;
}

a#select-city {
    margin: 5px 0;
    display: inline-block;
    color: #37b3e6;
    border-bottom: 1px dotted #37b3e6;
}

p#selected-city {
    margin: 5px 0;
    color: #000;
}

p#selected-city span {
    font-weight: 700;
    color: #2081c3;
}

/* -----   content  ----- */

#top-slider {
    min-height: 260px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #37b3e6;
}

/* -----   sidebar  ----- */
#sidebar{
    padding-right: 45px;
}
#catalog {
    padding-bottom: 15px;
    margin-bottom: 14px;
        -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

#catalog h2 {
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color:#333333c7;
}
#catalog h2 > img{
    display: none;
}
#catalog h2 img {
    float: left;
    margin: 0 10px 0 5px;
    width: 20px;
    height: 20px;
}

#catalog ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#catalog ul li {
    display: block;
    padding: 7px 0;
    margin: 0 0 0 10px;
}

#catalog ul li a h2 {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    padding: 0px;
    background-color: transparent;
}

#catalog ul li a:hover h2 {
    color: #2080c2;
}

#catalog ul li a span {
    background-color: #dedede;
    display: block;
    margin-bottom: -1px;
}

#catalog ul li a span img {
    float: left;
    margin: 3px 10px 0 0;
    width: 20px;
    height: 20px;
}

.block {
    -webkit-box-shadow:-1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow:-1px 7px 12px 4px rgba(50,50,50,0.25);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background-color: #ffffff;
    padding: 15px 11px 7px;
    margin-bottom: 35px;
}

.block.block-img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #e5e5e5;
    padding: 0px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #dedede;
}
.block.block-img.shadow{
   -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; 
    background: none;
    margin-bottom: 45px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    text-align: center;
}

.block .h1 {
    color: #000;
}

.block .h2 {
    font-size: 14px;
    font-weight: 500;
    color: #000101;
}

.block .h2 span.blue {
    color: #2080c2;
    display: block;
    font-size: 17px;
    font-weight: 500;
}
.block__descr{
    font-size: 14px;
    font-weight: 500;
    color: #000101;
    line-height: 14px;
    margin-bottom: 8px;
}
#block-city{
    padding: 12px 0 0;
}
#block-city .h2 span.blue  {
    font-size: 25px;
}

#block-number {
    background-image: url(../images/bg-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 101% -15px;
}

#block-number .h2 {
    margin-bottom: 35px;
}

#block-number p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
}

#block-number p span {
    color: #2080c2;
}

#block-article {
    background-image: url(../images/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: 0% -15px;
    background-size: 65%;
}

#block-article .h2 {
    text-align: right;
    margin-bottom: 40px;
}

#block-article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#block-article ul li {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 11px;
}

#block-article ul li a {
    color: #000101;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
}

#block-article ul li a:hover {
    color: #2080c2;
    border-bottom: 1px dotted #2080c2;
}

#block-filter {
    padding: 17px 10px 12px;
}

.block#block-filter .h2, .block#block-filter h2 {
    display: block;
    font-size:17px;
    color:#2080c2;
}
#block-filter .form-control{
    border-radius:10px;
    height: 20px;
    border:1px solid #c2d0d8;
    padding-top: 0;
    padding-bottom: 0;
    font-size:14px;
}
.c-filter__btns{
    margin: 10px 0 0;
}
.c-filter__btns .btn{
    width: 49%;
}
.block-work{
    margin-top: -20px;
}
.block-work__title{
    font-size:22px;
    font-weight: normal;
    color:#000;
    flex: 0 0 285px;
    width: 285px;
}
.block-work__title span{
    font-weight: bold;
    font-size:141px;
    margin-right: -10px;
}
.block-work__list{
    margin: 0;
    padding: 0;
    list-style:none;
    padding: 70px 50px;
    
}
.block-work__list li{
    margin-top: 27px;
    flex: 0 0 33.333%;
    width: 33.333%;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
.block-work__ico{
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
    text-align: center;
    margin:0 auto 5px;
}

.block-questions{
    text-align: center;
    margin:0 -25px 80px;
}
.block-questions__title{
    margin-bottom: 30px;
}
.block-questions__title p{
    font-size:17px;
    color:#000;
    font-weight: normal;
    margin: 0;
    line-height: 17px;
}
.block-questions__title p.h2{
    font-size:28px;
    line-height: 30px;
}
.block-questions__inputs{
    margin-bottom: 30px;
}
.block-questions__inputs input{
    border-radius:20px;
    border:0;
    padding-left: 15px;
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    height: 45px;
    width: 240px;
    margin: 0 25px;
    -moz-appearance: none;
-webkit-appearance: none;
}
.block-questions__inputs input[type='submit']{
    background:#2080c2;
    font-size:22px;
    font-weight: 500;
    border-color:#2080c2;
    cursor:pointer;
    margin: 0 25px;
}

.block-questions__call p{
    font-size:17px;
    color:#000;
    font-weight: normal;
    margin: 0;
    line-height: 17px;
}

.block-questions__call a{
    font-size:28px;
    line-height: 40px;
    color:#2080c2;
    font-weight: 500;
}

.block-cards{
   margin: 45px 0 20px;
}
.block-cards__row{
    -webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}
.block-cards__col{
    flex: 0 0 20%;
    max-width:20%;
    padding: 2.5px;
}
.block-cards__wrap{
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 5px;
    padding: 5px 5px 0;
    display: block;
}
.block-cards__wrap:hover{
    filter: brightness(1.05);
}
.block-cards__title{
    text-align: center;
    height: 40px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.block-cards__img{
    height: 113px;
    overflow: hidden;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    -ms-align-items: flex-end;
	align-items: flex-end;
	justify-content: center;
}

.bg-rose{
    background: #FF9494;
}
.bg-blue{
    background: #5DB2EC;
}
.bg-green{
    background: #7ADFC0;
}
.bg-violet{
    background: #94A6FF;
}
/* ----- filter ----- */
#slider-1, #slider-2, #slider-3 {
    margin: 13px 5px 30px 5px;

}

.noUi-horizontal {
    height: 2px;
}

.noUi-connect {
    background: #000;
    border: 1px solid #000;
    box-shadow: none;
}

.noUi-handle {
    background: #37b3e6;
    border-radius: 10px;
    box-shadow: none;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.noUi-horizontal .noUi-handle {
    width: 8px;
    height: 8px;
    left: -4px;
    top: -3px;
    outline: none;
    border-color:#37b3e6;
}
.noUi-pips-horizontal{
    left: -4px;
    height: auto;
    padding: 15px 0;
}
.noUi-marker-horizontal.noUi-marker{
    width: 1px;
    height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large{
    height: 23px;
}
.noUi-marker-horizontal.noUi-marker-large:first-child{
    width: 4px;
}
.noUi-value{
    display: none;
}
.noUi-marker{
    background:#a7bac6;
}

ul.list-with-img {
    list-style-type: none;
    margin: 15px 0;
    padding: 0;
}

ul.list-with-img li {
    display: inline-block;
    width: 33%;
    font-size: 18px;
    text-align: center;
}

ul.list-with-img li span {
    font-weight: 700;
    display: block;
}

ul.list-with-img img {
    width: 50px;
    height: 50px;
}

.spec-link {
    background-color: #2080c2;
    font-size: 22px;
    text-align: center;
    display: block;
    font-weight: 500;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    margin:-10px 0 25px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border: 1px solid transparent;
}

.spec-link:hover {
    color:#2080c2;
    background-color: #fff;
    -webkit-box-shadow: -1px 0px 2px 0px rgba(55,179,230,0.75);
    -moz-box-shadow: -1px 0px 2px 0px rgba(55,179,230,0.75);
    box-shadow: -1px 0px 2px 0px rgba(55,179,230,0.75);
    border: 1px solid #37b3e6;
    
}

/* -----   products  ----- */

#spec-product {
    margin: 0 0 14px 0;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.25);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #ffffff;
    overflow: hidden;
    position:relative;
}
#spec-product>div{
    position:static;
}
#product-slider-slug {
    background-color: #c20000;
    color: #fff;
    margin-left: -15px;
    padding: 30px;
    height: 100%;
}

#product-slider-slug h2 {
    font-size:22px;
    color:#fff;
    font-weight: 500;
    line-height: 22px;
}

#product-slider-slug p {
    font-size:18px;
}

#product-slider-slug a {
    display: inline-block;
    color: #fff;
    border-bottom: 1px dotted #fff;
    font-size:17px;
}

/*#product-slider {float: left;}*/
#product-slider .item {
    padding: 10px 0;
}

#product-slider .item a {
}

#product-slider .item img.img-fluid {
    float: left;
    width: 30%;
}

#product-slider .item h1 {
    font-size: 18px;
}
#product-slider .item h2{
    text-transform: uppercase;
    font-size:17px;
    color:#000;
    line-height: 22px;
    font-weight: 500;
    order:-1;
}
#product-slider .item p.vendor-code {
    font-size:17px;
    color:#000;
}
#product-slider .item p.vendor-code span{
    color:#2080c2;
}
#product-slider .item  ul.properties li{
    font-size:17px;
    color:#a4b8c4;
}
#product-slider .item .add-to-cart {
    width: auto;
    text-align: center;
    background: #2080c2;
    font-size: 16px;
    color: #fff;
    border-radius: 17px;
    flex: 0 0 auto;
    display: block;
    padding: 5px 50px;
    height: auto;
}
#product-slider .item .add-to-cart img{
    margin-right: 5px;
}

.owl-carousel .owl-item .add-to-cart img {
    width: 20px;
    display: inline-block;
}

.products {
    padding: 10px 0 0;
}

.products .product {
    margin-bottom: 40px;
    /*flex: 0 0 22%;
    max-width: 22%;
    margin-right: 4%;

    padding-right: 7px;
    padding-left: 7px;*/
}

/*.products .product:first-child,.products .product:nth-child(5n+5){ padding-left: 15px;}
.products .product:nth-child(4n+4){ padding-right: 15px;}*/
.product-wrap .product-small-card, .product-small-card>a{
    
}
.product-wrap {
   -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 2px rgba(50,50,50,0.25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    padding:10px 11px;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    border: 1px solid #fff;
}

.product-wrap:hover {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(55, 179, 230, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(55, 179, 230, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(55, 179, 230, 0.75);
    border: 1px solid #37b3e6;
}

.product-wrap .product-small-card, 
.product-wrap .product-small-card>a{
    justify-content:flex-start;
}
.product-wrap .product-small-card__image{
    height:90px;
    margin-bottom: 5px;
}
.product-wrap .product-small-card__image img{
    max-height:100%;
}
.products .product h1 {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin: 10px 0;
    text-transform: none;
}

.product:hover h3 {
    color: #2080c2;
}
.price-btn-block{
    margin-top: auto;
    flex-wrap:wrap;
}
.product .add-to-cart{
    width: auto;
    text-align: center;
    background: #2080c2;
    font-size: 16px;
    color: #fff;
    border-radius: 17px;
    flex: 0 0 auto;
    display: block;
    margin: 0 auto -25px;
    padding: 5px 20px;
    height: auto;
    border:0;
}
.product p.price{
    text-align: center;
    width: 100%;
}
.product .add-to-cart span{
    display: inline-block;
    margin-left: 5px;
}
/* .product .add-to-cart {
    display: block;
    width: 24px;
    height: 19px;
    flex: 0 0 24px;
    border:0;
    background:none;
    padding: 0;
    margin-left: 8px;
}
.product .add-to-cart span{
    display: none;
} */
.product .favorite-icon{
    width: 20px;
    height: 17px;
    flex: 0 0 20px;
    margin-left: auto;
}

.product h3 {
    font-size: 11px;
    text-decoration: underline;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.save-and-print__block a{
    color:#000;
    font-size:17px;
    margin-right: 30px;
}
p.price {
    font-size: 22px;
    font-weight: 500;
    color:#2080c2;
    margin: 0;
}
p.price.big{
    font-size: 22px;
    color: #000;
    line-height: normal;
    margin-bottom: 10px;
}
p.price.middle {
    font-size: 18px;
    color:#000;
    margin-bottom: 8px;
}

p.price.small {
    font-size: 14px;
     color:#000;
     margin-bottom: 20px;
}

p.price span {
    font-size: 12px;
    font-weight: normal;
    color: #a4b8c4;
}
.cart{
    text-align: left;
}
.cart p {
    margin: 0;
    line-height: 17px;
    font-size:11px;
}

.cart p span {
    font-weight: 700;
}

.cart img {
    display: block;
    float: left;
    margin-right: 15px;
}

p.vendor-code {
    color: #000;
    display: inline-block;
    margin: 0;
    font-size:11px;
}

p.vendor-code span {
    font-weight: 500;
}

a.tooltip-link {
    color: #000;
    font-size:16px;
    display: inline-block;
    text-decoration: underline;
}

a.inline-link {
    color: #2080c2;
    display: inline-block;
    text-decoration: underline;
    font-size:14px;
    margin-bottom: 18px;
}

.btn-consul{
    width: 210px;
    border-radius: 35px;
    font-size: 14px;
    display: block;
}
.btn-click{
    width: 160px;
    border-radius: 35px;
    font-size: 13px;
    padding: 0px;
    height: 30px;
    line-height:27px;
    background: #94A6FF;
    color:#fff;
    margin-bottom: 10px;
}
.btn-opt{
    width: 160px;
    border-radius: 35px;
    font-size: 12px;
    padding: 0px;
    height: 30px;
    line-height: 27px;
}
.btn-number{
    font-size: 22px;
    color: #000;
    background: 0;
    border-radius: 0;
    width: auto;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
}
.btn{
    cursor:pointer;
}
.input-group .form-control.input-number {
    width:90px;
    border-radius:15px!important;
    border:1px solid #2080C2;
    height: 30px;
    text-align: center;
    flex: 0 0 90px;
    max-width:90px;
}
.count-btn__block .add-to-cart {
    width: auto;
    text-align: center;
    background: #2080c2;
    font-size: 16px;
    color: #fff;
    border-radius: 17px;
    flex: 0 0 auto;
    display: block;
    margin: 0 0 10px;
    padding: 0px 35px;
    height: 30px;
    max-width: 160px;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.count-btn__block .add-to-cart  img{
    margin-right: 5px;
    width: 22px;
    flex: 0 0 22px;
}
.cart-row .input_number {
    width: 100%;
    
}

.card {
    margin-top: 15px;
    border:0;
}

ul.properties {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.properties li {
    color: #a4b8c4;
    font-weight: normal;
    font-size:11px;
}

.fas.fa-minus, .fas.fa-plus {
    margin: 0;
}
.availability {
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 9;
    font-size: 17px;
}
.availability img{
    margin-right: 5px;
}


.description__block-wrap{
   border-radius:20px;
            -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25); 
    padding: 25px 45px;
}
.description__block-left{
    padding-right: 10px;
    margin-bottom: 30px;
}
.description__block-right{
    padding-left: 10px;
}
.description__block-right .description__block-wrap{
    padding: 25px 30px;
}
.description__block h2{
    font-size:22px;
    color:#2080c2;
    font-weight: 500;
    margin-bottom: 20px;
}
.description__block .tab-content{
    border:0;
    padding: 0;
}
.description__block .nav-tabs .nav-link{
    border:0;
    border-radius:0;
    padding: 0;
    margin-right: 30px;
    color:#2080c2;
    font-weight: 500;
    font-size:18px;
}
.description__block .nav-tabs .nav-item:last-child .nav-link{
    margin-right: 0;
}
.description__block .nav-tabs .nav-item.show .nav-link,
.description__block .nav-tabs .nav-link.active,
.description__block .nav-tabs .nav-link:hover{
    text-decoration: underline;
}
.description__block .nav-tabs{
    border:0;
    margin-bottom: 25px;
}
.description__block-sm .nav-tabs{
    margin-bottom: 15px;
}
.description__block-right  td, 
.description__block-right  th{
    padding: 0;
    border:0;
    font-size:13px;
    color:#000;
    background:none!important;
    text-align: left!important;
}
.description__block-right  td:first-child, 
.description__block-right  th:first-child{
    font-weight: 500;
}
.description__block-right .table-striped tbody tr:nth-of-type(odd){
    background:none;
}

.download-block__list{
    list-style:none;
    margin: 0;
    padding: 0;
}
.download-block__item{
    margin: 0 12px;
}
.download-block__item a{
    color:#000;
    font-size:17px;
}

/* -----   footer  ----- */

#footer.footer {
    background-color: #000;
    min-height: 30px;
    padding: 50px 0;
    color:#fff;
    font-size:13px;
    line-height: 17px;
    font-weight: 200;
}
#footer.footer a{
   color:#fff; 
}
#footer.footer a:hover{
    color:#969696;
}
.footer__logo{
    flex: 0 0 29%;
    width: 29%;
}
.footer__col{
    flex: 0 0 calc(71%/3);
    width: calc(71%/3);
    padding-right: 10px;
}
.footer__logo a{
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    margin-right: 10px;
}
.footer__logo span{
    line-height: 17px;
}
.footer__tel span{
    margin-right: 5px;
}
.footer__tel a{
    display: block;
}
.footer__copyright{
    margin-bottom: 25px;
}
.footer__descr{
    text-align: center;
    font-size:11px;
    font-weight: normal;
    line-height: 11px;
    letter-spacing: .2px;
}
.copyright__year{
    margin-right: 180px;
    white-space: nowrap;
}

input[type='submit'] {
    padding: 5px 35px;
    border: 1px solid #2080c2;
    color: #fff;
    background-color: #2080c2;
    margin: 0 5px;
}

input[type="number"] {
    width: 100%
}

.cart-row {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #babfc2;
}

.cart-row p {
    margin: 0;
    text-align: center;
}

.cart-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: space-between;
}

.cart-bottom b {
    font-size:16px;
    font-weight: 500;
}
.cart-bottom .sv-products__price{
    font-size:25px;
    font-weight: 500;
    color:#2080c2;
}
.cart-chack, .cart-top {
    padding-top: 10px;
    padding-bottom: 10px;
}

#cart-hiden .cart-bottom {
    text-align: right;
    margin-left: -10px;
    margin-right: -10px;
}

#chackout, #go-chackout, #empty {
    float: right;
}



/*.btn-primary {
    color: #fff;
    background-color: #37b3e6;
    border-color: #37b3e6;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3880b4;
  border-color: #0062cc;
  border-bottom:0px solid #3880b4;
	border-top:2px solid transparent;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
	border-bottom:2px solid #3880b4;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/
.dinamic-width .block {
    width: 100%;
}

.phone, .mail {
    font-size: 14px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2080c2;
}

.tab-content > .active {
    display: block;
}

a.blue-link {
    color: #01b5ea;
    text-decoration: underline;
}
/*Add blocks for redesign*/
.header-bg{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 4px #0000000D;
}
.header__banner{
    overflow:hidden;
    padding: 15px 0 35px;
}
.header__title h1,
.header__title .h1{
    color: #000000;;
    font-size:28px;
    line-height: 34px;
    text-transform: uppercase;
}
.header__title h1 strong,
.header__title .h1 strong{
    font-weight: bold;
    display: block;
}
.header__logo{
    margin-right: 30px;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
}
.header__info{
    text-align: right;
    color:#000;
}
.header__info a{
    color:#000;
}
.header__info .phone-red{
    margin: 0;
}
.header__info .phone-red a{
    font-size:24px;
    font-weight: bold;
}
.header__info .phone-red a:hover{
    color:#37b3e6;
}
.header__info p.time{
    line-height: 17px;
    font-size:17px;
    font-weight: normal;
    margin: 0;
}
a.form-link{
    font-weight: 500;
    font-size:17px;
    border-bottom: 1px solid #fff;
    margin: 0;
    color:#2080C2;
    border-bottom-color: #2080C2;
}
a.form-link:hover{
    color:#000;
    border-bottom: 1px solid #000;
}
/*Basket small*/
.basket-sm [class*='col-']{
    padding: 0;
}
.basket-sm .row{
    margin-left: 0;
    margin-right: 0;
}
.basket-sm__title{
    padding: 0;
    margin-bottom: 20px;
}
.basket-sm__title h2{
    font-size:16px;
    color:#2081c3;
    font-weight: bold;
    margin: 0;
}
.basket-sm__close{
    font-size: 14px;
   border:0;
   background:none;
   cursor:pointer;
   padding: 0;
}
.basket-sm__row{
    position:relative;
}
.basket-sm__number{
    position: absolute;
    left: -20px;
    top: 15px;
    font-size:20px;
    font-weight: 500;
    
}
.basket-sm__del{
    position: absolute;
    top: 15px;
    right: 0;
    border:0;
    background:0;
    cursor:pointer;
    padding: 0;
}
.basket-sm__img{
    width: 100px;
    height: 100px;
    max-width:100%;
    border-radius:5px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.basket-sm__img img{
    max-height:100%;
}
.basket-sm__row .name{
    font-size:11px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    color:#000101;
    padding-right: 25px;
}
.basket-sm__row .name a{
    color:#000101;
}
.basket-sm__row .price{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
}
.basket-sm__row p.price span{
    font-size:11px;
}
.basket-sm__row .count-total{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.basket-sm__row .input-group{
    width: 75px;
    margin-right: 10px;
    border-radius:8px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    padding: 0 5px;
    margin-bottom: 3px;
}
.order-form__wrapper .basket-sm__row  .btn-number.btn-minus, 
.order-form__wrapper .basket-sm__row  .btn-number.btn-plus{
    padding: 0;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.basket-sm__row  .input-group .form-control.input-number{
    border:0;
    text-align: center;
    height: 20px;
    border-radius:0!important;
    font-size:16px;
    font-weight: 500;
    width: 40px;
    flex: 0 0 40px;
    max-width:40px;
}
.basket-sm__row .full-price{
    font-size: 20px;
    font-weight: 500;
    color:#2080c2;
    font-style: nowrap;
    margin-bottom: 3px;
}
.basket-sm .row.sv-shopping-cart__info{
    -ms-align-items: flex-end;
    align-items: flex-end;
    margin-left: -10px;
    margin-right: -10px;
}
.sv-shopping-cart__info i{
    font-size:14px;
    line-height: 14px;
    font-weight: normal;
	font-style: italic;
	display: block;
}
.sv-shopping-cart__info-left{
    flex: 0 0 60%;
    max-width:60%;
}
.sv-shopping-cart__info-right{
    text-align: right;
    position: relative;
}
.sv-shopping-cart__info-right:after{
    content:"";
    position: absolute;
    right: -10px;
    bottom: -50px;
    background:url(../images/basket-sm-arrow.png);
    width: 28px;
    height: 51px;
}
.sv-shopping-cart__info-left .btn-link{
    color:#2080c2;
    font-weight: 500;
    font-size:16px;
    border:0;
    text-decoration: underline;
    background:none;
    padding: 0;
    cursor:pointer;
}
.sv-shopping-cart__info-left .btn-link:hover{
    text-decoration: none;
}
.sv-shopping-cart__info-right{
    flex: 0 0 40%;
    max-width:40%;
}
.sv-shopping-cart__buy{
    margin-top: 30px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.sv-shopping-cart__buy button{
    width: 235px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    font-size:17px;
    font-weight: 500;
    border-radius:35px;
    padding: 0;
    background:#2080c2;
}
/*BASKET*/
.form-row>.col, 
.form-row>[class*=col-]{
    padding-right: 15px;
    padding-left: 15px;
}
.form-row{
    margin-left: -15px;
    margin-right: -15px;
}
.form-row .form-control{
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border-radius:20px;
    padding: 10px 20px;
}
.basket__row{
    padding: 0;
    border-radius:5px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border:0;
    margin: 0 0 25px;
}
.basket__row .name,
.basket__row .name a{
    color:#2081c3;
    font-size:13px;
    font-weight: 500;
    text-transform: uppercase;
}
.basket__row .name a{
   border-bottom: 1px dashed #2081c3; 
   transition:ease all 0.3s;
}
.basket__row .name a:hover{
    border-bottom-color: transparent;
}
.basket__row  p.price{
    font-size:17px;
    color:#000;
    font-weight: bold
}
.basket__row  p.full-price{
    font-size:20px;
    color:#2080c2;
    font-weight: bold;
}
.basket__row .input-group{
    width: 100px;
    border-radius:8px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    padding: 0 5px;
    margin: 0 auto;
}
.basket__row  .btn-number.btn-minus, 
.basket__row  .btn-number.btn-plus{
    padding: 0;
    font-size: 12px;
    height: 25px;
    line-height: 20px;
}
.basket__row  .input-group .form-control.input-number{
    border:0;
    text-align: center;
    height: 25px;
    border-radius:0!important;
    font-size:17px;
    font-weight: 500;
    width: 60px;
    flex: 0 0 60px;
    max-width:60px;
}
.basket__del{
    border:0;
    background:0;
    cursor:pointer;
    padding: 0;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket__img{
    height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.basket__bottom{
    margin: 0;
    /*padding-left: 85px;*/
}
.basket__total >p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size:15px;
}
.basket__total span{
    font-size:20px;
    font-weight: bold;
    color:black;
}
.basket__total .btn-basket{
    width: 235px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    font-size:17px;
    font-weight: 500;
    border-radius:35px;
    padding: 0;
    background:#2080c2;
    display: block;
    margin: 0 auto 22px;
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    float:none!important;
    border:1px solid #6aaad6;
    color:#fff;
    cursor:pointer;
}
.basket__total .btn-basket.btn-continue{
    background:#fff;
    color:#6aaad6;
}
.basket__comment textarea{
    -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    border-radius:5px;
    border:0;
}
.basket__wrap{
    padding-left: 0px;
    margin-top: 20px;
}

@media (min-width: 992px){
    .col-lg-five {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .footer-block {
        text-align: center;
        margin-top: 15px;
    }

    #content h1 {
        text-align: center;
    }

    .add-to-cart {
        width: 100%;
    }
}
@media screen and (min-width:992px){
    .col-catalog{
        max-width:21%;
        flex: 0 0 21%;
        z-index: 991;
    }
    .col-search{
        max-width:60%;
        flex: 0 0 60%;
        z-index: 992;
    }
    .col-basket{
        max-width:19%;
        flex: 0 0 19%;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    /*CATALOG PAGE*/
    .col-catalog {
        max-width: 25%;
        flex: 0 0 25%;
    }
    .col-search {
        max-width: 53%;
        flex: 0 0 53%;
    }
    .col-basket {
        max-width: 22%;
        flex: 0 0 22%;
    }
    
    .c-filter__btns .btn{
        font-size: 10px;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .footer-block {
        text-align: center;
        margin-top: 15px;
    }

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 992px) and (max-width: 1200px) {
    .products .product{
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .dinamic-width {
        margin-left: -300px;
    }

    ul.list-with-img li {
        width: 32%;
        font-size: 18px;
    }

    .phone img, .mail img {
        width: 10px;
        height: 10px;
    }

    .phone, .mail {
        font-size: 11px;
    }

    #top-slider {
        min-height: auto;
    }

    #logo-top img {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    p.time {
        font-size: 12px;
    }

    .input_number {
        width: 100%;
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
    }
    
    /*REDESIGN*/
    .header__title h1{
        font-size:20px;
    }
}

.m-fltr__minmax {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5px;
    margin: 0 0 8px;
}

.m-fltr__col--mx {
    max-width: 49%;
    -ms-flex: 1 1 49%;
    flex: 1 1 49%;
}

.download__list{
    margin-bottom: 30px;
    padding-right: 50px;
}
.download__item{
    margin-bottom: 10px;
}
.download__item a{
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	color: #2080C2;
	text-decoration: underline;
	font-size: 12px;
}
.download__item a:hover{
    text-decoration: none;
}
.download__ico{
    width: 20px;
    height: 23px;
    flex: 0 0 20px;
    margin-right: 10px;
}
.fill-application{
    background: #5DB2EC url(../images/bg-blue.jpg);
    background-size: cover;
    border-radius: 10px;
    opacity: 0.9;
    padding: 42px 50px 32px;
     display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
        -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
    box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
}
.fill-application p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 10px;
    padding-right: 20px;
}
.fill-application a.btn{
    color: #2080C2;
    font-size: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
    height: 30px;
    line-height: 27px;
    max-width: 150px;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
}
.fill-application a.btn:hover{
    opacity:0.7;
}

@media (min-width: 576px) {
    .form-inline label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.m-fltr__slider-minmax {
    max-width: 100%;
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}
@media screen and (max-width:1200px){
    /*HEADER*/
    .header__banner{
        padding: 20px;
    }
    .block-work{
        margin-top: 0;
    }
    .block-work__title{
        flex: 0 0 225px;
        width: 225px;
    }
    .block-questions__inputs input{
        width: 30%;
        margin: 0 10px;
    }
    .block-questions__inputs input[type='submit']{
        margin: 0 10px;
    }
    
    /*FOOTER*/
    .footer__row{
        flex-wrap:wrap;
    }
    .footer__logo{
        width: 100%;
        flex: 0 0 100%;
        margin: 0 auto 30px;
        text-align: center;
        justify-content: center;
    }
    
    .footer__logo a{
        margin-right: 10px;
    }
    .footer__logo span{
        max-width:280px;
        text-align: left;
    }
    .footer__col{
        flex: 0 0 33.333%;
        width: 33.333%;
        padding:0 5px;
    }
    .copyright__year{
        margin-right: 20px;
    }
    
    /*CARTITEM*/
    .input-group .form-control.input-number{
        width: 70px;
        flex: 0 0 70px;
        max-width:70px;
    }
    p.price.middle{
        font-size:21px;
    }
    p.price.small{
        font-size:17px;
    }
    .btn-block{
        width: 80%;
    }
    .download-block__list{
        flex-wrap: wrap;
    }
    .download-block__item {
        margin: 0 0 10px;
        width: 50%;
        text-align: center;
    }
    .fill-application{
        padding: 32px 20px 22px;
    }
    .download__list{
        padding-right: 0;
    }
    
    
    /*BASKET*/
    .basket__wrap{
        padding-left: 0;
    }
    .basket__row > div{
        padding:0 5px;
    }
    .basket__bottom{
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .basket__bottom .basket__comment{
        padding-left: 0;
    }
    
    .block-cards__col{
        flex: 0 0 25%;
        max-width:25%;
    }
}
@media screen and (max-width:991px){
    .footer__col{
        flex-direction: column;
    }
    .footer__col span{
        display: block;
        margin-bottom: 3px;
    }
    
    /*CATALOG PAGE*/
    .catalog-link>h2{
        background:transparent;
    }
    .catalog-link:hover .catalog-block-down{
        top:100%;
        padding-top: 20px;
    }
    .col-basket{
        margin-top: 20px;
    }
    
    /*CARTITEM*/
    #slider-top p.vendor-code{
        font-size:12px;
    }
    a.tooltip-link{
        font-size:12px;
    }
    .save-and-print__block{
        display: none!important;
    }
    .card-price{
        margin-top: 0px;
    }
    .btn-block{
        width: 100%;
    }
    .count-btn__block{
        flex-direction:column;
        align-items:center;
    }
    .input_number{
        margin-right: 0;
    }
    .description__block-wrap,
    .description__block-right .description__block-wrap{
        padding: 25px;
    }
    .card-price .card-body{
        padding-top: 10px;
    }
    .fill-application{
        -webkit-flex-wrap: wrap;
    	-moz-flex-wrap: wrap;
    	-ms-flex-wrap: wrap;
    	-o-flex-wrap: wrap;
    	flex-wrap: wrap;
    	justify-content: center;
    	text-align: center;
    }
    .fill-application p br{
        display: none;
    }
    
    /*BASKET*/
    .basket__row .name, .basket__row .name a{
        font-size:12px;
    }
    .basket__row p.price{
        font-size:12px;
    }
    .basket__row p.full-price{
        font-size:14px;
    }
    .basket__row .input_number{
        margin-bottom: 0;
    }
    .basket__row .input-group{
        width: 100%;
    }
    .basket__row .input-group .form-control.input-number{
        width: 22px;
        flex: 0 0 22px;
        max-width:22px;
        padding:0;
        font-size:13px;
    }
    .basket__total span{
        display: block;
    }
    .basket__row .btn-number.btn-minus, .basket__row .btn-number.btn-plus{
        font-size: 10px;
    }
}
@media screen and (max-width:768px){
    .container{
        overflow: hidden;
    }
    #sidebar{
        padding-right: 20px;
    }
    /*REDESIGN*/
    .header__banner{
        padding: 20px;
        text-align: center;
    }
    .header__title h1{
        font-size:18px;
        line-height: 25px;
    }
    .header__info{
        padding-top: 0;
        text-align: center;
    }
    .header__logo{
        margin: 0 auto 10px;
    }
    
    /*FOOTER*/
    #footer.footer{
        padding:20px 0;
    }
    .footer__col{
        flex: 0 0 100%;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer__email{
        flex-direction: row;
    }
    .footer__col span{
        display: inline-block;
        margin-bottom: 0;
    }
    .footer__copyright{
        flex-direction: column;
        text-align: center;
    }
    .copyright__year{
        margin: 0 0 20px;
    }
    
    /*MAIN PAGE*/
    .block-work{
        flex-wrap:wrap;
        margin-top: -40px;
    }
    .block-work__title{
        text-align: center;
    }
    .block-questions{
        margin-bottom: 40px;
    }
    .block-questions__inputs{
        padding: 0 20px;
    }
    .block-questions__inputs input{
        width: 100%;
        max-width:255px;
        margin-bottom: 30px;
    }
    .block-cards__col{
        flex: 0 0 33.333%;
        max-width:33.333%;
    }
    .block-work__list{
        padding: 50px 0;
    }
    .block-work__list li{
        font-size: 16px;
    }
    
    /*CARTITEM*/
    .breadcrumb{
        font-size:12px;
    }
    h1, .title-spec{
        font-size:20px;
    }
    .availability{
        top:22px;
        left: 5px;
        font-size:8px;
    }
    .availability img{
        width: 11px;
        height: 11px;
        margin-right: 3px;
    }
    .card-price{
        margin: 0;
    }
    .count-btn__block{
        flex-direction:row;
        align-items: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .count-btn__block .input-group{
        justify-content: center;
    }
    .card-price .card-body{
        padding-bottom: 25px;
    }
    .input-group .form-control.input-number{
        height: 23px;
        font-size:13px;
    }
    .product-info{
        padding-left: 15px;
    }
    .btn-number{
        height: 23px;
        line-height: 20px;
        font-size:17px;
    }
    .btn-block{
        width: 80%;
    }
    .btn-block:last-child{
        margin-bottom: 20px;
    }
    .card-body__col_right{
        display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	-ms-flex-direction: column;
    	-o-flex-direction: column;
    	flex-direction: column;
    	-ms-align-items: center;
    	align-items: center;
	    padding: 25px 0 0;
    }
    .description__block-wrap{
        padding: 0;
        overflow: hidden;
    }
    .description__block-left .nav-tabs{
        border-radius:20px;
        -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        padding:25px 30px;
    }
    .description__block-left .tab-content{
        padding:0 25px 25px;
    }
    .description__block-left{
        padding-right: 15px;
        margin-bottom: 50px;
    }
    .download-block{
        display: none;
    }
    .description__block-right{
        padding: 0 50px;
        margin-bottom: 40px;
    }
    
    /*BASKET*/
    .basket__row{
        position: relative;
    }
    .basket__img{
        justify-content: center;
        margin-bottom: 10px;
    }
    .basket__img img{
        max-height:100%;
    }
    .basket__row .name, .basket__row .name a{
        text-align: center!important;
    }
    .basket__row .name{
        margin-bottom: 10px;
    }
    .basket__row .input_number{
        margin:10px 0;
    }
    .basket__row .input-group{
        width:80px;
    }
    .basket__row .input-group .form-control.input-number{
        width: 47px;
        flex: 0 0 47px;
        max-width:47px;
    }
    .del{
        position: absolute;
        top: 10px;
        right: 10px;
        left: auto;
        width: 19px;
        height: 19px;
        padding: 0;
    }
    .basket__row p.full-price{
        margin-bottom: 10px;
    }
    .form-row>.col, .form-row>[class*=col-]{
        flex-basis: inherit;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:575px){
    /*REDESIGN*/
    #header{
        margin-bottom: 25px;
    }
    .header-bg{
        padding-bottom:0;
    }
    .header__banner{
        padding:20px 0;
    }
    .header__logo{
        margin: 0px auto 10px;
        width: 138px;
        flex: 0 0 138px;
        height: 66px;
    }
    .header__title{
        display: none;
    }
    .header__info .phone-red a{
        font-size: 22px;
    }
    .block-cards{
        margin: 10px 0;
    }
    .block-cards__col{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .block-work__list li{
        flex: 0 0 50%;
        max-width: 50%;
    }
    

    /*CATALOG*/
    #catalog{
        box-shadow:none;
        padding: 0 20px;
        margin-bottom: 60px;
    }
    #catalog >h2{
        border-radius:15px;
            -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        box-shadow: -1px 7px 12px 2px rgba(50,50,50,0.25);
        text-align: center;
        margin-left: -20px;
        margin-right: -20px;
    }
    #catalog >h2 span{
        border-bottom: 1px dotted #2081c3;
    }
    #catalog >ul{
            -webkit-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        -moz-box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        box-shadow: -1px 7px 12px 4px rgba(50,50,50,0.25);
        padding-top: 20px;
        margin-top: -10px;
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
    }
    /*PRODUCT*/
    h1, .title-spec{
        text-align: center;
    }
    .products {
        padding: 10px 20px 0;
    }
    .product-wrap{
        border-radius:20px;
    }
    .product h3{
        font-size:15px;
    }
    ul.properties li,
    p.vendor-code{
        font-size:15px;
    }
    .price-btn-block{
        flex-wrap:wrap;
    }
    .price-btn-block p.price{
        width: 100%;
        text-align: center;
        font-size:31px;
    }
    .price-btn-block p.price span{
        font-size:15px;
    }
    .product .add-to-cart{
        padding: 5px 50px;
    }
    .lSSlideOuter .lSPager.lSGallery li{
        flex: 0 0 50px;
        width:50px;
        height: 50px;
        margin: 0 8px!important;
    }
    
}
