==

<form name="order-form" id="order-form">
    <div id="cart-hiden-block" class="d-none d-lg-block order-form__wrapper">
        <div id="cart-hiden-button" class="order-form__button">
           <span id="cart" class="basket">
                {% if ShoppingCart.getCart().getFullCount() > 0 %}
                    <span class="basket__quantity">{{ ShoppingCart.getCart().getFullCount() }}</span>
                {% endif %}
                <img src="{{ 'assets/images/svg/basket.svg'|theme }}" alt="basket" class="basket__icon">
            </span>
        </div>
        <div id="cart-hiden" class="basket-sm">
            <div class="sv-shopping-cart" class="visible">
                <div class="row align-items-center cart-top basket-sm__title">
                    <div class="col-md-8">
                        <a href="/cart">
                            <h2>
                                Корзина
                            </h2>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="basket-sm__close"
                                style="float: right"
                                {# id="empty" #}
                                id="closeCardButton"
                                {# data-request-success="svCart.afterReset.call(this)" #}
                                {# data-shopcart-reset #}
                                {# {% if products.count() == 0 %} disabled{% endif %} #}
                                {# data-request="onProductsResetFromCart" #}
                        >
                            <img src="{{ 'assets/images/svg/close-icon.svg'| theme }}" alt="">
                        </button>
                    </div>
                </div>
                <div id="cart-content">

                    <button type="button"
                            class="basket-sm__btn d-block mb-2"
                            data-request-success="svCart.afterReset.call(this)"
                            data-shopcart-reset
                            {% if products.count() == 0 %} disabled{% endif %}
                            data-request="onProductsResetFromCart">
                        Очистить корзину
                    </button>

                    <div class="order-form__produts-area sideCartProductArea" data-shopcart-area>
                        {% for product in products %}
                            {% partial '@item' index = loop.index  product=product %}
                        {% endfor %}
                    </div>

                    <div class="row align-items-center d-flex justify-content-between mt-2">
                        Итого товаров на сумму:
                        <span class="gotham-s-sm-medium"> <span data-shopcart-result>{{ priceFormatting(price) }}</span> <span
                                    class="rubl-icon">q</span></span>
                    </div>

                    <div class="mt-3">
                        <div class="mb-3">
                            <div>Вы можете:</div>
                            <button type="button" class="basket-sm__btn-link d-block gotham-s-sm-medium" id="go-page">
                                Продолжить покупки
                            </button>
                            <a href="/cart" class="basket-sm__btn-link d-block gotham-s-sm-medium">Перейти в корзину</a>
                        </div>

                        <div class="text-center">
                            <button type="button" class="b-btn b-btn--blue-shopping_card click1" data-fancybox data-src="#one-click"
                                    data-target="small-cart">Купить в 1 клик
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% component 'Favorites' %}
        </div>
    </div>
</form>
