<div class="banner-in-grid">
    {% if BannerComponent.banner.link %}
    <a href="{{ BannerComponent.banner.link }}">
        <img src="{{ BannerComponent.banner.image|media }}" alt="">
    </a>
    {% else %}
    <img src="{{ BannerComponent.banner.image|media }}" alt="">
    {% endif %}
</div>