==
<?php
function onStart()
{
    $this->page["current_year"] = date('Y');
}
?>
==
<p>&copy; 2012 &mdash; {{ this.page.current_year }}г.</p>

<p>Копирование информации без письменного согласия правообладателя запрещено.</p>