<!-- Modal -->
<div class="modal fade" id="modal-get-price" tabindex="-1" role="dialog" aria-labelledby="modal-get-priceLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center" id="modal-get-priceLabel">Получить прайс</h3>
            </div>
            <div class="modal-body viled_form__wrapper">
                <form class="form-horizontal paddings" name="get-price_form" id="get-price_form">
                    <div id="get-price_result"></div>
                    <div class="form-group tpl_default_author_name">
                        <label class="col-sm-4 control-label" for="get-price__name">ФИО</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="" name="name" id="get-price__name">
                        </div>
                    </div>
                    <div class="form-group tpl_default_author_email" style="">
                        <label class="col-sm-4 control-label" for="get-price__email">E-mail</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="" name="email"
                                   id="get-price__email">
                        </div>
                    </div>
                    <div class="form-group tpl_default_author_personal_mobile" style="">
                        <label class="col-sm-4 control-label" for="get-price__phone">Контактный телефон</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="" name="phone"
                                   id="get-price__phone"><span class="required-dot">•</span>
                        </div>
                    </div>
                    <div class="form-group tpl_default_author_work_company" style="">
                        <label class="col-sm-4 control-label" for="get-price__company">Организация</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="" name="company"
                                   id="get-price__company">
                        </div>
                    </div>
                    <div class="form-group tpl_default_author_state" style="">
                        <label class="col-sm-4 control-label" for="get-price__state">Регион</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="" name="state"
                                   id="get-price__state">
                        </div>
                    </div>
                    <div class="form-group tpl_default_author_city" style="">
                        <label class="col-sm-4 control-label" for="get-price__city">Город</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" value="" name="city" id="get-price__city">
                        </div>
                    </div>
                    <div class="form-group api-submit">
                        <div class="col-sm-6 col-lg-5 col-sm-offset-4 col-lg-offset-3">
                            <button type="submit" name="submit" style="" class="btn btn-bordered viled__submit-btn">
                                <i class="icon-spin4 animate-spin" style="display: none;"></i> Запросить прайс
                            </button>
                        </div>
                    </div>
                </form>
                <p class="contacts_form_info text-center"><i class="icon-lock"></i>Ваши данные в безопасности и не будут переданы 3-м лицам.</p>
            </div>
        </div>
    </div>
</div>