<div class="communication">
	<div class="col-sm-12 col-md-3 communication_hotline">

		<p class="hotline_title">Горячая линия</p>

		<p>Если вы затрудняетесь с выбором, для получения помощи свяжитесь с нашими специалистами по телефону.</p>

		<p>Мы работаем с 8:30 до 17:30. Московское время (GMT +4)</p>

		<p>Каждый день, кроме субботы и воскресенья.</p>
	</div>
	<div class="col-sm-12 col-md-9">

		<p class="manager_title">Звоните нам по любым вопросам</p>
		<div class="col-xs-12 col-sm-6 communication_manager">
			<div class="office_manager_photo">
				<br>
			</div>

			<p class="communication_person_name">Митина Татьяна</p>

			<p class="communication_person_function">Офис-менеджер. Приемная</p>

			<p class="communication_person_phone">8(812) 309-88-17 (доб. 104)</p>
		</div>
		<div class="col-xs-12 col-sm-6 communication_specialist">
			<div class="office_specialist_photo">
				<br>
			</div>

			<p class="communication_person_name">Павлов Сергей</p>

			<p class="communication_person_function">Специалист по светодиодному освещению</p>

			<p class="communication_person_phone">8(812) 309-88-17 (доб. 101)</p>
		</div>
	</div>
</div>