<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('austerus/shop/homepagecol') ?>">Колонки на главной</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="Сохранение изменений..."
                class="btn btn-primary">
            <u>С</u>охранить
        </button>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Сохранение изменений..."
                class="btn btn-default">
            Сохранить и закрыть
        </button>
        <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="Удаление..."
                data-request-confirm="Delete this homepagecol?">
        </button>
        <span class="btn-text">
            или <a href="<?= Backend::url('austerus/shop/homepagecol') ?>">Закрыть</a>
        </span>
    </div>
</div>
        <div class="layout-row">
            <?= $this->formRender(['useContainer' => false]) ?>

        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('austerus/shop/homepagecol') ?>" class="btn btn-default">Вернуться к списку</a></p>

<?php endif ?>

<?php include ("_change_category.htm"); ?>