@mixin benefits_triangle($len){
  border-top: #{$len}px solid transparent;
  border-bottom: #{$len}px solid transparent;
}
.benefits{
  border-top: 1px solid #ededed;
  border-left:1px solid #cdcdcd;
  border-right:1px solid #cdcdcd;
  border-bottom:2px solid #a7a7a7;
  position: relative;
  margin-bottom: 50px;
  .col-xxs-12{
    @media screen and (max-width: 600px){
      width: 100%;
    }
  }
  @include clearfix;
  .benefits-shadow{
    min-height: 205px;
    position: relative;
    text-align: center;
    top:0;
    left:0;
    right:0;
    padding: 30px 15px 30px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(243,243,243,1) 63%, rgba(243,243,243,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(62%, rgba(255,255,255,1)), color-stop(63%, rgba(243,243,243,1)), color-stop(100%, rgba(243,243,243,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(243,243,243,1) 63%, rgba(243,243,243,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(243,243,243,1) 63%, rgba(243,243,243,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(243,243,243,1) 63%, rgba(243,243,243,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(243,243,243,1) 63%, rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=1 );

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -22px;
      height: 22px;
      background: url("../img/benefits_shadow.png") no-repeat;
      @media (max-width: 400px) {
        background-image: url("../img/benefits_shadow small.png");
      }
      background-size: 100%;
    }
    &:after{
      content: "";
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      left:62%;
      width: 0;
      height: 0;
      border-left: 50px solid #fff;
      @include benefits_triangle(100);
      @media (max-width: 1199px) {
        @include benefits_triangle(166);
      }
      @media (max-width: 600px) {
        @include benefits_triangle(291);
      }
    }
    &>div{
      z-index: 1;
      display: inline-block;
    }
    & .benefits_title{
      text-transform: uppercase;
      font-size: $h1-font-size-title;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
    }
    & .benefits_list{
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: left;
      &>li{
        list-style: none;
        & .benefits_list_other{
          margin-left: 16px;
        }
        &>a{
          text-decoration: underline;
          white-space: nowrap;
          &.benefits_list_circle:before{
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #29ABE2;
            border-radius: 5px;
            margin-right:5px;
          }
        }
      }
    }
  }
}