==
<div class="block d-none d-md-block d-lg-block" id="block-filter">

    <h2>Цена:</h2>
    <div id="slider-1"
         data-min="0"
         data-max="{{ counter.price }}"
         data-from="{{ input('filter_price_from', 0) }}"
         data-to="{{ input('filter_price_to', counter.price) }}"
         data-name="filter_price"
         data-target-min="filter-price-min"
         data-target-max="filter-price-max"
         class="c-filter-slider"></div>
    <div class="row form-group form-inline m-fltr__form m-fltr__minmax mt-5">
        <div class="m-fltr__col m-fltr__col--mx">
            <label>
                <input
                        name="price[0]"
                        type="number"
                        class="form-control m-fltr__form-price-from m-fltr__slider-minmax"
                        data-svfilter-type="min"
                        id="filter-price-min"
                        value="{{ input('filter_price_from', 0) }}"
                        data-minprice=""
                        placeholder="от 0 &#8381;"
                >
            </label>
        </div>
        <div class="m-fltr__col m-fltr__col--mx">
            <label>
                <input
                        name="price[1]"
                        type="number"
                        class="form-control m-fltr__form-price-to m-fltr__slider-minmax"
                        data-svfilter-type="max"
                        value="{{ input('filter_price_to', counter.price) }}"
                        id="filter-price-max"
                        data-maxprice=""
                        placeholder="до 74250 &#8381;"
                >
            </label>
        </div>
    </div>
    {% if manufacturers.count() > 1 %}
        <h2>Производители:</h2>
        <div>
            {% for manufacturer in manufacturers %}
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox"
                           class="custom-control-input"
                           name="filter_manufacturer[]"
                           value="{{ manufacturer.id }}"
                           id="brand_{{ manufacturer.id }}"
                            {% if manufacturer.id in input('filter_manufacturer') %} checked{% endif %}
                    >
                    <label class="custom-control-label"
                           for="brand_{{ manufacturer.id }}">{{ manufacturer.name }}</label>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>Мощность:</h2>
    <div id="slider-2"
         data-min="0"
         data-max="{{ counter.power }}"
         data-from="{{ input('filter_power_from', 0) }}"
         data-to="{{ input('filter_power_to', counter.power) }}"
         data-name="filter_power"
         data-target-min="filter-power-min"
         data-target-max="filter-power-max"
         class="c-filter-slider"></div>

    <div class="row form-group form-inline m-fltr__form m-fltr__minmax mt-5">
        <div class="m-fltr__col m-fltr__col--mx">
            <label>
                <input
                        name="power[0]"
                        type="number"
                        class="form-control m-fltr__form-price-from m-fltr__slider-minmax"
                        data-svfilter-type="min"
                        id="filter-power-min"
                        value="{{ input('filter_power_from', 0) }}"
                        data-minprice=""
                        placeholder="от 0"
                >
            </label>
        </div>
        <div class="m-fltr__col m-fltr__col--mx">
            <label>
                <input
                        name="power[1]"
                        type="number"
                        class="form-control m-fltr__form-price-to m-fltr__slider-minmax"
                        data-svfilter-type="max"
                        value="{{ input('filter_power_to', counter.power) }}"
                        id="filter-power-max"
                        data-maxprice=""
                        placeholder="до 896"
                >
            </label>
        </div>
    </div>

    <h2>Световой поток:</h2>
    <div id="slider-3"
         data-min="0"
         data-max="{{ counter.light_flow }}"
         data-from="{{ input('filter_light-flow_from', 0) }}"
         data-to="{{ input('filter_light-flow_to', counter.light_flow) }}"
         data-name="filter_light-flow"
         data-target-min="filter-light-min"
         data-target-max="filter-light-max"
         class="c-filter-slider"></div>

    <div class="row form-group form-inline m-fltr__form m-fltr__minmax mt-5">
        <div class="m-fltr__col m-fltr__col--mx">
            <label>
                <input
                        name="power[0]"
                        type="number"
                        class="form-control m-fltr__form-price-from m-fltr__slider-minmax"
                        data-svfilter-type="min"
                        id="filter-light-min"
                        value="{{ input('filter_light-flow_from', 0) }}"
                        data-minprice=""
                        placeholder="от 0"
                >
            </label>
        </div>
        <div class="m-fltr__col m-fltr__col--mx">
            <label>
                <input
                        name="power[1]"
                        type="number"
                        class="form-control m-fltr__form-price-to m-fltr__slider-minmax"
                        data-svfilter-type="max"
                        value="{{ input('filter_light-flow_to', counter.light_flow) }}"
                        id="filter-light-max"
                        data-maxprice=""
                        placeholder="до 112000"
                >
            </label>
        </div>
    </div>


<div class="form-group form-inline c-filter__btns">
    <button type="submit" class="btn btn-primary" id="filter_submit">Применить</button>
    <button type="button" class="btn btn-default" id="filter_reset">Сбросить</button>
</div> 
</div>