==
<div id="o-order-form" data-orderform-result-success>
    <form
            data-request="onSubmitOrder"
            data-request-success="svOrder.afterSubmit(this, context, data)"
    >

        <div class="container-fluid white-container order-container">
            <h3 class="title-spec">Информация для оплаты и доставки заказа</h3>
            <div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="order-type-1" name="type" class="custom-control-input" checked value="1"
                           data-shopcart-typecustomer>
                    <label class="custom-control-label" for="order-type-1">Физическое лицо</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="order-type-2" name="type" class="custom-control-input" value="2"
                           data-shopcart-typecustomer>
                    <label class="custom-control-label" for="order-type-2">Юридическое лицо</label>
                </div>
            </div>

            <div data-shopcart-uploader
                 style="display: none;"
                 class="mt-2"
            >
                {% component 'requisitesForm' %}
            </div>

            <div class="form-row mt-3">
                <div class="col">
                   <!--  <label for="order-name">Контактное лицо *</label> -->
                    <input type="text" name="name" value="" class="form-control" placeholder="Контактное лицо *"
                           id="order-name" required>
                </div>
                <div class="col">
                    <!-- <label for="order-email">E-mail</label> -->
                    <input type="email" name="email" value="" class="form-control" placeholder="E-mail"
                           id="order-email">
                </div>
                <div class="col">
                    <!-- <label for="order-phone">Телефон *</label> -->
                    <input type="text" name="phone" value="" class="form-control form_phone" placeholder="Телефон *"
                           id="order-phone" required>
                </div>
            </div>
            <br>
            {% component 'ShoppingCartFull' %}
            <div class="row basket__bottom">
                <div class="col-md-7 basket__comment">
<!--                     <h3><label for="order-description">Комментарии к заказу</label></h3> -->
                    <div>
                    <textarea name="description" placeholder="Комментарии к заказу"
                              id="order-description"
                              style="width:100%;min-height:120px"
                              class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div data-orderform-result-error></div>
        </div>
    </form>
</div>
