<div class="jumbotron">
    <h2 class="display-4">Спасибо за заказ!</h2>
    <p class="lead">Наши специалисты свяжутся с вам в ближайшее время.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Вернуться на главную</a>
    </p>
</div>