<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('austerus/shop/units') ?>">Единицы измерения</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                        type="submit"
                        data-request="onSave"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Создание единицы измерения..."
                        class="btn btn-primary">
                    Добавить
                </button>
                <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Создание единицы измерения..."
                        class="btn btn-default">
                    Добавить и Закрыть
                </button>
                <span class="btn-text">
                            или <a href="<?= Backend::url('austerus/shop/units') ?>">Отмена</a>
                        </span>
            </div>
        </div>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('austerus/shop/units') ?>" class="btn btn-default">Вернуться к списку</a></p>

<?php endif ?>
