$second-color-a: #FFCF00;
$success-color-a-light: #34CFBE;
$second-color-b: #FF6C00;
$product-marks-bg-color-sale: $second-color-a;
$product-marks-color-sale: #fff;
$product-marks-bg-color-popular: $success-color-a-light;
$product-marks-color-popular: #fff;
$product-marks-bg-color-novelty: #00b3ee;
$product-marks-color-novelty: #fff;
$product-marks-bg-color-hit: #ff1815;
$product-marks-color-hit: #fff;
$product-marks-bg-color-stock: $second-color-b;
$product-marks-color-stock: #fff;
$product-marks-bg-color-special: #00b3ee;
$product-marks-color-special: #fff;

.product_mark {
  display: inline-block;
  padding: 7px 10px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  &--vertical {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    position: absolute;
    top: 25%;
    right: 13px;
  }
}

.product_mark {
  &--sale {
    @extend .product_mark;
    background: $product-marks-bg-color-sale;
    color: $product-marks-color-sale;
  }
  &--popular {
    @extend .product_mark;
    background: $product-marks-bg-color-popular;
    color: $product-marks-color-popular;
  }
  &--novelty {
    @extend .product_mark;
    background: $product-marks-bg-color-novelty;
    color: $product-marks-color-novelty;
  }
  &--hit {
    @extend .product_mark;
    background: $product-marks-bg-color-hit;
    color: $product-marks-color-hit;
    padding: 7px 35px;
  }
  &--stock {
    @extend .product_mark;
    background: $product-marks-bg-color-stock;
    color: $product-marks-color-stock;
    padding: 7px 35px;
  }
  &--special {
    @extend .product_mark;
    background: $product-marks-bg-color-special;
    color: $product-marks-color-special;
  }
}