$class: 'icon-tenge';
.#{$class} {
  display: inline-block;
  font-size: 1em;
  position: relative;
  margin-top: -1em;
  &:after {
    position: relative;
    top: 10px;
    font-size: 2em;
    line-height: 1em;
    content: " ";
    background-image: url('../img/tenge_symbol.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--white {
    @extend .#{$class};
    &:after {
      @extend .#{$class}:after;
      background-image: url('../img/tenge_symbol--white.svg');
    }
  }
}