.home-grid__row {
  max-width: 2200px;
  margin: 0 auto;
}

.home-grid__container {
  background: #1c1c1c;
}

.home-grid__wrapper {
  min-height: 180px;
}

.home-grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  padding: 0 15px;
  color: #fff;
}

.home-grid__title, .home-grid__description {
  font-weight: lighter;
}

.home-grid__title {
  font-size: 38px;
}

.home-grid__description {
  font-size: 18px;
  text-transform: uppercase;
  p {
    margin: 0;
  }
}

.home-grid__btn {
  position: absolute;
  bottom: 10px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
  &:hover {
    color: #fffacd;
  }
}

@media (min-width: 1501px) and (max-width: 1860px) {
  .home-grid__description {
    font-size: 16px;
  }
  .home-grid__title {
    font-size: 28px;
  }
}

@media (min-width: 1501px) and (max-width: 1662px) {
  .home-grid__description {
    font-size: 14px;
  }
}

@media (max-width: 1500px) {
  .home-grid__description {
    display: none;
  }
}

@media (max-width: 1200px) {
  .home-grid__title {
    font-size: 28px;
  }
}