.partners-blocks {
  @extend .scheme_work;
}

.partners-blocks__title {
  @extend .scheme_work_title;

  p {
    text-transform: uppercase;
    font-size: 36px;
    display: block;
    font-weight: 700;
    &:first-child {
      margin-bottom: 2px;
    }
    &:last-child {
      margin-top: 2px;
      color: $color_bright;
    }
  }
}

.partners-blocks__title-wrap {
  display: inline-block;
  background: $body-bg;
  position: relative;
  padding: 0 40px;
}

.partners-blocks__preview {
  max-width: 1200px;
  margin: 0 auto 50px;
}