.scheme_work {
  .scheme_work_preview_block {
    @media (max-width: $screen-sm) {
      margin-bottom: 75px;
    }
    min-height: 250px;
  }
  .scheme_work_title {
    position: relative;
    text-align: center;
    margin: 20px 0 40px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      background: #000;
      left: 0;
      right: 0;
      top: 50%;
    }
    .scheme_work_title_wrap {
      display: inline-block;
      background: $body-bg;
      position: relative;
      padding: 0 40px;
      & > p {
        text-transform: uppercase;
        font-size: 36px;
        display: block;
        font-weight: 700;
        &:first-child {
          margin-bottom: 2px;
        }
        &:last-child {
          margin-top: 2px;
          color: $color_bright;
        }
      }
    }
  }
  .scheme_work_preview {
    @media (min-width: 992px) and (max-width: 1200px) {
      .col-md-4.col-md-4 {
        width: 32%;
      }
    }
    @include clearfix;
    .scheme_work_preview_title {
      margin-top: 25px;
      font-weight: bold;
      font-size: 21px;
      &:after {
        content: "";
        display: block;
        width: 72px;
        height: 5px;
        background: $color_bright;
        margin: 10px auto;
      }
    }
    & p {
      text-align: center;
      &:last-child {
        font-size: 13px;
      }
    }
    .scheme_work_preview_image {
      width: 118px;
      height: 118px;
      margin: 0 auto;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        height: 14px;
        width: 40%;
        top: 50%;
        left: 105%;
        background: url("../img/arrow_right.png") no-repeat;
        background-size: contain;
        @media (max-width: $screen-sm - 1) {
          background-image: url("../img/arrow_down.png");
          height: 40%;
          width: 14px;
          left: 50%;
          margin-left: -7px;
          bottom: -150%;
          top: auto;
        }
      }
      &#scheme_work_order {
        background: url("../img/order_icon.png");
      }
      &#scheme_work_call {
        background: url("../img/call_icon.png");
      }
      &#scheme_work_payment {
        background: url("../img/payment_icon.png");
      }
      &#scheme_work_equipment {
        background: url("../img/equipment_icon.png");
      }
      &#scheme_work_delivery {
        background: url("../img/delivery_icon.png");
      }
      &#scheme_work_cosiness {
        background: url("../img/smile_icon.png");
        &:after {
          display: none;
        }
      }
    }
  }
}