.communication{
  p{
    text-align: center;
  }
  .communication_hotline{
    p{
      text-align: left;
      font-size: 14px;
      &.hotline_title{
        font-size: 16px;
      }
    }
  }
  .manager_title{
    text-transform: uppercase;
  }
  .office_manager_photo, .office_specialist_photo{
    width: 116px;
    height: 116px;
    margin: 0 auto;
    border-radius: 58px;
  }
  .office_manager_photo{
    background: url("../images/mitina-tatyana.jpg");
  }
  .office_specialist_photo{
    background: url("../images/pavlov-sergey.png");
  }
  .communication_person_name, .communication_person_phone{
    font-size: 24px;
  }
}
.before-footer-links{
  @media (max-width: 767px) {
    padding-left: 25%;
    .col-xs-12:last-child{
      margin-top:15px;
    }
  }
  .before-footer-links_title{
    text-transform: uppercase;
  }
  .before-footer-links_item{
    margin: 0 0 3px;
  }
}