==
{#<div class="modal fade" id="modal-questionnaire" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel">#}
{#    <div class="modal-dialog">#}
{#        <form data-request="onSendQuizForm">#}
            <div class="modal-content modal-content-low">
                <div class="modal-header">
                    <h5 class="modal-title gotham-s-sm-medium row col-12" id="quizModalLabel">
                        <div class="col-12 col-xl-6  text-xl-left">Подберем оборудование в 4 шага</div>
                        <div class="col-12 col-xl-6 pt-3 pt-xl-0 text-xl-right"><label id="quiz__steps">Шаг 1</label></div>
                    </h5>
                    <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                        <img src="{{ 'assets/images/svg/white_close_icon.svg'|theme }}">
                    </button>
                </div>
                <div class="modal-body modal-body-low px-4 modal-questionnaire">

                    <div class="row" id="step1">
                        <div class="col-sm-6 text-center">
                            <div class="modal-questionnaire__image">
                                <img src="{{ 'assets/images/questionnaire__img1.jpg'|theme }}"
                                     alt="questionnaire-image">
                            </div>
                            <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                    id="rezat" value="Резать">Резать
                            </button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="modal-questionnaire__image">
                                <img src="{{ 'assets/images/questionnaire__img2.jpg'|theme }}"
                                     alt="questionnaire-image">
                            </div>
                            <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                    id="markirovat" value="Маркировать">
                                Маркировать
                            </button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="modal-questionnaire__image">
                                <img src="{{ 'assets/images/questionnaire__img3.jpg'|theme }}"
                                     alt="questionnaire-image">
                            </div>
                            <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                    id="gravirovat" value="Гравировать">
                                Гравировать
                            </button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <div class="modal-questionnaire__image">
                                <img src="{{ 'assets/images/questionnaire__img4.jpg'|theme }}"
                                     alt="questionnaire-image">
                            </div>
                            <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                    id="svarivat" value="Сваривать">
                                Сваривать
                            </button>
                        </div>
{#                        <input type="hidden" name="answer1" value="" id="answer1">#}
                    </div>

                    <div class="pl-md-5 pt-5" id="step2" hidden>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test1" name="step2type" class="cart-page__input"
                                   checked="checked" value="Фанера"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test1">Фанера</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test2" name="step2type" class="cart-page__input" value="Ткань"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test2">Ткань</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test3" name="step2type" class="cart-page__input" value="Металл"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test3">Металл</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test4" name="step2type" class="cart-page__input"
                                   value="Пластик"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test4">Пластик</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test5" name="step2type" class="cart-page__input" value="ПВХ"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test5">ПВХ</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test6" name="step2type" class="cart-page__input" value="Акрил"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test6">Акрил</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test7" name="step2type" class="cart-page__input"
                                   value="Оргстекло"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test7">Оргстекло</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step2test8" name="step2type" class="cart-page__input" value="Пленка"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step2test8">Пленка</label>
                        </div>
{#                        <input type="hidden" name="answer2" value="" id="answer2">#}
                    </div>

                    <div class="pl-md-5 pt-3" id="step3" hidden>
                        <h6 class="pb-3">Лазерный станок СО2</h6>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test1" name="step3type" class="cart-page__input" value="Фанера"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test1">Фанера</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test2" name="step3type" class="cart-page__input"
                                   checked="checked" value="Ткань"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test2">Ткань</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test3" name="step3type" class="cart-page__input" value="Металл"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test3">Металл</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test4" name="step3type" class="cart-page__input"
                                   value="Пластик"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test4">Пластик</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test5" name="step3type" class="cart-page__input" value="ПВХ"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test5">ПВХ</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test6" name="step3type" class="cart-page__input" value="Акрил"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test6">Акрил</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test7" name="step3type" class="cart-page__input"
                                   value="Оргстекло"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test7">Оргстекло</label>
                        </div>
                        <div class="cart-page__radio">
                            <input type="radio" id="step3test8" name="step3type" class="cart-page__input" value="Пленка"
                                   data-shopcart-typecustomer="">
                            <label class="cart-page__label" for="step3test8">Пленка</label>
                        </div>
{#                        <input type="hidden" name="answer3" value="" id="answer3">#}
                    </div>

                    <div class="contacts pt-5" id="step4" hidden>
                        <div class="modal-body modal-body-low-price px-4 mb-2 found-a-cheaper-price1">
                            {% component 'renderQuizForm' %}
                        </div>
{#                        <div id="contactsForm">#}
{#                            <div class="form-group d-lg-flex">#}
{#                                <label for="NameQuestionnaire" class="mr-2">Ваше имя</label>#}
{#                                <input type="text" class="cart-page__form-input" name="name" id="NameQuestionnaire"#}
{#                                       placeholder="имя" required style="width: 79%;">#}
{#                            </div>#}
{#                            <div class="form-group d-lg-flex">#}
{#                                <label for="PhoneQuestionnaire" class="mr-2">Телефон</label>#}
{#                                <input type="text" name="phone" id="PhoneQuestionnaire" value#}
{#                                       class="form_phone cart-page__form-input" placeholder="+7..." required#}
{#                                       style="width: 100%;">#}
{#                            </div>#}
{#                            <div class="form-group d-lg-flex">#}
{#                                <label for="EmailQuestionnaire" class="mr-2">Электронная почта</label>#}
{#                                <input type="email" class="cart-page__form-input" name="email" id="EmailQuestionnaire"#}
{#                                       placeholder="user@mail.com" required style="width: 62%;">#}
{#                            </div>#}
{#                            <div class="form-group d-lg-flex">#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="modal-questionnaire__text-contacts text-center pt-md-5 mt-4">#}
{#                            <p>Спасибо за заполнение анкеты. Теперь мы знаем какое оборудование вам предложить!</p>#}
{#                            <button type="submit" id="getOffer" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" >Получить#}
{#                                предложение#}
{#                            </button>#}
{#                        </div>#}
                    </div>
                    <div class="success hidden">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Спасибо за ответ!</h1>
                                <p class="lead">Наши специалисты свяжутся с вам в ближайшее время.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-4 px-4 align-items-center justify-content-between">
                    <label id="tempprev"></label>
                    <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" id="btn-quiz-prev">Назад
                    </button>
                    <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" id="btn-quiz-next">Далее
                    </button>
                    <label id="tempnext" hidden></label>
                </div>
            </div>
{#        </form>#}
{#    </div>#}
{#</div>#}

<div class="modal-notification__questionnaire justify-content-center align-items-center" id="finalStep" hidden>
    <!-- modal-notification__questionnaire-show -->
    <div class="modal-notification__questionnaire-content d-flex justify-content-center">
        <h6 class="m-0">Анкета отправлена</h6>
    </div>
</div>