<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#callbackLowPrice">-->
<!--    Нашли дешевле? Сообщите-->
<!--</button><br><br>-->


<div class="modal fade" id="callbackLowPrice" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form data-request="onSendLowPriceForm" data-request-success="svOrder.afterSubmitLowPrice(this, context, data)">
            <div class="modal-content" id="modal-content-low-price">
                <div class="modal-header">
                    <h5 class="modal-title gotham-s-sm-medium" id="callbackModalLabel">Нашли дешевле? Сообщите</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="position: absolute; right: 3px; top: -29px; opacity: 10;">
                        <!-- <span aria-hidden="true">&times;</span> -->
                        <img src="{{ 'assets/images/white_close_icon.svg'|theme }}" style="width: 20px;">
                    </button>
                </div>
                <div class="modal-body modal-body-low-price px-4" id="modal-body-low-price">
                    <img src="{{ product.images[0].image|mediathumb_resize('width', 200) }}" class="img-fluid"/>
                    <div class="info d-block">
                        <h1 class="text-uppercase gotham-s-sm-medium">{{ product.name }}</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <input checked type="radio"
                                       value=" Розница - {{ priceFormatting(product.price) }}" id="wholesalePrice"
                                       name="typeLowPrice"
                                       class="modal__radio-input">
                                <label class="modal__radio-label" for="wholesalePrice">
                                    <span>розница</span>
                                    <div class="gotham-s-sm-medium">{{ priceFormatting(product.price) }} <span
                                                class="rubl-icon">q</span></div>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" id="defaultPrice"
                                       value=" Оптом - {{ priceFormatting(product.wholesale_price) }}"
                                       name="typeLowPrice" class="modal__radio-input">
                                <label class="modal__radio-label" for="defaultPrice">
                                    <span>оптовая</span>
                                    <div class="gotham-s-sm-medium">{{ priceFormatting(product.wholesale_price) }} <span
                                                class="rubl-icon">q</span></div>
                                </label>
                            </div>
                            <div class="col-md-4 input-group">
                                <input class="hidden" type="number" name="productId" value="{{ product.id }}"/>
                                <span class="input-group-btn">
                                    <button type="button"
                                            class="btn-number btn-minus"
                                            {% if(product.count== 1) %}disabled="disabled" {% endif %}
                                             data-type="minus"
                                            data-field="quantity[{{ product.id }}]"
                                    >
                                    <img src="{{ 'assets/images/MINUS.svg'|theme }}" style="width: 20px;">
                                    </button>
                                    <input type="text" name="quantity[{{ product.id }}]"
                                           class="form-control input-number order-form__quantity"
                                           data-id="{{ product.id }}"
                                           data-shopcart-quantityupdate
                                           value="1" min="1" max="9999999999">
                                    <button type="button"
                                            class="btn-number btn-plus"
                                            data-type="plus"
                                            data-id="{{ product.id }}"
                                            data-field="quantity[{{ product.id }}]">
                                    <img src="{{ 'assets/images/PLUSE.svg'|theme }}" style="width: 20px;">
                                    </button>
                                </span>
                            </div>
                        </div>

                        <br>
                        <div class="detailedConditions">
                            <p>Подробные условия <a href="#">здесь</a></p>
                        </div>
                    </div>
                    <div class="contacts">
                        <div id="contactsForm">
                            <div class="form-group d-flex">
                                <label for="otherLowPrice" class="mr-2">Цена в другом магазине:</label>
                                <input type="text" class="cart-page__form-input" name="otherLowPrice" id="otherLowPrice"
                                       placeholder="введите цену" style="width: 48%;">
                            </div>
                            <div class="form-group d-flex">
                                <label for="YourNameForLowPrice" class="mr-2">Имя</label>
                                <input type="text" class="cart-page__form-input" name="name" id="YourNameForLowPrice"
                                       placeholder="ваше имя" style="width: 100%;">
                            </div>
                            <div class="form-group d-flex">
                                <label for="linkToLowPrice" class="mr-2">Ссылка на товар:</label>
                                <input type="text" class="cart-page__form-input" name="linkToOtherPrice"
                                       id="linkToLowPrice" placeholder="http://" style="width: 63%;">
                            </div>
                            <div class="form-group d-flex">
                                <label for="telForLowPrice" class="mr-2">Телефон</label>
                                <input type="text" name="phone" id="telForLowPrice" value="" required
                                       class="form_phone cart-page__form-input" placeholder="+7..."
                                       style="width: 100%;">
                            </div>
                        </div>

                    </div>
                    <div class="success hidden">
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                                <h1 class="display-4">Спасибо за ответ!</h1>
                                <p class="lead">Наши специалисты свяжутся с вам в ближайшее время.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top:0;">
                    <!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <button type="submit" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-big">Отправить
                        сообщение
                    </button>
                    <div class="row px-4 py-4">
                        <div class="modal-footer__text col-md-10">
                            Нажимая кнопку "Отправить сообщение", я соглашаюсь на получение информации от
                            интернет-магазина
                            и уведомлений о состоянии моих заказов, а также принимаю условия политики конфидециальности
                            и
                            пользовательского соглашения.
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
