.contacts_icons{
  .contacts_icons_title_wrap{
    margin-bottom:50px;
    .contacts_icons_title{
      color: #124f86;
      text-align: center;
      margin: 2px 0;
      font-size: 36px;
      font-weight: bold;
    }
  }

  p{
    text-align: center;
    margin: 0;
    font-size: 18px;
    &:first-child{
      margin-bottom:10px;
    }
  }
  .icon-in-circle{
    background: #FCC049;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
    color:#fff;
    font-size: 30px;
    line-height: 60px;
  }
}
.contacts_block_down{
  margin-top:50px;
}