title = "Контакты"
url = "/contacts"
layout = "default"
meta_title = "Контакты - ООО\"Светоград\""
meta_description = "Большой выбор светодиодных светильников. Бесплатно доставим в регионы. Гарантия лучшей цены."
is_hidden = 0
seo_keywords = "промышленные светодиодные светильники уличные армстронг офисные линейные"
robot_index = "index"
robot_follow = "follow"
contentType = "html"
==
<div class="contact_info">
    <h1 class="text-center">Контактная информация ООО"ЛИБЕРТИ СВЕТ"</h1>
    
    <h2 class="text-center">Офис в Москве</h2>
    <p>Адрес: 115516, г Москва, ул. Промышленная, д. 11, строение 3</p>
    <p>Тел.: <a href="tel:{{ phoneClear(GeoApi.phone_number) }}">{{ GeoApi.phone_number }}</a></p>
    <p>E-mail: <a href="mailto:info@l-svet.com">info@l-svet.com</a></p>
    <p>Часы работы: с 9.00 до 17.30 по Мск</p>
    
        <h2 class="text-center">Офис и склад в Санкт-Петербурге</h2>
    <p>192289, г. Санкт-Петербург, пр. Девятого Января, д.57</p>
    <p>Тел.: <a href="tel:{{ phoneClear(GeoApi.phone_number) }}">{{ GeoApi.phone_number }}</a></p>
    <p>E-mail: <a href="mailto:info@l-svet.com">info@l-svet.com</a></p>
    <p>Часы работы: с 9.00 до 17.30 по Мск</p>
    
    
    <h3 class="text-center">Пункт выдачи в вашем городе</h3>
    <p>{{ GeoApi.address }}</p>
    <p>Тел.: <a href="tel:{{ phoneClear(GeoApi.phone_number) }}">{{ GeoApi.phone_number }}</a></p>
    <p>E-mail: <a href="mailto:info@l-svet.com">info@l-svet.com</a></p>
    <p>Часы работы: с 9.00 до 17.30 по Мск</p>
</div>
<div class="contacts-map text-center">{% partial 'contacts/map' %}</div>
<div class="contacts-form text-center">
    <div class="contacts-form__wrapper">
        {% partial 'contacts/form' %}
    </div>
</div>