title = "Гарантия"
url = "/garantiya"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"
==
<div class="block">
<div class="content_container clearfix">
    <div class="container-fluid">
        <div class="row" style="margin-top:40px;">
            <div class="col-sm-12 col-md-7">
                <h1>Гарантия</h1>
                <p class="justifyfull">На нашем сайте представлены только проверенные временем качественные и надежные светодиодные светильники и лампы. Наша компания заботится о своей репутации и очень тщательно подходит к формированию своего модельного ряда, ведь высокое качество товара является надежным фундаментом нашей работы.</p>

 <p class="justifyfull">Иногда в ходе нашей работы выявляется бракованный товар и наша задача в этом случае - максимально быстро предоставить нашему клиенту новый качественный товар или произвести ремонт вышедшего из строя товара.</p>
<p class="justifyfull">
<ul>
<p>Часто задаваемые вопросы по поводу гарантии:</p>
<li>Срок исполнения гарантийных обязательств за проданный товар равен сроку гарантии, установленному производителем в паспорте на товар;</li>
<li>Срок гарантии на любой товар можно узнать в разделе с техническими характеристиками карточки товара;</li>
<li>Средний срок исполнения гарантийных обязательств составляет 10-15 рабочих дней;</li>
<li>Гарантия на многие товары может быть расширена за дополнительную плату, регламентированную производителем;</li>
<li>Транспортировка бракованного товара от покупателя до нашего склада осуществляется за счет покупателя. В случае если сервисный центр подтвердит, что брак товара возник не по вине покупателя, покупатель имеет право на возмещение транспортных расходов.</li>
</ul>
</p>
<p>По всем вопросам гарантии обращайтесь на почту
</br><a href=mailto:"info@l-svet.com">info@l-svet.com</a></p>
            </div>
            <div class="col-sm-12 col-md-5">
                <p class="bold-title justifyfull"></p>
                <div id="director-form">
                    <form action="" method="post" name="director-form">
                        <div class="form-group{{ errors.has('name')?' has-error':'' }}">
                            <label for="name">Имя</label>
                            <input type="text" name="name" id="name" value="{{ form_value('name') }}"
                                   class="form-control" placeholder="Введите имя"/>
                            <span class="help-block"><strong>{{ errors.first('name') }}</strong></span>
                        </div>
                        <div class="form-group{{ errors.has('email')?' has-error':'' }}">
                            <label for="email">Электронная почта:</label>
                            <input type="text" name="email" id="email" value="{{form_value('email')}}"
                                   class="form-control" placeholder="Введите адрес электронной почты"/>
                            <span class="help-block"><strong>{{ errors.first('email') }}</strong></span>
                        </div>
                        <div class="form-group{{ errors.has('text')?' has-error':'' }}">
                            <label for="text">Подробное описание деффекта:</label>
                            <textarea name="text" cols="30" rows="5" id="text" class="form-control"
                                      placeholder="Введите сообщение">{{form_value('text')}}</textarea>
                            <span class="help-block"><strong>{{ errors.first('text') }}</strong></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Отправить" class="btn btn-default" name="director-form_submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% put scripts %}
<script type="text/javascript">
    (function () {
        Inputmask("+7-(999)-999-99-99").mask(document.getElementsByClassName("contacts_form_input")[1]);
    })()
</script>
{% endput %}