title = "Поиск товара по коду"
url = "/product/code/:code"
layout = "default"
description = "Страница получения карточки товара по коду"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[Shop]
mode = "code"
==
<div class="content_container clearfix">
    <div class="container-fluid">
        {% component 'Shop' %}
    </div>
</div>