title = "test"
url = "/test"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[QuizComponent]
==
{#{% component 'QuizComponent' %}#}
<div class="container">
    <div class="fill-application mt-5 mb-0">
        <div class="col-12 col-lg-6 p-3 p-lg-0">
            <h4 class="m-0 neutral-title-h4 text-center text-lg-left text-white">Подберем оборудование в 4 шага</h4>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end">
            <button class="b-btn b-btn--white-drenched-big2" data-toggle="modal" data-target="#modal-questionnaire">
                Подобрать оборудование
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-questionnaire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <form method="post" data-request="onSendSpecialPriceForm">
            <div class="modal-content modal-content-low">
                <div class="modal-header">
                    <h5 class="modal-title gotham-s-sm-medium row col-12" id="exampleModalLabel">
                        <div class="col-12 col-xl-6  text-xl-left">Подберем оборудование в 4 шага</div>
                        <div class="col-12 col-xl-6 pt-3 pt-xl-0 text-xl-right"><label id="quiz__steps"></label></div>
                    </h5>
                    <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                        <img src="{{ 'assets/images/svg/white_close_icon.svg'|theme }}">
                    </button>
                </div>
                <div class="modal-body modal-body-low px-4 modal-questionnaire">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="false">
                                <div class="row" id="step1">
                                    <div class="col-sm-6 text-center">
                                        <div class="modal-questionnaire__image">
                                            <img src="{{ 'assets/images/questionnaire__img1.jpg'|theme }}"
                                                 alt="questionnaire-image">
                                        </div>
                                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                                id="rezat" value="Резать">Резать
                                        </button>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="modal-questionnaire__image">
                                            <img src="{{ 'assets/images/questionnaire__img2.jpg'|theme }}"
                                                 alt="questionnaire-image">
                                        </div>
                                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                                id="markirovat" value="Маркировать">
                                            Маркировать
                                        </button>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="modal-questionnaire__image">
                                            <img src="{{ 'assets/images/questionnaire__img3.jpg'|theme }}"
                                                 alt="questionnaire-image">
                                        </div>
                                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                                id="gravirovat" value="Гравировать">
                                            Гравировать
                                        </button>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="modal-questionnaire__image">
                                            <img src="{{ 'assets/images/questionnaire__img4.jpg'|theme }}"
                                                 alt="questionnaire-image">
                                        </div>
                                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min step__one"
                                                id="svarivat" value="Сваривать">
                                            Сваривать
                                        </button>
                                    </div>
                                    <input type="hidden" name="answer1" value="" id="answer1">
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="false">
                                <div class="pl-md-5 pt-5" id="step2" hidden>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test1" name="step2type" class="cart-page__input"
                                               checked="checked" value="Фанера"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test1">Фанера</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test2" name="step2type" class="cart-page__input" value="Ткань"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test2">Ткань</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test3" name="step2type" class="cart-page__input" value="Металл"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test3">Металл</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test4" name="step2type" class="cart-page__input"
                                               value="Пластик"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test4">Пластик</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test5" name="step2type" class="cart-page__input" value="ПВХ"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test5">ПВХ</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test6" name="step2type" class="cart-page__input" value="Акрил"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test6">Акрил</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test7" name="step2type" class="cart-page__input"
                                               value="Оргстекло"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test7">Оргстекло</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step2test8" name="step2type" class="cart-page__input" value="Пленка"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step2test8">Пленка</label>
                                    </div>
                                    <input type="hidden" name="answer2" value="" id="answer2">
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="false">
                                <div class="pl-md-5 pt-3" id="step3" hidden>
                                    <h6 class="pb-3">Лазерный станок СО2</h6>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test1" name="step3type" class="cart-page__input" value="Фанера"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test1">Фанера</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test2" name="step3type" class="cart-page__input"
                                               checked="checked" value="Ткань"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test2">Ткань</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test3" name="step3type" class="cart-page__input" value="Металл"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test3">Металл</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test4" name="step3type" class="cart-page__input"
                                               value="Пластик"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test4">Пластик</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test5" name="step3type" class="cart-page__input" value="ПВХ"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test5">ПВХ</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test6" name="step3type" class="cart-page__input" value="Акрил"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test6">Акрил</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test7" name="step3type" class="cart-page__input"
                                               value="Оргстекло"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test7">Оргстекло</label>
                                    </div>
                                    <div class="cart-page__radio">
                                        <input type="radio" id="step3test8" name="step3type" class="cart-page__input" value="Пленка"
                                               data-shopcart-typecustomer="">
                                        <label class="cart-page__label" for="step3test8">Пленка</label>
                                    </div>
                                    <input type="hidden" name="answer3" value="" id="answer3">
                                </div>
                            </div>
                            <div class="carousel-item" data-interval="false">
                                <div class="contacts pt-5" id="step4" hidden>
                                    <div id="contactsForm">
                                        <div class="form-group d-lg-flex">
                                            <label for="NameQuestionnaire" class="mr-2">Ваше имя</label>
                                            <input type="text" class="cart-page__form-input" name="name" id="NameQuestionnaire"
                                                   placeholder="имя" required style="width: 79%;">
                                        </div>
                                        <div class="form-group d-lg-flex">
                                            <label for="PhoneQuestionnaire" class="mr-2">Телефон</label>
                                            <input type="text" name="phone" id="PhoneQuestionnaire" value
                                                   class="form_phone cart-page__form-input" placeholder="+7..." required
                                                   style="width: 100%;">
                                        </div>
                                        <div class="form-group d-lg-flex">
                                            <label for="EmailQuestionnaire" class="mr-2">Электронная почта</label>
                                            <input type="email" class="cart-page__form-input" name="email" id="EmailQuestionnaire"
                                                   placeholder="user@mail.com" required style="width: 62%;">
                                        </div>
                                        <div class="form-group d-lg-flex">
                                        </div>
                                    </div>
                                    <div class="modal-questionnaire__text-contacts text-center pt-md-5 mt-4">
                                        <p>Спасибо за заполнение анкеты. Теперь мы знаем какое оборудование вам предложить!</p>
                                        <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min">Получить
                                            предложение
                                        </button>
                                        <input type="submit" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" value="submit">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>





                </div>
                <div class="modal-footer pb-4 px-4 align-items-center justify-content-between">
                    <a class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
{#                    <label id="tempprev"></label>#}
{#                    <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" id="prev">Назад#}
{#                    </button>#}
{#                    <button type="button" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-min" id="next">Далее#}
{#                    </button>#}
{#                    <label id="tempnext" hidden></label>#}
                </div>
            </div>
        </form>
    </div>
</div>

{#<div class="modal-notification__questionnaire justify-content-center align-items-center">#}
{#    <!-- modal-notification__questionnaire-show -->#}
{#    <div class="modal-notification__questionnaire-content d-flex justify-content-center">#}
{#        <h6 class="m-0">Анкета отправлена</h6>#}
{#    </div>#}
{#</div>#}


{# <script>#}
{# let shareData = {#}
{# title: 'Product page',#}
{# text: 'link to product page',#}
{# url: window.location.href,#}
{# }#}

{# const btn = document.querySelector('#next');#}
{# const resultPara = document.querySelector('.result');#}

{# btn.addEventListener('click', () => {#}
{# navigator.share(shareData)#}
{# .then(() =>#}
{# resultPara.textContent = 'Product shared successfully'#}
{# )#}
{# .catch((e) =>#}
{# resultPara.textContent = 'Error: ' + e#}
{# )#}
{# });#}

{# </script>#}

{#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"#}
{#        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"#}
{#        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"#}
{#        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"#}
{#        crossorigin="anonymous"></script>#}

{#<script>#}
{#    $(document).ready(function () {#}
{#        const btnNext = document.querySelector('#next');#}
{#        const btnPrev = document.querySelector('#prev');#}
{#        const btnStepOne = document.querySelectorAll('.step__one');#}
{#        const rBtnStp2 = document.getElementsByName('step2type');#}
{#        const rBtnStp3 = document.getElementsByName('step3type');#}
{#        document.getElementById('quiz__steps').innerText = "Шаг 1";#}
{#        btnPrev.hidden = true;#}
{#        btnNext.addEventListener('click', () => {#}
{#            if (!document.getElementById('step1').hidden) {#}
{#                document.getElementById('step1').hidden = true;#}
{#                document.getElementById('step2').hidden = false;#}
{#                document.getElementById('tempprev').hidden = true;#}
{#                document.getElementById('quiz__steps').innerText = "Шаг 2";#}
{#                btnPrev.hidden = false;#}
{#            } else if (!document.getElementById('step2').hidden) {#}
{#                document.getElementById('step2').hidden = true;#}
{#                document.getElementById('step3').hidden = false;#}
{#                document.getElementById('quiz__steps').innerText = "Шаг 3";#}
{#            } else if (!document.getElementById('step3').hidden) {#}
{#                document.getElementById('step3').hidden = true;#}
{#                document.getElementById('step4').hidden = false;#}
{#                document.getElementById('tempnext').hidden = false;#}
{#                document.getElementById('quiz__steps').innerText = "Шаг 4";#}
{#                btnNext.hidden = true;#}
{#            }#}

{#        });#}
{#        btnPrev.addEventListener('click', () => {#}
{#            if (!document.getElementById('step4').hidden) {#}
{#                document.getElementById('step4').hidden = true;#}
{#                document.getElementById('step3').hidden = false;#}
{#                document.getElementById('tempnext').hidden = true;#}
{#                document.getElementById('quiz__steps').innerText = "Шаг 3";#}
{#                btnNext.hidden = false;#}
{#            } else if (!document.getElementById('step3').hidden) {#}
{#                document.getElementById('step3').hidden = true;#}
{#                document.getElementById('step2').hidden = false;#}
{#                document.getElementById('quiz__steps').innerText = "Шаг 2";#}
{#            } else if (!document.getElementById('step2').hidden) {#}
{#                document.getElementById('step2').hidden = true;#}
{#                document.getElementById('step1').hidden = false;#}
{#                document.getElementById('tempprev').hidden = false;#}
{#                document.getElementById('quiz__steps').innerText = "Шаг 1";#}
{#                btnPrev.hidden = true;#}
{#            }#}

{#        });#}
{#        for (let i = 0; i < btnStepOne.length; i++) {#}
{#            btnStepOne[i].addEventListener('click', () => {#}
{#                document.querySelector('#answer1').value = btnStepOne[i].value;#}
{#            });#}
{#        }#}
{#        for (let i = 0; i < rBtnStp2.length; i++) {#}
{#            rBtnStp2[i].addEventListener('click', () => {#}
{#                document.querySelector('#answer2').value = rBtnStp2[i].value;#}
{#            });#}
{#        }#}
{#        for (let i = 0; i < rBtnStp3.length; i++) {#}
{#            rBtnStp3[i].addEventListener('click', () => {#}
{#                document.querySelector('#answer3').value = rBtnStp3[i].value;#}
{#            });#}
{#        }#}

{#    });#}
{#    function afterSubmitQuiz (form, context, data) {#}
{#        if (data.status === 'success') {#}
{#            form.reset();#}
{#            document.querySelector('.modal-body').hidden = true;#}
{#            document.querySelector('.modal-footer').innerHTML = '';#}
{#            document.querySelector('.success').hidden = false;#}
{#            console.log(data)#}
{#        } else {#}
{#            document.querySelector('.modal-body').innerHTML = 'Что-то пошло не так...<br>Попробуйте позже.';#}
{#            document.querySelector('.modal-footer').innerHTML = '';#}
{#        }#}
{#    }#}

{#</script>#}