<form data-request="onSubmitOrder" data-request-success="svOrder.afterSubmit(this, context, data)">

    <div class="container-fluid white-container order-container">
        <h3 class="title-spec">Информация для оплаты и доставки заказа</h3>
        <div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="order-type-1" name="type" class="custom-control-input" checked value="1">
                <label class="custom-control-label" for="order-type-1">Физическое лицо</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="order-type-2" name="type" class="custom-control-input" value="2">
                <label class="custom-control-label" for="order-type-2">Юридическое лицо</label>
            </div>
        </div>
        <div class="control-multi-file-uploader form-group mt-3"
             data-handler="{{ __SELF__ ~ '::onUpdateFile' }}"
             data-control="multi-file-uploader"
             data-max-size="{{ options.fileMaxSize }}"
             data-file-types="{{ options.fileTypes }}">

            <div class="clickable"></div>
            <div class="content">
                <p class="placeholder">Прикрепите реквизиты, в формате jpg, png, pdf или doc</p>
            </div>

            <div class="template" style="display: none">
                <div class="dz-preview dz-file-preview">
                    <img class="thumbnail" src="{{ 'plugins/austerus/formbuilder/assets/images/upload.png'|app }}"
                         data-dz-thumbnail/>

                    <div class="dz-details">
                        <div class="dz-filename"><span data-dz-name></span></div>
                        <div class="dz-size" data-dz-size></div>
                        <div class="activity">
                            <div class="loading"></div>
                        </div>
                    </div>
                    <div class="action-panel">
                        <a href="javascript:;" class="delete">&times;</a>
                    </div>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>

                    <div class="dz-error-message">
                        <div class="dz-error-mark">&cross;</div>
                        <span data-dz-errormessage></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col">
                <label for="order-name">Контактное лицо *</label>
                <input type="text" name="name" value="" class="form-control" placeholder=""
                       id="order-name" required>
            </div>
            <div class="col">
                <label for="order-email">E-mail</label>
                <input type="email" name="email" value="" class="form-control" placeholder=""
                       id="order-email">
            </div>
            <div class="col">
                <label for="order-phone">Телефон *</label>
                <input type="text" name="phone" value="" class="form-control form_phone" placeholder=""
                       id="order-phone" required>
            </div>
        </div>
        <hr>
        {% component 'ShoppingCartFull' %}
        <div class="mt-4">
            <h3><label for="order-description">Комментарии к заказу</label></h3>
            <div>
                <textarea name="description"
                          id="order-description"
                          style="width:100%;min-height:120px"
                          class="form-control"></textarea>
            </div>
        </div>
        <div class="row cart-chack mt-2">
            <div class="col-md-3">
                <a href="/" class="btn btn-outline-primary">Продолжить покупки</a>

                <p>Вернуться к выбору товаров</p>

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" id="chackout"
                        data-attach-loading{% if cart.getProducts().count() == 0 %} disabled{% endif %}
                        data-shopcart-submit>Оформить заказ
                </button>
            </div>
        </div>
        <div data-orderform-result></div>
    </div>
</form>
