Список товаров:
<ul>
    {% for product in invoice.getProducts() %}
        <li>
            {{ loop.index }}. {{ product.model.name }} - {{ product.count }} шт.
        </li>
    {% endfor %}
</ul>
<p>Тип покупателя: {% if invoice.getCustomerType() == 0 %} Физ. лицо {% else %} Юр. лицо  {% endif %}</p>
{% if invoice.getDescription() %}
    <p>Оставил комментарий: </p>
    {{ invoice.getDescription() }}
{% endif %}
<hr>
<p>Цена со скидкой: {{ invoice.getPrice() }} руб.</p>
<p>Цена без скидки: {{ invoice.getDiscountPrice() }} руб.</p>
<p>Всего заказано товаров: {{ invoice.getCount() }}</p>
<p>Всего наименований товаров: {{ invoice.getProducts()|length }}</p>