

  textarea.code-area {
    width: 100%;
    height: 97% !important;
  }
  div.cod {
    height: 100%;
    display: none;

  }
  div[class^='gjs'] {
    font-size: 12px;
  }
  label.gjs-radio-item-label {
    color: #ffffff;
  }
  div.switch-link {
    background-color: #475354;
    padding-bottom: 5px;
  }

  a.cod-link {
    color: #ffffff;
    padding-left: 25px;
    text-decoration: none;
  }


