<h1>Экономический эффект от светильника</h1>
<p>Стоимость электроэнергии непреклонно растет из года в год поэтому, переход на более экономичные светодиодные светильники становится всё наиболее актуальным.</p> 
<p>Но ввиду большого количества различных моделей промышленного светодиодного освещения, их брендов, различных составляющих светильника и т.д. цены на примерно одинаковые по качеству и надежности модели светильников могут в разы отличаться, в данной ситуации, важно не торопиться, а основательно разобраться, что позволит избежать переплаты.</p>

<p>Смотреть нужно на следующие показатели:</p>
<ul>
<li>Страна происхождения.</li>
<p>Старайтесь приобрести светильники произведенные на предприятиях, расположенных на территории России. Таким образом вы минимизируете риски при гарантийном случае, а также значительно сократите сроки замены по гарантии.</p> 
<li>Гарантия не менее 3 лет.</li> 
<p>Большинство производителей, применяемых в своём производстве качественные комплектующие, дают на свою продукцию минимум 3 года гарантии, некоторые и 5 лет, в то время, как на “китайскую” продукцию в основном всего 1-2 года гарантии.</p>
<li>Показатель световой эффективности Лм/Вт.</li> 
<p>Для того, чтобы получить максимальную экономию, требуется светильник с максимальным световым потоком, при минимальной мощности, что позволит добиться нужного уровня освещенности, сэкономив максимум электроэнергии. Для того, чтобы ориентироваться и вывести данный показатель, требуется световой поток светильника (Лм) разделить на его мощность (Вт). Показатели, которые считаются достаточными - это свидетельствует о применении хороших светодиодов и качественного источника питания, является не менее 135 лм/вт.</p>
</ul> 
<p>Показатель срока окупаемости напрямую зависит от стоимости светильника и суммы, которую он будет Вам экономить в сравнении с традиционным источником света. Если все перечисленные выше показатели вас устроили, и у вас несколько вариантов, то стоит выбирать наиболее дешевый, тем самым уменьшая сроки окупаемости. Сроки окупаемости обязательно должны быть ниже, чем гарантийный период на светильник, такой подход максимально защитит ваши вложения в освещения и гарантированно принесёт Вам прибыль от перехода на светодиодное освещение.</p> 

<p>Если у вас остались вопросы, то можете обратиться к нашим менеджерам, они с удовольствием вас проконсультируют тел: <a href="tel:84951081941">8(495)108-19-41</a> или по почте <a href="mailto:info@l-svet.com">info@l-svet.com</a></p>