<h1>Как выбрать уличные светильники</h1>
<p>Современные уличные светодиодные светильники по техническим характеристикам многократно превосходят лампы любого типа. Главное преимущество светодиодных светильников – длительный срок службы и низкая потребляемая мощность. Несмотря на относительно высокую стоимость, эксплуатационные затраты получаются значительно ниже, что даёт значительную экономию в долгосрочной перспективе.</p>
<p>Светодиодные матрицы, как и сами светодиоды имеют узкий угол светового потока (около 120°) это обусловлено их конструктивной особенностью. Таким образом без применения вторичной оптики (линз) светодиодные светильники преимущественно выдают косинусную (Д) кривую силы света. Для получения широкой (Ш) или направленной кривой силы света применяют специальную вторичную оптику (линзы).</p>
<h2>Степень защиты IP</h2>
<p>Одной из главных характеристик светильника является его степень защиты от пыли и влаги. Светильники любых производителей должны быть промаркированы по единому международному стандарту, который указывает степень защиты IP. Для уличного освещения подходят светильники со степенью защиты не менее IP65.  По стандарту IEC-952 расшифровку обозначения степени защиты можно посмотреть в таблице.</p>
<h3>Справочная таблица маркировки защиты светильников от воздействия внешних факторов</h3>
<table style="border: 1px solid #000; border-collapse: collapse;" width="100%">
<tr style="border: 1px solid #000;" valign="top">
<th style="border: 1px solid #000; text-align:center;" width="33%">Порядковый № цифровой последовательности в маркировке</th>
<th style="border: 1px solid #000;">Обозначение в маркировке</th>
<th style="border: 1px solid #000;" width="33%">Расшифровка обозначения</th>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">Класс защиты от воздействия внешних факторов</td>
<td style="border: 1px solid #000; text-align:center;">IP</td>
<td style="border: 1px solid #000;" width="33%">Класс защиты в маркировке обозначается в соответствии с требованиями стандарта защиты электрооборудования от воздействия внешних факторов IEC-952</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="7" valign="middle">Первая цифра после IP, защита от проникновения твердых предметов</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">0</td>
<td style="border: 1px solid #000;">Нет защиты</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">1</td>
<td style="border: 1px solid #000;">От проникновения тел диаметром 50 мм и более</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">2</td>
<td style="border: 1px solid #000;">От проникновения тел диаметром 12 мм и более, длиной не более 80 мм</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">3</td>
<td style="border: 1px solid #000;">От проникновения тел диаметром 2,5 мм и более</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">4</td>
<td style="border: 1px solid #000;">От проникновения тел диаметром 1 мм и более</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">5</td>
<td style="border: 1px solid #000;">Допускается попадание пыли в количестве, недостаточном для нарушения работоспособности оборудования</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">6</td>
<td style="border: 1px solid #000;">Попадание пыли не допускается</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="9" valign="middle">Вторая цифра после IP, защита от попадания жидкости внутрь корпуса</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">0</td>
<td style="border: 1px solid #000;">Нет защиты</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">1</td>
<td style="border: 1px solid #000;">От вертикально падающих капель воды</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">2</td>
<td style="border: 1px solid #000;">От капель воды, падающих под углом 15°</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">3</td>
<td style="border: 1px solid #000;">От капель воды, падающих под углом 60°</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">4</td>
<td style="border: 1px solid #000;">От воды, разбрызгиваемой под любым углом</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">5</td>
<td style="border: 1px solid #000;">От струи воды, разбрызгиваемой под любым углом</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">6</td>
<td style="border: 1px solid #000;">От сильной струи воды (100 л/мин, 100 кПа)</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">7</td>
<td style="border: 1px solid #000;">От попадания воды при погружении на глубину до 15 см
</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">8</td>
<td style="border: 1px solid #000;">От попадания воды при длительном погружении</td>
</tr>

</table>
<h3>Освещенность</h3>
<p>Также при выборе уличного освещения требуется учитывать нормы освещенности для выбранного объекта. Освещенность измеряется в люксах (Лк) и измеряется с помощью специального прибора – люксметр. Для общего понимания свет полной луны при ясной погоде даёт освещенность в 0,2 Лк, солнечные лучи 50 000 Лк., освещенность в офисных помещениях 300-500 Лк.</p>
<p>Нормы освещенности прописаны в государственном документе «Естественное и искусственное освещение» - СНиП 23-05-2010. Подбирая уличный светодиодный светильник достаточно воспользоваться информацией из таблицы:</p>
<h3>Требования СНиП 23-05-2010 к средней горизонтальной освещенности на уровне покрытия</h3>
<table style="border: 1px solid #000; border-collapse: collapse;" width="100%">
<tr style="border: 1px solid #000;" valign="top">
<th style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Освещаемые объекты</th>
<th style="border: 1px solid #000;">Средняя горизонтальная освещенность, лк</th>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Главные пешеходные улицы, непроезжие части площадей категорий А и Б и пред заводские площади</td>
<td style="border: 1px solid #000; text-align:center;">10</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="2" valign="middle">Пешеходные улицы</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">в пределах общественных центров</td>
<td style="border: 1px solid #000; text-align:center;">6</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">на других территориях</td>
<td style="border: 1px solid #000; text-align:center;">10</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="2" valign="middle">Тротуары, отделенные от проезжей части на улицах категорий</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">А и Б</td>
<td style="border: 1px solid #000; text-align:center;">4</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">В</td>
<td style="border: 1px solid #000; text-align:center;">2*</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Посадочные площадки общественного транспорта на улицах всех категорий</td>
<td style="border: 1px solid #000; text-align:center;">10</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Пешеходные мостики</td>
<td style="border: 1px solid #000; text-align:center;">10</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="2" valign="middle">Пешеходные тоннели</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">днем</td>
<td style="border: 1px solid #000; text-align:center;">100</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">вечером и ночью</td>
<td style="border: 1px solid #000; text-align:center;">50</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Лестницы пешеходных тоннелей вечером и ночью</td>
<td style="border: 1px solid #000; text-align:center;">20</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="3" valign="middle">Пешеходные дорожки бульваров и скверов, примыкающих к улицам категорий</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">А</td>
<td style="border: 1px solid #000; text-align:center;">6</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">Б</td>
<td style="border: 1px solid #000; text-align:center;">4</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">В</td>
<td style="border: 1px solid #000; text-align:center;">2</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Территории микрорайонов</td>
<td style="border: 1px solid #000;"></td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" rowspan="2" valign="middle">Проезды</td>
<td style="border: 1px solid #000; text-align:center;" width="33%">основные</td>
<td style="border: 1px solid #000; text-align:center;">4</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%">второстепенные, в том числе тротуары-подъезды</td>
<td style="border: 1px solid #000; text-align:center;">2</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Хозяйственные площадки и площадки при мусоросборниках</td>
<td style="border: 1px solid #000; text-align:center;">2</td>
</tr>

<tr style="border: 1px solid #000;" valign="top">
<td style="border: 1px solid #000; text-align:center;" width="33%" colspan="2">Детские площадки в местах расположения оборудования для подвижных игр</td>
<td style="border: 1px solid #000; text-align:center;">10</td>
</tr>
</table>
<p>* Норма распространяется также на освещенность тротуаров, примыкающих к проезжей части улиц категорий Б и В с переходными и низшими типами покрытий</p>
<h3>Выбор кривой силы света (КСС)</h3>
<p>При выборе светодиодного уличного светильника важно знать его тип и назначение освещаемого объекта. Светильники имеют две наиболее распространённые диаграммы круговая (косинусная) и широкая (Ш). Светильники с круговой диаграммой наиболее распространённые они подходят для освещения большинства объектов. А вот для освещения магистральных дорог и городских улиц с большим потоком машин требуется светильники с широкой КСС, так как расстояние между опорами 30-35 метров, и требуется обеспечить равномерное освещение между опорами. Для данных дорог применение круговой диаграммы даст наличие освещенной зоны под опорой, а вот зона между опорами останется не освещенной, тут требуется применение светильников с широкой КСС, что позволит равномерно засветить весь участок дороги.</p>
<div>
<span>Широкая (Д) КСС</span>
<span style="float: right";>Круговая (Д) КСС</span>
</div>
<img src="https://cvetograd.com/storage/app/media/images/products/svet.jpg">
<img src="https://cvetograd.com/storage/app/media/images/products/svet2.jpg">