==

<div class="">
    <div class=" row col-md-12">
        <div class="col-md-9">
            <h1>Детали заказа № {{ order_id }}
                &nbsp
                <button type="button"
                        class="basket-sm__close"
                        data-request-success="svCart.afterReset.call(this)"
                        data-shopcart-reset
                        {% if products.count() == 0 %} disabled{% endif %}
                        data-request="onProductsResetFromCart">
                    Отчистить корзину &nbsp
                                    <img style="width: 14px" src="{{ 'assets/images/close.png'| theme }}" alt="">
                </button>
            </h1>

            <h2>Готовые к оплате (<span data-shopcart-count>{{ products.count() }}</span>)</h2>

        </div>
    </div>

    <div class="col-md-12 basket__wrap" id="cart-content">

        <!--         <div class="row align-items-center cart-top">
            <div class="col-md-12">
                <button
                        type="button"
                        class="btn btn-primary"
                        data-request-success="svCart.afterReset.call(this)"
                        data-request="onProductsResetFromCart"
                        data-shopcart-reset
                        {% if products.count() == 0 %} disabled{% endif %}
                        ><i class="fas fa-times"></i>Очистить
                </button>
            </div>
        </div> -->
        <h2 class="emptyCartError" style="padding: 40px 0">Корзина пустая</h2>
        <div class="row fullCartProductAreaForHidden">
            <div data-shopcart-area class="fullCartProductArea col-md-9">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4" style="text-align: center">
                        Наименование
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        Цена
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        Кол-во
                    </div>
                    <div class="col-md-2" style="text-align: center">
                        Стоимость
                    </div>
                    <div class="col-md-1 del"></div>
                </div>
                <br>
                {% for product in products %}

                    {% partial '@item' product=product %}

                {% endfor %}
            </div>
            <div class="col-md-3 basket__total">
                <p>Общее кол-во товаров: <span data-shopcart-count>{{ countFull }} </span></p>
                <p>Общая скидка: <span data-shopcart-discount>{{ priceFormatting(discount) }} р.</span></p>
                <p>Общая стоимость: <span data-shopcart-result>{{ priceFormatting(price) }} р.</span></p>
                <a href="/" class="btn-basket btn-continue">Продолжить покупки</a>
                <button type="submit" class="btn-basket" id="chackout" data-attach-loading{% if
                    products.count()== 0 %} disabled{% endif %} data-shopcart-submit>Оформить заказ
                </button>
            </div>
        </div>


        <div class="row align-items-center cart-bottom col-md-12">
            {% component 'FastAdding' %}
        </div>
    </div>
</div>
