<? $orders = $this->vars['formModel']; ?>
<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('austerus/shop/orders') ?>">Заказы</a></li>
    <li>Заказ № <?= $orders->id . ' от ' . $orders->created_at; ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
<div class="form-preview">
    <div data-control="formwidget" data-refresh-handler="form::onRefresh" class="form-widget form-elements layout"
         role="form" id="Form" data-disposable="">
        <div class="layout-row">
            <div id="Form-outsideTabs" class="form-tabless-fields ">
                <div class="form-group form-group-preview text-field span-full" data-field-name="id"
                     id="Form-field-Order-id-group">
                    <label>ID</label>
                    <!-- Text -->
                    <span class="form-control"><?= ($orders->id); ?></span>
                </div>
                <div class="form-group form-group-preview text-field span-full" data-field-name="id"
                     id="Form-field-Order-created_at-group">
                    <label>Дата заказа:</label>
                    <!-- Text -->
                    <span class="form-control"><?= ($orders->created_at); ?></span>
                </div>
                <div class="form-group form-group-preview text-field span-full" data-field-name="id"
                     id="Form-field-Order-name-group">
                    <label>Имя:</label>
                    <!-- Text -->
                    <span class="form-control"><?= ($orders->name); ?></span>
                </div>
                <div class="form-group form-group-preview text-field span-full" data-field-name="id"
                     id="Form-field-Order-email-group">
                    <label>Email:</label>
                    <!-- Text -->
                    <span class="form-control"><?= ($orders->email); ?></span>
                </div>
                <div class="form-group form-group-preview text-field span-full" data-field-name="id"
                     id="Form-field-Order-phone-group">
                    <label>Номер телефона:</label>
                    <!-- Text -->
                    <span class="form-control"><?= ($orders->phone); ?></span>
                </div>
                <div class="form-group form-group-preview text-field span-full" data-field-name="id"
                     id="Form-field-Order-details-group">
                    <label>Детали:</label>
                    <!-- Text -->
                    <span class="form-control"><?= ($orders->details); ?></span>
                </div>
            </div>
        </div>
    </div>
</div>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('austerus/shop/orders') ?>" class="btn btn-default">Return to orders list</a></p>

<?php endif ?>