title = "О нас"
url = "/about"
layout = "default"
meta_title = "Компания Светоград"
meta_description = "Комплексные поставки светодиодного освещения по оптовым ценам. Профессиональный подход. Гарантия качестсва."
is_hidden = 0
seo_keywords = "светоград компания комплексные поставки светодиодного освещения"
robot_index = "index"
robot_follow = "follow"
contentType = "html"
==
<?php
function onStart(){
    if(Request::method() === 'POST'){
        $validator = Validator::make(
        Request::all(),
        ['name' => 'required|min:3',
'email' => 'required|email']
);

if ($validator->fails()) {
Input::flash();
return Redirect::back()->withErrors($validator);
}
$data = [
'name' => Input::get('name'),
'email' => Input::get('email'),
'text' => Input::get('text'),
'page' => URL::current(),
];
Mail::send('austerus.shop::emails.director', $data, function($message) {

$message->to(config('mail.admin_email'), config('mail.from.name'));
$message->subject('Заявка с сайта');

});
}
}
?>
==
<div class="block">
<div class="content_container clearfix">
    <div class="container-fluid">
        <div class="row" style="margin-top:40px;">
            <div class="col-sm-12 col-md-7">
                <h1>О Компании</h1>
                <p class="justifyfull">Компания «Либерти Свет» занимается оптовыми и розничными поставками светодиодных светильников по всей России от ведущих заводов производителей.
                Наши специалисты помогут подобрать подходящие вам светильники, сделать светотехнический расчет, выехать на объект и непосредственно произвести все работы по подбору 
                оптимального и наиболее подходящего под ваши задачи светильника.</p>
                <p class="justifyfull">Наша компания имеет статус “дистрибьютора” по светильникам ТМ «НОВОВЕК» (г. Волгоград). Приглашаем «Дилеров» и «Партнёров» к сотрудничеству.</p>
            </div>
            <div class="col-sm-12 col-md-5">
                <p class="bold-title justifyfull">Задать вопрос директору</p>
                <div id="director-form">
                    <form action="" method="post" name="director-form">
                        <div class="form-group{{ errors.has('name')?' has-error':'' }}">
                            <label for="name">Имя</label>
                            <input type="text" name="name" id="name" value="{{ form_value('name') }}"
                                   class="form-control" placeholder="Введите имя"/>
                            <span class="help-block"><strong>{{ errors.first('name') }}</strong></span>
                        </div>
                        <div class="form-group{{ errors.has('email')?' has-error':'' }}">
                            <label for="email">Электронная почта:</label>
                            <input type="text" name="email" id="email" value="{{form_value('email')}}"
                                   class="form-control" placeholder="Введите адрес электронной почты"/>
                            <span class="help-block"><strong>{{ errors.first('email') }}</strong></span>
                        </div>
                        <div class="form-group{{ errors.has('text')?' has-error':'' }}">
                            <label for="text">Сообщение:</label>
                            <textarea name="text" cols="30" rows="5" id="text" class="form-control"
                                      placeholder="Введите сообщение">{{form_value('text')}}</textarea>
                            <span class="help-block"><strong>{{ errors.first('text') }}</strong></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Отправить" class="btn btn-default" name="director-form_submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% put scripts %}
<script type="text/javascript">
    (function () {
        Inputmask("+7-(999)-999-99-99").mask(document.getElementsByClassName("contacts_form_input")[1]);
    })()
</script>
{% endput %}