title = "Товар по целям использования"
url = "/product-targets/:slug"
layout = "default"
description = "Страница целей использования"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ProductTargetComponent]
partial = "@default"
==
<div class="content_container clearfix">
    <div class="container-fluid">
        {% component 'ProductTargetComponent' %}
    </div>
</div>