title = "Расчет освещения"
url = "/raschet_osvecheniya"
layout = "default"
meta_title = "Расчет освещенности помещения- заказать."
meta_description = "Бесплатно поможем произвести расчет освещенности в программе dialux. Подберем оптимальное количество светильников и модель."
is_hidden = 0
seo_keywords = "расчет освещенности помещения светодиодных светильников светодиодными лампами наружного освещения"
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[FreeProjectForm]
==
<div class="block">
<div class="content_container clearfix">
    <div class="container-fluid">
        <h1 class="text-center">Заявка на проект освещения</h1>
        <p class="text-center">Уважаемые клиенты!</p>
        <p class="text-center">Вы можете отправить заявку на бесплатный расчет освещения. Наши менеджеры свяжутся с Вами в течение одного рабочего дня.</p>
        {% component 'FreeProjectForm' %}
    </div>
</div>
</div>