==

<form name="order-form" id="order-form">
    <div id="cart-hiden-block" class="d-none d-lg-block order-form__wrapper">
        <div id="cart-hiden-button">
            <div id="cart"><img src="{{ 'assets/images/ico-basket.png'|theme }}" alt=""></div>
           <!--  <div id="favorit"><img src="{{ 'assets/images/ico-heart.png'| theme }}" alt=""></div> -->
        </div>
        <div id="cart-hiden" class="basket-sm">
            <div class="sv-shopping-cart" class="visible">
                <div class="row align-items-center cart-top basket-sm__title">
                    <div class="col-md-8">
                        <a href="/cart">
                            <h2>
                                Корзина
                            </h2>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="basket-sm__close"
                                style="float: right"
{#                                id="empty"#}
                                id="closeCardButton"
{#                                data-request-success="svCart.afterReset.call(this)"#}
{#                                data-shopcart-reset#}
{#                                {% if products.count() == 0 %} disabled{% endif %}#}
{#                                data-request="onProductsResetFromCart"#}
                        >
                               <img src="{{ 'assets/images/close.png'| theme }}" alt="">
                        </button>
                    </div>
                </div>
                <div id="cart-content">
                    <div class="order-form__produts-area sideCartProductArea" data-shopcart-area>
                        {% for product in products %}
                            {% partial '@item' index = loop.index  product=product%}
                        {% endfor %}
                    </div>

                    <div class="row align-items-center cart-bottom">
                            <b>Итого товаров на сумму:</b>
                            <span class="sv-products__price"
                                  data-shopcart-result>{{ priceFormatting(price) }} р.</span>

                    </div>

                    <div class="row cart-chack sv-shopping-cart__info">
                        <div class="sv-shopping-cart__info-left">
                            <i>Вы можете</i>
                            <button type="button" class="btn-link" id="go-page">Продолжить покупки
                            </button>
                            <a href="/cart" class="btn-link">Перейти в корзину</a>
                        </div>
                        <div class="sv-shopping-cart__info-right">
                            <i>И также <br>
                                оформить <br>
                                 заказ за 1 клик</i>
                        </div>
                        <div class="sv-shopping-cart__buy">
                             <button type="button" class="btn btn-primary form-control" id="go-page">Купить в 1 клик</button>
                        </div>
                    </div>
                </div>
            </div>
            {% component 'Favorites' %}
        </div>
    </div>
</form>
