==
<div class="basket-sm__row row cart-row order-form__products-item"
     data-request-data="id: {{ product.id }}"
     data-shopcart-item
     data-id="{{ product.id }}">
    <div class="basket-sm__number"> {{index}}</div>
    <div class="col-md-5">
        <a class="basket-sm__img" href="/{{ product.slug }}">
            <img src="{{ product.image.image|media }}" class="img-fluid" alt="{{ product.name }}"
                 title="{{ product.name }}">
        </a>
    </div>
    <div class="col-md-7">
        <p class="name"><a href="/{{ product.slug }}">{{ product.name }}</a></p>
<!--        <p class="price">{{ priceFormatting(product.minimalPrice) }} р. <span class="light">/ шт</span></p>-->
        <div class="count-total">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number btn-minus"
                            {% if(product.count== 1)%}disabled="disabled" {% endif %}
                            data-id="{{ product.id }}"
                            data-type="minus"
                            data-request="onProductMinusFromCart"
                            data-request-success="svCart.afterUpdateCount.call(this, context, data)"
                            data-field="quantity[{{ product.id }}]">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="text"
                           name="quantity[{{ product.id }}]"
                           class="form-control input-number order-form__quantity"
                           data-id="{{ product.id }}"
                           data-shopcart-quantity
                           value="{{ product.count }}"
                           min="1"
                           max="9999999999">
                    <button type="button"
                            class="btn btn-default btn-number btn-plus"
                            data-type="plus"
                            data-id="{{ product.id }}"
                            data-request="onProductPlusFromCart"
                            data-request-success="svCart.afterUpdateCount.call(this, context, data)"
                            data-field="quantity[{{ product.id }}]">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <p class="order-form__product-price full-price">
                <span data-shopcart-sum data-id="{{ product.id }}">{{ priceFormatting(product.getSumPrice) }}</span> р.
            </p>
        </div>
    </div>
    <button type="button"
            class="basket-sm__del"
            data-id="{{ product.id }}"
            data-request="onProductDeleteFromCart"
            data-request-success="svCart.afterDelete.call(this, context, data)"
    >
        <img src="{{ 'assets/images/close-01.png'| theme }}" alt="">
    </button>
</div>
