<div class="full-products-category">
    <div class="row">
        {% for product in products %}
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 product-grid__wrapper">
            {% partial "products/default-card" product=product %}
        </div>
        {% endfor %}
    </div>
</div>
{% if target %}
<div class="content_container clearfix">
    {{ target.content|raw }}
</div>
{% endif %}