==
{% styles %}
<script src="{{ 'assets/js/jquery-3.2.1.min.js'|theme }}"></script>
<script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.fancybox.min.js'|theme }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.scrollUp.min.js'|theme }}"></script>
<script src="{{ 'assets/js/nouislider.min.js'|theme }}"></script>
<script src="{{ 'assets/js/script.js'|theme }}"></script>
<script src="{{ 'assets/js/app.js'|theme }}"></script>
<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
<!--Для подсчета количества товаров в коризе и выдача порядкового номера-->
<script src="{{ 'assets/js/cartProductsCount.js'|theme }}"></script>


<!--  Кнопки скачивания PDF и печати   -->
<script src="{{ 'assets/js/html2pdf.js'|theme }}"></script>
<script src="{{ 'assets/js/createPDF.js'|theme }}"></script>
<!--  //Кнопки скачивания PDF и печати   -->

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% framework extras %}
{% scripts %}
