description = "Подвал сайта"
==
<footer id="footer" class="footer">
    <div class="container">
        <div class="pt-5 row">
            <div class="col-6 col-md-4 col-lg-3 pb-4 text-center text-md-left">
                <li class="footer-link"><a href="#" class="footer-item">Лизинг и кредит</a></li>
                <li class="footer-link"><a href="#" class="footer-item">Каталог</a></li>
                <li class="footer-link"><a href="#" class="footer-item">Сервис</a></li>
                <li class="footer-link"><a href="#" class="footer-item">Видео</a></li>
            </div>
            <div class="col-6 col-md-4 col-lg-3 pb-4 text-center text-md-left">
                <li class="footer-link"><a href="#" class="footer-item">Доставка и оплата</a></li>
                <li class="footer-link"><a href="#" class="footer-item">Помощь</a></li>
                <li class="footer-link"><a href="/faq" class="footer-item">Вопрос - ответ</a></li>
                <li class="footer-link"><a href="#" class="footer-item">Контакты</a></li>
            </div>
            <div class="col-md-4 col-lg-3 pb-4 text-center text-lg-left footer-social">
                <li class="footer-link"><a href="#" class="footer-item"><img src="{{ 'assets/images/svg/vk.svg'|theme}}" alt="social-icon" class="footer-social-icon">ВКонтакте</a></li>
                <li class="footer-link"><a href="#" class="footer-item"><img src="{{ 'assets/images/svg/instagram.svg'|theme}}" alt="social-icon" class="footer-social-icon">Instagram</a></li>
                <li class="footer-link"><a href="#" class="footer-item"><img src="{{ 'assets/images/svg/youtube.svg'|theme}}" alt="social-icon" class="footer-social-icon">YouTube</a></li>
                <li class="footer-link"><a href="#" class="footer-item"><img src="{{ 'assets/images/svg/twitter.svg'|theme}}" alt="social-icon" class="footer-social-icon">Twitter</a></li>
            </div>
            <div class="col-md-12 pb-4 mt-md-4 mt-lg-0 col-lg-3">
                <div class="contacts footer__contacts">
                    <div class="contacts__block text-center text-lg-right">
                        <span><a href="viber://chat?number=+79673443604" target="_blank"><img src="{{'assets/images/svg/viber.svg'|theme}}" alt="icon-viber"></a></span>
                        <span><a href="https://wa.me/79673443604" target="_blank"><img src="{{'assets/images/svg/whatsapp.svg'|theme}}" alt="icon-whatsapp"></a></span>
                        <span class="footer__telephone"><a href="tel:88127008927">8 (812) 700 89 27</a></span>
                    </div>
                    <div class="contacts__block text-center text-lg-right">
                        <span><a href="mailto:info@lazer-tor.ru"><img src="{{'assets/images/svg/mail.svg'|theme}}" alt="icon-mail"> info@lazer-tor.ru</a></span>
                    </div> 
                    <div class="contacts__block text-center text-lg-right">
                        <p class="contacts__time">9:00 - 17:30 по МСК</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p class="footer__copyright-title">Копирование информации без письменного согласия правообладателя
                запрещено.</p>
            <p class="footer__copyright-text">Обращаем Ваше внимание на то, что данный интернет-сайт носит
                исключительно информационный характер и ни при каких условиях не является публичной офертой,
                определяемой положениями Статьи 435 и Статьи 437 Гражданского кодекса Российской Федерации.<br>
                Для получения подробной информации об указанных акциях, а так же о стоимости товаров обращайтесь к
                нашим менеджерам по продажам светодиодного оборудования.</p>
        </div>
    </div>
</footer>

<a id="scrlBotm" href="#" class="c-scroll-btn"><i class="fas fa-angle-double-down"></i> <span>Вниз</span></a>
<a id="scrlTop" href="#" class="c-scroll-btn"><i class="fas fa-angle-double-up"></i> <span>Вверх</span></a>

{% partial "partials/analytics" %}

<!-- <div style="display: none;" id="hidden-content">
    <h2 class="text-center">Нашли цену дешевле?</h2>
</div> -->

<div class="modal fade" id="found-a-cheaper-price1" tabindex="-1" role="dialog" aria-labelledby="cheaperModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title gotham-s-sm-medium" id="cheaperModalLabel">Нашли цену дешевле?</h5>
                <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="{{'assets/images/svg/white_close_icon.svg'|theme}}"> 
                </button>
            </div>
            <div class="modal-body modal-body-low-price px-4 mb-2 found-a-cheaper-price1">
                {% component 'renderForm3' %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="found-a-cheaper-price2" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title gotham-s-sm-medium" id="demoModalLabel">Запись на демонстрацию</h5>
                <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="{{'assets/images/svg/white_close_icon.svg'|theme}}">
                </button>
            </div>
            <div class="modal-body modal-body-low-price px-4 mb-2 found-a-cheaper-price1">
                {% component 'formConsultation' %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="found-a-cheaper-price3" tabindex="-1" role="dialog" aria-labelledby="creditModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title gotham-s-sm-medium" id="creditModalLabel">Рассрочка, кредит, лизинг</h5>
                <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="{{'assets/images/svg/white_close_icon.svg'|theme}}">
                </button>
            </div>
            <div class="modal-body modal-body-low-price px-4 mb-2 found-a-cheaper-price1">
                {% component 'formConsultation' %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="found-a-cheaper-price4" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title gotham-s-sm-medium" id="quizModalLabel">Запись на демонстрацию</h5>
                <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="{{'assets/images/svg/white_close_icon.svg'|theme}}">
                </button>
            </div>
            <div class="modal-body modal-body-low-price px-4 mb-2 found-a-cheaper-price1">
                {% component 'renderQuizForm' %}
            </div>
        </div>
    </div>
</div>
<div style="display: none;" id="one-click">
    <div class="c-one-click">
        <h2 id="one-click-title">Купить</h2>
        <hr>
        {% component 'onClick' %}
    </div>
</div>
<div class="modal fade" id="request-a-call" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title gotham-s-sm-medium" id="callbackModalLabel">Заказать звонок</h5>
                <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="{{'assets/images/svg/white_close_icon.svg'|theme}}">
                </button>
            </div>
            <div class="modal-body modal-body-low-price px-4 mb-2 request-a-call">
                {% component 'renderForm2' %}
            </div>
        </div>
    </div>
</div>
