[CitiesList]
partial = "geoapi/_cities_list"
==
<div id="header" class="pt-3">
    <div class="container">
        <div class="row pb-md-0 pb-lg-3">
            <a href="/" class="col-4 col-md-3 col-lg header__logo">
                <img src="{{'assets/images/logo.png'|theme}}" alt="logo" class="logo">
            </a>
            <div class="main-header p-0 p-sm-1 col-6 col-md-7 col-lg-6 col-xl-7">
                <div id="menu-burger">
                    <nav class="main-header__menu">
                        <button id="burger-close" class="burger-close"></button>
                        <div class="menu-burger__city d-block d-sm-none">
                            {% component 'CitiesList' %}
                        </div>
                        <ul class="main-header__list d-lg-flex justify-content-around">
                            <li class="main-header__link">
                                <a href="#" class="main-header__item">Лизинг и кредит</a>  
                            </li>
                            <li class="main-header__link">
                                <a href="/ulichnye-svetodiodnye-svetilniki" class="main-header__item">Каталог</a>
                            </li>
                            <li class="main-header__link">
                                <span class="main-header__item main-header__arrow">Сервис</span>  
                                <ul class="main-header__list-sub">
                                    <li class="main-header__link">
                                        <a href="#" class="main-header__item">Расчет освещения</a>
                                    </li>
                                    <li class="main-header__link">
                                        <a href="#" class="main-header__item">Нестандартная разборка</a>
                                    </li>
                                    <li class="main-header__link">
                                        <span class="main-header__item main-header__arrow">Светильники для тендера</span>  
                                        <ul class="main-header__list-sub">
                                            <li class="main-header__link">
                                                <a href="#" class="main-header__item">Расчет освещения</a>
                                            </li>
                                            <li class="main-header__link">
                                                <a href="#" class="main-header__item">Нестандартная разборка</a>
                                            </li>
                                            <li class="main-header__link">
                                                <a href="#" class="main-header__item">Светильники для тендера</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="main-header__link">
                                <span class="main-header__item main-header__arrow">Видео</span>
                                <ul class="main-header__list-sub">
                                    <li class="main-header__link">
                                        <a href="#" class="main-header__item">Расчет освещения</a>
                                    </li>
                                    <li class="main-header__link">
                                        <a href="#" class="main-header__item">Нестандартная разборка</a>
                                    </li>
                                    <li class="main-header__link">
                                        <a href="#" class="main-header__item">Светильники для тендера</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="part__line-bottom"></div>
                        <div>
                            <div class="d-lg-none main-burger__basket">
                                <a href="/cart" class="d-flex justify-content-center menu-burger__link">
                                    <div>Корзина</div>                                          
                                    <div class="basket">
                                        {% if ShoppingCart.getCart().getFullCount() > 0 %}
                                         <span class="basket__quantity">{{ ShoppingCart.getCart().getFullCount() }}</span>
                                        {% endif %}
                                        <img src="{{'assets/images/svg/basket.svg'|theme}}"alt="basket" class="basket__icon">
                                    </div>
                                </a>
                            </div>
                            <div class="d-lg-none menu-burger__contacts">
                                <div class="contacts__block d-flex justify-content-center">
                                    <span><a href="mailto:info@lazer-tor.ru"><img src="{{'assets/images/svg/mail.svg'|theme}}" alt="icon-mail"> info@lazer-tor.ru</a></span>
                                </div>
                                <div class="contacts__block d-flex justify-content-center">
                                    <span><a href="viber://chat?number=+79673443604" target="_blank"><img src="{{'assets/images/svg/viber.svg'|theme}}" alt="icon-viber"></a></span>
                                    <span><a href="https://wa.me/79673443604" target="_blank"><img src="{{'assets/images/svg/whatsapp.svg'|theme}}" alt="icon-whatsapp"></a></span>
                                    <span><a href="tel:88127008927">8 (812) 700 89 27</a></span>
                                </div>
                                <div class="contacts__block d-flex justify-content-center">
                                    <a class="contacts__link" data-toggle="modal" data-target="#request-a-call" href="javascript:;">
                                        Заказать звонок
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>    
                {% if this.controller.vars.Shop.type == 'product' or this.controller.vars.Shop.type == 'category' %}
                {% partial 'layouts/line-cart' %}
                {% else %}
                <form class="m-0 row" action="/search">
                    <div class="main-header__search-block d-flex col p-0">
                        <button type="submit" class="main-header__btn main-header__btn--right">Найти</button>
                        <span class="w-100 d-block d-md-flex main-header__border-bottom--mob">
                            <input name="q" type="text" id="search" placeholder="Поиск по коду товара" class="main-header__input" required>
                        </span>
                    </div>
                   
                    <div class="main-header__basket ml-2 d-none d-lg-block">
                        <a href="/cart">
                            <span class="basket">
                                {% if ShoppingCart.getCart().getFullCount() > 0 %}
                                <span class="basket__quantity">{{ ShoppingCart.getCart().getFullCount() }}</span>
                                {% endif %}
                                <img src="{{'assets/images/svg/basket.svg'|theme}}"alt="basket" class="basket__icon">
                            </span>
                        </a>
                    </div>
    
                </form> 
                {% endif %}
            </div>

            <div class="col contacts__header">
                <div class="contacts__block text-right">
                    <span><a href="mailto:info@lazer-tor.ru"><img src="{{'assets/images/svg/mail.svg'|theme}}" alt="icon-mail"> info@lazer-tor.ru</a></span>
                </div>
                <div class="contacts__block text-right">
                    <span><a href="viber://chat?number=+79673443604" target="_blank"><img src="{{'assets/images/svg/viber.svg'|theme}}" alt="icon-viber"></a></span>
                    <span><a href="https://wa.me/79673443604" target="_blank"><img src="{{'assets/images/svg/whatsapp.svg'|theme}}" alt="icon-whatsapp"></a></span>
                    <span><a href="tel:88127008927">8 (812) 700 89 27</a></span>
                </div>
                <div class="contacts__block text-right">
                    <a class="contacts__link" data-toggle="modal" data-target="#request-a-call" href="javascript:;">
                        Заказать звонок
                    </a>
                </div>
            </div>
            <div class="col-2 menu-burger justify-content-center align-items-center">
                <span class="position-relative" id="burger">
                    {% if ShoppingCart.getCart().getFullCount() > 0%}
                        <span class="basket__quantity">{{ ShoppingCart.getCart().getFullCount() }}</span>
                    {% endif %}
                    <div class="menu-burger__btn">
                        <span class="menu-burger__item">Menu</span>
                    </div>
                </span>
            </div>
        </div>
        {% if this.controller.vars.Shop.type == 'product' or this.controller.vars.Shop.type == 'category' or this.controller.vars.type_view == 'full' %}
        {% component 'CategoriesList' partial = "@categories-inline.htm" limit = 0 %}
        {% endif %}
    </div>
</div>
