[CategoriesList]
partial = "@default"
limit = 0
==
<div class="col-md-12 row p-0 m-0" id="scroll-header">
    <form class="col p-0 main-header__search-block w-100 d-flex" action="/search">
        <div class="catalog-link d-none d-md-flex">
            <button type="button" class="main-header__btn main-header__btn--right main-header__btn--catalog d-flex justify-content-around" >Каталог товаров <img src="{{ 'assets/images/svg/menu.svg'|theme }}" alt="burger-icon" class="main-header__burger-icon"></button> 
            <div class="catalog-block-down" id="hidden-content-16">
                {% component 'CategoriesList' partial = "@category-drop-down.htm" limit = 0 %}
            </div>
        </div>
        <span class="w-100 d-block d-md-flex main-header__border-bottom--mob">
             <input name="q" type="text" id="search" placeholder="Поиск по коду товара" class="main-header__input" required>
        </span>
        <button type="submit" class="main-header__btn main-header__btn--left">Найти</button>
    </form>

    <div class="pl-2 d-none d-xl-block" style="max-width: 200px;">
        {% if ShoppingCart %}
        <div class="d-flex align-items-center">

            <div class="main-header__basket">
                <a href="/cart">
                    <span class="basket">
                    {% if ShoppingCart.getCart().getFullCount() > 0%}
                        <span class="basket__quantity">{{ ShoppingCart.getCart().getFullCount() }}</span>
                    {% endif %}
                    <img src="{{ 'assets/images/svg/basket.svg'|theme }}" alt="basket" class="basket__icon">
                </span>
                </a>
            </div>

            <div class="main-header__basket-info pl-1">
                <div>в корзине:  <span><span data-shopcart-count>{{ priceFormatting(ShoppingCart.getCart().getCount()) }}</span>
                    <span data-shopcart-label-product data-label-default="товаров">
                    {% if ShoppingCart.getCart().getCount() > 1%}
                    товара
                    {% else %}
                    товаров
                    {% endif %}
                    </span>
                </span>
                </div>
                <div>на сумму:  <span><span class="sv-products__price" data-shopcart-result>{{ priceFormatting(ShoppingCart.getCart().getResultPrice()) }}</span> <span class="rubl-icon">q</span></span></div>
            </div>

        </div>
        {% endif %}
    </div>
</div>


