[CategoriesMenu CategoriesMenu2]
partial = "@default"
page = "/"
slugParam = "slug"
root = "root"
pushUp = 1

[Filter]
==
{% if not this.controller.vars.Shop.type == 'category' %}
    {% component 'CategoriesMenu2' %}
{% else %}
    {% component 'Filter' %}
{% endif %}
<div class="part__block d-none d-md-block mb-2" id="block-number">
    <h3 class="part__title gotham-s-sm-medium">Демонстрация оборудования в СПБ</h3>
    <p class="part__text part__text--center">расскажем, покажем, подберем решение под ваши задачи
    </p>
    <p class="part__title">
        <button class="b-btn b-btn--blue-border" data-toggle="modal" data-target="#found-a-cheaper-price2">Записаться
        </button>
    </p>
</div>
<div class="part__block d-none d-md-block mb-2" id="block-article">
    <h3 class="part__articles-title mb-3"><img src="{{ 'assets/images/idea.png'|theme }}" alt="idea-icon"
                                               class="part__idea"> Полезные статьи</h3>
    <ul>
        <li><a href="/stat/kak-podobrat-promyshlennyj-svetodiodnyj-svetilnik.htm">Как подобрать промышленный
                светодиодный светильник?</a></li>
        <li><a href="/stat/vybor-ulichnogo-svetilnika.htm">Выбор уличного светильника</a></li>
        <li><a href="/stat/kak-opredelit-kachestvennyj-svetilnik">Как определить качественный светильник?</a></li>
        <li><a href="/stat/ekonomicheski-effekt-ot-svetilnika.htm">Экономический эффект от светильника</a></li>
    </ul>
</div>
<div class="part__block d-none d-md-block mb-2">
    <center>
        <button class="b-btn b-btn--blue-border b-btn--blue-border-big" data-toggle="modal"
                data-target="#found-a-cheaper-price1">Нашли дешевле?
        </button>
    </center>

</div>
{% if this.controller.getRouter().getUrl() != '/' %}
    <div class="part__block d-none d-md-block mb-2" id="block-city">
        <p class="part__title">Мы открыты в <span class="blue gotham-s-sm-medium">45 городах</span></p>
        <p class="part__text part__text--center text-center mb-2">Пункт выдачи
            товара<br>в {% if GeoApi.city.prepositional %}{{ GeoApi.city.prepositional }}{% else %} Санкт-Петербурге {% endif %}
        </p>
        <div id="map-side" style="min-height: 250px;"></div>
    </div>
{% endif %} 
{% put scripts %}
    <script>
        $(document).ready(function () {
            if ($('#map-side').length > 0) {
                ymaps.ready(function () {
                    var myMap = new ymaps.Map('map-side', {
                            center: [{{ GeoApi.dolgota }}, {{ GeoApi.shirota }}],
                            zoom: 17,
                        }, {
                            searchControlProvider: 'yandex#search'
                        }),
                        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                            balloonContent: 'Наш адрес'
                        });

                    myMap.geoObjects.add(myPlacemark);
                });
            }
        });
    </script>
{% endput %}