[CitiesList]
partial = "geoapi/_cities_list"
==
<!-- <ul id="top-menu" class="d-none d-md-block d-lg-block">
        <li><a href="/garantiya">Гарантия</a></li>
        <li class="parent"><a href="#">Получение и оплата <span>&#9660;</span></a>
            <ul>
                <li><a href="/info/usloviya-dostavki">Условия доставки</a></li>
                <li><a href="/info/usloviya-oplaty">Условия оплаты</a></li>
            </ul>
        </li>
        <li class="parent"><a href="#"> Сервис <span>&#9660;</span></a>
            <ul>
                <li><a href="/raschet_osvecheniya">Расчет освещенности</a></li>
            </ul>
        </li>
        <li class="parent"><a href="/about">О нас</a>
        </li>
        <li><a href="/contacts">Контакты</a></li>
    </ul> -->
            

<div id="top-header" class="top-header">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between ">
            {% component 'CitiesList' %}
            <div class="top-header__menu">
                <a href="#" class="top-header__link">Доставка и оплата</a>
                <a href="#" class="top-header__link">Помощь</a>
                <a href="/faq" class="top-header__link">Вопрос-ответ</a>
                <a href="/contacts" class="top-header__link">Контакты</a>
            </div>
        </div>
    </div>
</div>