==
<div id="top-slider" class="d-md-block d-lg-block">
    <div class="owl-carousel owl-theme">
        <div class="item"><img src="/storage/app/media/slides/modulnye-svetodiodnye-svetilniki-100kh400.jpg" class="img-fluid"></div>
    </div>
</div>