.free_calc{
  .free_calc_title{
    font-size: $h1-font-size-title;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  img{
    margin: 0 auto;
    display: block;
  }
  .get_price_button{
    text-transform: uppercase;
    margin: 20px auto;
  }
}