<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>austerus Form Builder Email Template</title>
    <style type="text/css" media="screen">
        {{ css|raw }}
    </style>
</head>

<body bgcolor="#f6f6f6">

{{ content|raw }}

</body>
</html>