[Popular PopularHome]
partial = "@default"
limit = 28
==
<p class="h1 title-spec">Хиты продаж</p>
{% component 'PopularHome' %}
<div class="dinamic-width">

    <div class="block-cards">
        <div class="block-cards__row d-flex">
            <div class="block-cards__col">
                <a href="/ulichnye-svetodiodnye-svetilniki" class="block-cards__wrap bg-rose">
                    <div class="block-cards__title">
                        Уличное освещение
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/uilcha.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/promyshlennye-svetodiodnye-svetilniki" class="block-cards__wrap bg-blue">
                    <div class="block-cards__title">
                        Промышленное освещение
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/promled.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/ofisnye-svetodiodnye-svetilniki" class="block-cards__wrap bg-green">
                    <div class="block-cards__title">
                        Офисное освещение
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/ofis.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/svetodiodnye-svetilniki-dlya-magazina" class="block-cards__wrap bg-blue">
                    <div class="block-cards__title">
                        Торговое освещение
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/torgovoe.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/svetodiodnye-prozhektory" class="block-cards__wrap bg-violet">
                    <div class="block-cards__title">
                        Прожектора
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/projektor.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/kronshtejny-dlya-ulichnogo-osveshcheniya" class="block-cards__wrap bg-violet">
                    <div class="block-cards__title">
                        Аксессуары
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/aksesuar.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/svetodiodnye-svetilniki-na-mean-well" class="block-cards__wrap bg-rose">
                    <div class="block-cards__title">
                        На блоках Mean Well
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/mw.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/svetilniki-dlya-goroda" class="block-cards__wrap bg-violet">
                    <div class="block-cards__title">
                       Городские светильники
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/gorod.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/parkovye-svetilniki" class="block-cards__wrap bg-rose">
                    <div class="block-cards__title">
                        Парковые светильники
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/park.png'|theme}}">
                    </div>
                </a>
            </div>
            <div class="block-cards__col">
                <a href="/svetilniki-viled" class="block-cards__wrap bg-green">
                    <div class="block-cards__title">
                        Светильники Вилед
                    </div>
                    <div class="block-cards__img">
                        <img src="{{ 'assets/images/viled.png'|theme}}">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="block-work d-flex align-items-end" id="block-work">
        <ul class="block-work__list d-flex flex-wrap">
            <li><div class="block-work__ico"><img src="{{ 'assets/images/ico-01.png'|theme}}"></div>9 лет на рынке</li>
            <li><div class="block-work__ico"><img src="{{ 'assets/images/ico-02.png'|theme}}"></div>Более 400 моделей</li>
            <li><div class="block-work__ico"><img src="{{ 'assets/images/ico-03.png'|theme}}"></div>Быстро изготовим</li>
            <li><div class="block-work__ico"><img src="{{ 'assets/images/ico-04.png'|theme}}"></div>Все в наличии</li>
            <li><div class="block-work__ico"><img src="{{ 'assets/images/ico-05.png'|theme}}"></div>Низкие цены</li>
            <li><div class="block-work__ico"><img src="{{ 'assets/images/ico-06.png'|theme}}"></div>Бесплатно доставим</li>
        </ul>
    </div>
    
<!--     <div class="block shadow block-img d-none d-md-block d-lg-block">
    <img src="{{ 'assets/images/img-01.png'|theme}}" class="img-fluid" alt="">
</div> -->
    
    <div class="block-questions">
        <div class="block-questions__title">
            <p class="h2">Остались вопросы?</p>
            <p>мы перезвоним Вам</p>
        </div>
        <div class="block-questions__inputs">
            <form>
                    <input type="text" name="name" value="" class="" placeholder="Имя">
                    <input type="text" name="phone" value="" class="form_phone" placeholder="Телефон">
                    <input type="submit" class="btn-bordered svetograd__submit-btn--center" data-attach-loading="" value="Отправить">
            </form>
        </div>
    </div>
</div>