==
<div id="o-order-form" data-orderform-result-success>
    <form data-request="onSubmitOrder" data-request-success="svOrder.afterSubmit(this, context, data)">
        <div class="cart-page">
            <h3 class="title-spec text-center cart-page__title gotham-s-sm-medium">Информация для оплаты и доставки
                заказа</h3>
            <div class="mt-5 d-sm-flex">
                <div class="cart-page__radio mr-3">
                    <input type="radio" id="order-type-1" name="type" class="cart-page__input" checked value="1"
                           data-shopcart-typecustomer>
                    <label class="cart-page__label" for="order-type-1">Физическое лицо</label>
                </div>
                <div class="cart-page__radio">
                    <input type="radio" id="order-type-2" name="type" class="cart-page__input" value="2"
                           data-shopcart-typecustomer>
                    <label class="cart-page__label" for="order-type-2">Юридическое лицо</label>
                </div>
                <!-- <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="order-type-1" name="type" class="custom-control-input" checked value="1"
                           data-shopcart-typecustomer>
                    <label class="custom-control-label" for="order-type-1">Физическое лицо</label>
                </div> -->
                <!-- <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="order-type-2" name="type" class="custom-control-input" value="2"
                           data-shopcart-typecustomer>
                    <label class="custom-control-label" for="order-type-2">Юридическое лицо</label>
                </div> -->
            </div>

            <div data-shopcart-uploader
                 style="display: none;"
                 class="mt-2"
            >
                {% component 'requisitesForm' %}
            </div>

            <div class="form-row mt-4 cart-page__form">
                <div class="col d-sm-flex align-items-center">
                    <label for="order-name" class="cart-page__form-lablel">Контактное лицо</label>
                    <input type="text" name="name" value="" placeholder="ваше имя" id="order-name"
                           class="cart-page__form-input" required>
                </div>
                <div class="col d-sm-flex align-items-center">
                    <label for="order-email" class="cart-page__form-lablel">E-mail</label>
                    <input type="email" name="email" value="" placeholder="электронная почта" id="order-email"
                           class="cart-page__form-input">
                </div>
                <div class="col d-sm-flex align-items-center">
                    <label for="order-phone" class="cart-page__form-lablel">Телефон</label>
                    <input type="text" name="phone" value="" placeholder="+7..." id="order-phone"
                           class="cart-page__form-input" required>
                </div>
            </div>
            <br>
            {% component 'ShoppingCartFull' %}
            <!-- <div class="row basket__bottom">
                <div class="col-md-7"> -->
            <!--                     <h3><label for="order-description">Комментарии к заказу</label></h3> -->
            <!-- <div>
            <textarea name="description" placeholder="Комментарии к заказу"
                      id="order-description"
                      style="width:100%;min-height:170px"
                      class="cart-page__form-textarea"></textarea>
            </div>
        </div>
    </div>
    <div data-orderform-result-error></div> -->
        </div>
    </form>
</div>
