<table border="1" width="100%" cellspacing="0" bordercolor="#000;" cellpadding="3" class="invoice">
    <thead>
    <tr bgcolor="#696969">
        <th><font color="#fff">№</font></th>
        <th><font color="#fff">Товар</font></th>
        <th><font color="#fff">Артикул</font></th>
        <th><font color="#fff">Кол-во</font></th>
        <th><font color="#fff">Цена</font></th>
        <th><font color="#fff">Итого</font></th>
    </tr>
    </thead>
    <tbody>
    {% for product in invoice.getProducts() %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{product.model.name}}</td>
        <td>{{product.model.product_code}}</td>
        <td>{{ product.count }} шт.</td>
        {% if product.model.id < 0 %}
            <td>{{ product.model.price }}</td>
        {% endif %}
        {% if product.model.id > 0 %}
            <td>{{ product.model.minimalPrice }}</td>
        {% endif %}
        {% if product.model.id < 0 %}
            <td>{{ product.model.price }}</td>
        {% endif %}
        {% if product.model.id > 0 %}
            <td>{{ product.model.minimalPrice }}</td>
        {% endif %}
{#        <td>{{ product.count * product.model.minimalPrice}}</td>#}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5" align="right">Всего заказано товаров:</td>
        <td>{{ invoice.getCount() }}</td>
    </tr>
    <tr>
        <td colspan="5" align="right">Всего наименований товаров:</td>
        <td>{{ invoice.getProducts()|length }}</td>
    </tr>
    <tr>
        <td colspan="5" align="right">Итого:</td>
        <td>{{ invoice.getPrice() }} руб.</td>
    </tr>
    {#    <tr>#}
    {#        <td colspan="5" align="right">Цена без скидки:</td>#}
    {#        <td>{{ invoice.getPrice() }} руб.</td>#}
    {#    </tr>#}
    {#    <tr>#}
    {#        <td colspan="5" align="right">Итого:</td>#}
    {#        <td>{{ invoice.getDiscountPrice() }} руб.</td>#}
    {#    </tr>#}
    </tbody>
</table>
<div>
    <h3>Комментарий к заказу</h3>
    {{ invoice.getDescription() }}
</div>