.header_wrapper {
  @include clearfix;
  background: $header_bg_color;
}

#header {
  position: relative;
  box-shadow: 0 0 34px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.header_container {
  background: $header_bg_color;
  .header_row_first__wrapper {
    max-width: $site_width;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
  }
  &:after {
    bottom: -1px;
    background: linear-gradient(to right, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 0.5) 12%, rgba(188, 188, 188, 0.5) 88%, rgba(188, 188, 188, 0) 100%);
    height: 1px;
    overflow: hidden;
    font-size: 0;
    position: absolute;
    width: 100%;
    content: " ";
  }
}

.header_split {
  position: absolute;
  background: #4b4b4b;
  width: 100%;
  height: 1px;
}

.header_row {
  @include clearfix;
}

#header_row_utp {
  background-color: #383838;
  min-height: 35px;
  text-align: center;
  line-height: 34px;
  padding: 0 40px;
  position: relative;
  .icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: 0;
    padding: 0;
  }
}

.header_row_utp__content {
  @include clearfix;
  @extend .content_container;
  text-align: right;
}

.call-back-my_button {
  margin-right: 20px;
}

.header_row_phone_number {
  float: right;
}

.header_email {
  float: right;
  margin: 0 25px 0 26px;
  font-size: 20px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: lighten($text-color, 30%);
    }
  }
  i.icon-mail-1 {
    color: $color_bright;
    font-size: 38px;
    position: relative;
    width: 46px;
    display: inline-block;
    &:before {
      position: absolute;
      top: -25px;
      left: 0;
    }
  }
}

.header__contacts-block {
  float: right;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.header_cart-block {
  float: right;
  top: -10px;
  position: relative;
}

#header_upd {
  display: inline-block;
  color: #fff;
  float: left;
  > li {
    display: block;
    text-align: center;
  }
}

.header__navigation__wrapper {
  float: left;
  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 70px;
    text-align: left;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    z-index: 1;
  }
}

.header_row_first__wrapper {
  @include clearfix;
  transition: all 1s ease;
}

#header_logo {
  margin-left: 15px;
  margin-top: -7px;
  text-align: center;
  @media (max-width: $screen-xs-max) {
    text-align: center;
    margin: 0;
  }
  a {
    display: block;
    position: relative;
    text-decoration: none;
    .header_logo-name {
      display: inline-block;
      text-align: center;
      position: relative;
      max-width: 236px;
      font-size: 13px;
      margin-left: 15px;
      margin-bottom: -13px;
      color: #fff;
      text-decoration: none;
      @media (max-width: $screen-xs-max) {
        text-align: center;
        margin: 0 auto -2px;
      }
    }
  }
}

#header_row_last {
  @media (max-width: $screen-sm-max) {
    padding: 0 15px 0 0;
  }
  @media (min-width: 1377px) {
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 75%;
    padding-right: 30px;
  }
}

@media (max-width: 600px) {
  .header__contacts-block {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    .header_email {
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 15px;
      a {
        display: inline-block;
        margin: 0 auto;
      }
    }
    .header__get-price--btn {
      width: 100%;
    }
  }
}

.search-form__wrapper {
  margin-top: 5px;
}

@import "top-navigation";

@media (max-width: $screen-md-min) {
  #header_logo a .header_logo-name, .upd_container.upd_container {
    display: none;
  }
  .search-form__wrapper.pull-right {
    float: left !important;
  }
}

@media (max-width: 600px) {
  #header_logo > a {
    float: left;
    & > img {
      width: 100px;
    }
  }
  .header_cart-block {
    float: none;
  }
  .sv-shopping-cart {
    margin: -3px auto 0;
    right: -20px;
  }
  .search-form__wrapper {
    display: none;
  }
  #header_row_utp {
    padding: 0;
  }
  .call-back-my_button {
    float: left;
    width: 100%;
    margin-right: 0;
  }
  .header_row_phone_number {
    display: block;
    text-align: center;
    float: none;
  }
  .header_container .header_row_first__wrapper {
    padding-bottom: 0;
    padding-top: 5px;
  }
  .header__contacts-block {
    padding: 0;
    margin-top: -5px;
    .header_email {
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 357px) {
  .sv-shopping-cart {
    width: 120px !important;
    .sv-shopping-cart__icon {
      margin-left: 0;
    }
  }
}

.main:not(.page-home), .main .header-fixed {
  .upd_container {
    display: none;
  }
  .header_container .header_row_first__wrapper {
    padding-top: 5px;
    padding-bottom: 0;
  }
  #header_logo {
    margin-left: 0;
  }
  @media (min-width: 1600px) {
    .search-form__wrapper {
      position: absolute;
      left: 98%;
      bottom: -49px;
      width: 212px;
      border: 1px solid #000;

    }
    #header_row_last {
      bottom: 8px;
      right: 10%;
      margin-right: 10px;
    }
  }
  @media (min-width: 2050px) {
    .search-form__wrapper {
      left: 112%;
      bottom: -3px;
    }
  }
  @media (max-width: 1599px) {
    #header_row_last {
      position: relative;
      bottom: auto;
      right: auto;
      width: 100%;
    }
  }
  @media (min-width: 601px) {
    #header_logo {
      height: 30px;
      overflow: hidden;
      margin-top: 18px;
      min-width: 215px;
      > a {
        > img {
          position: absolute;
          top: -69px;
          left: 0;
        }
        .header_logo-name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  #top-navigation {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    background: #000;
    border-top: 1px solid #3a3a3a;
  }
  .main:not(.page-home) #top-navigation {
    top: 90px;
  }
}

.header-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  border-bottom: 1px solid #f6f6f6;
  @media (max-width: $screen-sm-max) {
    .header__functional_block {
      display: none;
    }
  }
  @media (max-width: 1220px) {
    .header_row_first__wrapper {
      opacity: 0;
      height: 0;
      padding: 0 !important;
      overflow: hidden;
    }
    .search-form__wrapper {
      display: none;
    }
  }
  @media (max-width: $screen-tablet) {
    .header__navigation__wrapper {
      top: 0;
    }
  }
}

