$menuHeight: 50px;
#top-navigation {
  max-width: $site_width;
  margin: 0 auto;
  padding-left: 0;
  ul.main_menu {
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: $menuHeight;
    margin: 0;
  }
  .main_menu_item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    a {
      padding: 0 20px;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      min-height: $menuHeight;
      line-height: $menuHeight;
      position: relative;
      color: #fff;
      &:hover {
        background-color: $second_bg_color;
        color: #ffffff;
      }
    }
    .icon-cancel {
      display: none;
    }
    &:hover {
      .main_menu__sub {
        display: block;
      }
    }
    .main_menu__sub {
      display: none;
      position: absolute;
      background: $second_bg_color;
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 0;
      box-shadow: 0 0 34px rgba(0, 0, 0, 0.1);
      z-index: 100;
      .main_menu__sub-item {
        &:hover a {
          background: $header_bg_color;
        }
      }
    }
  }
}

#top-navigation--menu-activator {
  color: #fff;
  font-size: 35px;
  padding: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}

@media (max-width: $screen-sm-min) {
  #top-navigation ul.main_menu {
    display: block;
    height: auto;
  }
  #top-navigation .main_menu_item {
    display: block;
    text-align: center;
    .main_menu__sub {
      position: relative;
    }
  }
}