.contact_info {
  width: 100%;
  max-width: 520px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
}

.svetograd__submit-btn {
  background: #3db3e3;
  color: #fff;
  padding: 15px 30px;
}

.svetograd_form__wrapper {
  .nav-tabs {
    text-align: center;
  }
  .nav-tabs > li {
    float: none;
    display: inline-block;
  }
}

$form_background_color: #283339;
$form_text_color: #3db3e3;

.contacts_form {
  max-width: 448px;
  margin: 30px auto;
  .contacts_form_title {
    height: 70px;
    background: $form_background_color;
    color: $form_text_color;
    position: relative;
    p {
      text-transform: uppercase;
      text-align: center;
      font-size: 21px;
      line-height: 67px;
      @media (max-width: 447px) {
        font-size: 16px;
      }
      @media (max-width: 347px) {
        font-size: 13px;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      -webkit-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 11, -4);
      -ms-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 11, -4);
      transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 11, -4);
      position: absolute;
      left: 50%;
      bottom: -15px;
      margin-left: -20px;
      background: $form_background_color;
      border-right: 1px solid #DEE1E2;
      border-bottom: 1px solid #DEE1E2;
    }
  }
  .contacts_form_body {
    margin-top: 7px;
    padding: 50px 50px 32px;
    @media (max-width: 407px) {
      padding: 30px 30px 18px;
    }
    background: $form_background_color;
    color: #fff;
    font-size: 18px;
    & .contacts_form_label {
      margin-bottom: 0;
    }
    .contacts_form_input {
      height: 45px;
    }
    .contacts_form_submit {
      background: $form_text_color;
      color: #000;
      height: 68px;
      border: 0;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 24px;
    }
    .contacts_form_info {
      text-align: center;
      font-size: 11px;
      position: relative;
      margin-top: 20px;
      .icon-lock {
        position: absolute;
        margin-left: -20px;
        font-size: 12px;
      }
    }
  }
}