==
<p><strong>Порядок возврата и обмена неработающего товара</strong><br />

В случае обнаружения неисправности товара, покупатель вправе обратиться в торгующую организацию, в которой он приобрёл товар и передать неисправный товар для осуществления гарантийного ремонта.<br />

Гарантия на каждый вид продукции указана в паспорте на изделие и составляет 5 лет.</p>