==
<p>Мы работаем со многими производителями качественной светодиодной продукции.  В зависимости от торговой марки гарантия может варьироваться от 3 до 5 лет.  Срок гарантии указан в паспорте изделия.</p> 
<p>При наступлении гарантийного случая, покупатель может обратиться к нам или напрямую к производителю. </p>
<p>Транспортные расходы отплачивает наша компания, либо производитель изделия. (подробности уточняйте у менеджера)</p>
<p>Средний срок исполнения гарантийных обязательств составляет 10-15 рабочих дней;</p>

<p><strong>Часто задаваемые вопросы по поводу гарантии:</strong></p>
<ul>
<li>Срок исполнения гарантийных обязательств за проданный товар равен сроку гарантии, установленному производителем в паспорте на товар;</li>
<li>Срок гарантии на любой товар можно узнать в разделе с техническими характеристиками карточки товара;</li>
<li>Средний срок исполнения гарантийных обязательств составляет 10-15 рабочих дней;</li>
<li>Гарантия на многие товары может быть расширена за дополнительную плату, регламентированную производителем;</li>
<li>Транспортировка бракованного товара от покупателя до нашего склада осуществляется за счет покупателя. В случае если сервисный центр подтвердит, что брак товара возник не по вине покупателя, покупатель имеет право на возмещение транспортных расходов.</li>
</ul>
<p>По всем вопросам гарантии обращайтесь на почту <a href="mailto:info@lasertor.ru">info@lasertor.ru</a></p>