==
<strong>&nbsp;<br />Самовывоз со склада в г. Санкт- Петербург</strong>&nbsp;<br />

Самовывоз из офиса компании с пн-пт с 9.30 до 17.00<br />

По адресу: г. Санкт- Петербург проспект Девятого Января 57 <br />

Схема проезда<br />

&nbsp;<br />
<p>*Склад не является розничной точкой продаж, поэтому ваш визит может осуществиться только после оформления и оплаты заказа.<br />
&nbsp;<br />
Доставка по г. Санкт-Петербургу в пределах КАД осуществляется бесплатно при сумме заказа от 30000 руб.<br />
Доставка по Ленинградской области оговаривается отдельно с менеджером.</p>

<strong>&nbsp;<br />Доставка в другие регионы:</strong>&nbsp;<br />
<p>Мы работаем со всеми наиболее известными транспортными компаниями:<br /></p>
<p><img src="/storage/app/media/uploaded-files/tk.jpg" alt="" width="553" height="113" /></p>
<strong>&nbsp;<br />Самостоятельно возможен забор груза любой ТК с которой вы предпочитаете работать.</strong>&nbsp;<br />
<p>Стоимость доставки по РФ зависит от региона доставки и тарифов выбранной транспортной компании. Доставка может быть оплачена заказчиком напрямую транспортной компании или по согласованию с менеджером при оформлении заказа , включена в стоимость счета.</p>