
.geoapi__city-current {
  float: left;
}

.geoapi__cities-list__wrapper {
  position: fixed;
  top: 34px;
  left: 0;
  right: 0;
  padding: 30px;
  margin: 0;
  background: #283339;
  z-index: 1050;
  -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  color: #fff;
  @include media-breakpoint-up(md) {
    left: 20%;
    right: 20%;
  }
  a {
    color: #fff;
  }
}

.geoapi__cities-list {
  padding-left: 0;
}

.geoapi__cities-list__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.geoapi__cities-list_item {
  display: block;
  float: left;
  padding: 5px 10px;

}

.geoapi__cities-search__wrapper {
  float: right;
  margin-right: 50px;
}

#geoapi__cities-search-form__input {
  padding: 5px 10px;
  height: 48px;
  width: 100%;
  max-width: 350px;
  color: #383838;
}

.geoapi__action--get-list{
  color: #fff;
}