$searchFormWidth: 600px;
$searchFormWidthSm: 200px;
$searchFormWidthMd: 400px;

.a-search {
  padding: 20px 0;
}

.search-form__wrapper {
  width: $searchFormWidthSm;
  box-sizing: content-box;
  border: 1px solid rgba(243, 243, 243, 0.4);
  input#search-form__input {
    width: $searchFormWidthSm - 40;
    height: 40px;
    padding: 10px;
    float: left;
    border: 0;
    background: #2a2a2a;
    color: #fff;
  }
  input#search-form__input:focus {
    outline: 0;
    background: #fff;
    color: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  }
  input#search-form__input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  input#search-form__input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  input#search-form__input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  button#search-form__button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-style: italic;
    color: #5a5a5a;
    background: transparent;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    .icon-search {
      font-size: 25px;
      line-height: 40px;
    }
  }
  button#search-form__button:active,
  button#search-form__button:focus {
    outline: 0;
  }
  &:hover .icon-search.icon-search {
    font-size: 31px !important;
  }
}

.search-form {
  text-align: center;
}

.search-form__wrapper--full {
  width: 50%;
  box-sizing: content-box;
  border: 1px solid rgb(243, 243, 243);
  position: relative;
  margin: 0 auto;
  display: inline-block;
  input#search-form__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    float: left;
    border: 0;
    background: #fff;
  }
  input#search-form__input:focus {
    outline: 0;
    background: #fff;
    color: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  }
  input#search-form__input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  input#search-form__input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  input#search-form__input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  button#search-form__button {
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-style: italic;
    color: #5a5a5a;
    background: transparent;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    .icon-search {
      font-size: 25px;
      line-height: 40px;
    }
  }
  button#search-form__button:active,
  button#search-form__button:focus {
    outline: 0;
  }
  &:hover .icon-search.icon-search {
    font-size: 31px !important;
  }
}