==
<div id="catalog">
   <h2>Каталог товаров:</h2>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{{ page }}{{ category.slug }}"{% if active == category.slug %} class="active"{% endif %}>
                {% if category.ico %}
                    <span>
                        <img src="{{ category.ico|media }}">
                    </span>
                {% endif %}
                <h2>
                    {{ category.name }}
                </h2>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>