==
<div>
    <div class="row products">
        {% for product in products %}
            <div class="col-sm-6 col-lg-3 product">
                {% partial "Shop/default-card" product=product %}
            </div>
        {% endfor %}
    </div>
    <div class="mt-4 d-flex justify-content-center">
        {{ products.links('austerus.shop::products.pagination')|raw }}
    </div>
</div>