description = "Стандартная карточка товара"

[BannerComponent]

[SliderComponent]
==

<a href="/{{ product.slug }}" class="products__card">
    {% if product.product_code %}
        <div class="products__product-code">код: {{ product.product_code }}</div>
    {% endif %}
    {% if product.images %}
        <span class="product-small-card__image">
    <img src="{{ product.image.image|mediathumb_resize('width', 175) }}"
         class="img-fluid"
         alt="{{ product.name }}">
    </span>
    {% endif %}
    <div class="products__infa">
        {% if product.name %}
            <h3 class="products__title">{{ product.name }}</h3>
        {% endif %}
        {% for param in product.fieldsOut() %}
            <p class="products__description">
                {{ param.name }}, {{ param.value }}
            </p>
        {% endfor %}
    </div>
    <div class="products__opportunities">
        {% if product.price %}
            <div class="products__block d-flex align-items-center justify-content-between">
                <div>
                    со склада <br><span class="products__price">{{ priceFormatting(product.price) }} <span
                                class="rubl-icon">q</span></span>
                </div>
                <div>
                    <button class="b-btn b-btn--red-border" data-shopcart-add data-request="onAddProductToCart"
                            data-request-success="svCart.afterAdd.call(this, context, data)"
                            data-id="{{ -product.id }}" data-request-data="id: {{ -product.id }}, count: 1">
                        Заказать
                    </button>
                </div>
            </div>
            {% endif %}
        {% if product.minimalPrice %}
            <div class="products__block d-flex align-items-center justify-content-between">
                <div>
                    под заказ <br><span class="products__price">{{ priceFormatting(product.minimalPrice) }} <span
                                class="rubl-icon">q</span></span>
                </div>
                <div>
                    <button type="button"
                            class="b-btn b-btn--red-drenched"
                            data-shopcart-add
                            data-request="onAddProductToCart"
                            data-request-success="svCart.afterAdd.call(this, context, data)"
                            data-id="{{ product.id }}"
                            data-request-data="id: {{ product.id }}, count: 1">
                        Заказать
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
</a>