<div class="no-product">
    <h2>Извините данный товар не найден...</h2>
    <img src="/themes/svetograd/assets/images/no-products.png" alt="Данный товар не найден" class="no-product__image">
    <h4>Полный список товаров:</h4>
    <div class="no-product__list">
        {% for product in products %}
        {% if loop.index%4 == 1 %}
        <div class="col-sm-6 col-md-3">
            <p><a href="/{{ product.slug }}">{{ product.full_name }}</a></p>
        </div>
        {% endif %}
        {% if loop.index%4 == 1 %}
        <div class="col-sm-6 col-md-3">
            <p><a href="/{{ product.slug }}">{{ product.full_name }}</a></p>
        </div>
        {% endif %}
        {% if loop.index%4 == 1 %}
        <div class="col-sm-6 col-md-3">
            <p><a href="/{{ product.slug }}">{{ product.full_name }}</a></p>
        </div>
        {% endif %}
        {% if loop.index%4 == 1 %}
        <div class="col-sm-6 col-md-3">
            <p><a href="/{{ product.slug }}">{{ product.full_name }}</a></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>