<!--        компонент НАШЛИ ДЕШЕВЛЕ        -->
{% component 'Callback' %}
<!--  ПОЛУЧЕНИЕ СПЕЦИАЛЬНОЙ ЦЕНЫ  -->
{% component 'GetSpecialPriceForm' %}
<div class="col-12 pt-3 d-block d-md-none">
    <button class="product-button__back d-flex align-items-center" onclick="history.back();">Назад</button>
</div>
<div class="col-10 col-md-12 pt-3 pt-md-0">
    <div class="ml-auto col-md-5 p-0 px-md-2">
        <h2 class="product-title gotham-s-sm-medium m-0" itemprop="name">{{ product.full_name }}</h2>
        <p class="vendor-code">код товара: <span>{{ product.product_code }}</span></p>
    </div>
</div>
<div class="col-2 pl-0 d-block d-md-none position-relative">
    <button class="b-btn b-btn__share"><img src="{{ 'assets/images/svg/share-symbol_icon.svg'|theme }}"></button>
</div>
<div class="col-md-7 product-page" id="content">
    <div class="vertical__wrap">
        <!-- <span class="availability">
            <img src="{{ 'assets/images/icon-mark.png'|theme }}" alt="" onclick="window.print()">есть в наличии
        </span> -->
        <ul id="vertical">
            {% if product.images|length > 0 %}
                {% for image in product.images %}
                    <li data-thumb="{{ image.image|mediathumb_resize('width', 100) }}">
                        <a class="vertical-img" itemprop="image" href="{{ image.image|media }}" data-fancybox="images"
                           data-caption="{{ image.alt }}">
                            <img src="{{ image.image|media }}" data-resource-image class="img-fluid"/>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div class="fill-application">
        <p>Заполнить заявку <br> на получение спец цены</p>
        <a data-toggle="modal" data-target="#getSpecialPrice" class="b-btn b-btn--white-drenched-big">Заполнить</a>
    </div>
</div>
<div class="priceForPrintPage">
    {% if product.special_price %}
        <p class="price big">Спец цена: {{ priceFormatting(product.special_price) }} р. <span>
            <span class="light">/ шт</span></span></p>
    {% endif %}
    {% if product.wholesale_price %}
        <p class="price middle">Оптовая цена: {{ priceFormatting(product.wholesale_price) }}р. <span> <span
                        class="light">/
                шт</span></span></p>
    {% endif %}
    {% if product.price %}
        <p class="price small">Розничная цена: {{ priceFormatting(product.price) }}р. <span> <span class="light">/
                шт</span></span>
        </p>
    {% endif %}
</div>
<div class="col-md-5 product-info">
    <!--    <button type="button"
            class="btn btn-outline-secondary"
            data-shopcart-add
            data-request="onAddProductToFavorites"
            data-request-success="svFavorites.afterAdd.call(this, context, data)"
            data-id="{{ product.id }}"
            data-request-data="id: {{ product.id }}">
        <i class="far fa-heart"></i>Отложить
    </button> -->
    <!--<button type="button" class="btn btn-outline-secondary"><i class="fas fa-sort-amount-down"></i>Сравнить</button>-->
    <!-- <div id="slider-top"> -->
    <!-- {% if product.guarantee %}
        <a href="#" class="tooltip-link guarantee" data-toggle="tooltip" data-placement="bottom" data-html="true"
           title="{% if product.guarantee == 3 %}<em>Гарантия на продукцию 3 года с момента продажи продукции.
           За дополнительную оплату возможно расширить гарантию до 5 лет.</em>{% else %}Гарантия на продукцию 5 лет с
           момента продажи продукции.{% endif %}"><b>{{ product.guarantee }}</b> {% if product.guarantee == 1 %} год
            {% elseif product.guarantee > 1 and product.guarantee < 5 %} года
            {% else %} лет {% endif %} гарантия производителя</a>
        {% endif %} -->
    <!-- </div> -->
    <div class="save-and-print__block mt-2 mt-md-5">
        {% if product.param_1 %}
            <div class="col-md-12 row mb-3 px-0">
                <div class="col-7 col-md-8">{{ product.categories.first().name_param_1 }}</div>
                <div class="col-5 col-md-4">{{ product.param_1|raw }}</div>
            </div>
        {% endif %}
        {% if product.param_2 %}
            <div class="col-md-12 row mb-3 px-0">
                <div class="col-7 col-md-8">{{ product.categories.first().name_param_2 }}</div>
                <div class="col-5 col-md-4">{{ product.param_2|raw }}</div>
            </div>
        {% endif %}
        {% if product.param_3 %}
            <div class="col-md-12 row mb-3 px-0">
                <div class="col-7 col-md-8">{{ product.categories.first().name_param_3 }}</div>
                <div class="col-5 col-md-4">{{ product.param_3|raw }}</div>
            </div>
        {% endif %}
        {% if product.param_4 %}
            <div class="col-md-12 row mb-3 px-0">
                <div class="col-7 col-md-8">{{ product.categories.first().name_param_4 }}</div>
                <div class="col-5 col-md-4">{{ product.param_4|raw }}</div>
            </div>
        {% endif %}
        {% if product.param_5 %}
            <div class="col-md-12 row mb-3 px-0">
                <div class="col-7 col-md-8">{{ product.categories.first().name_param_5 }}</div>
                <div class="col-5 col-md-4">{{ product.param_5|raw }}</div>
            </div>
        {% endif %}
        <div class="part__line-bottom mt-4"></div>
    </div>
    <div class="card card-price d-md-block">
        <div class="card-body">
            <div class="px-3 px-md-0">
                <div class="card-price__button-modal d-block d-md-none" id="card-price__button-modal">
                    <div class="card-price__button-modal__icon"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center d-md-block">
                        <div class="input_number">
                            <div class="input-group">
                                <button type="button" class="btn-number btn-minus"
                                        {% if(product.count== 1) %}disabled="disabled" {% endif %}
                                        data-id="{{ product.id }}" data-type="minus"
                                        data-field="quantity[{{ product.id }}]">
                                    <img src="{{ 'assets/images/svg/MINUS.svg'|theme }}" style="width: 20px;">
                                </button>
                                <input type="text" name="quantity[{{ product.id }}]"
                                       class="form-control input-number order-form__quantity"
                                       data-id="{{ product.id }}"
                                       data-shopcart-quantityupdate value="1" min="1" max="9999999999">
                                <input type="hidden" name="quantity[{{ product.id }}]"
                                       class="form-control input-number order-form__quantity"
                                       data-id="{{ -product.id }}"
                                       data-shopcart-quantityupdate value="1" min="1" max="9999999999">
                                <button type="button" class="btn-number btn-plus" data-type="plus"
                                        data-id="{{ product.id }}" data-field="quantity[{{ product.id }}]">
                                    <img src="{{ 'assets/images/svg/PLUSE.svg'|theme }}" style="width: 20px;">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 mt-0 products__opportunities" itemprop="offers" itemscope
                         itemtype="http://schema.org/Offer">
                        {% if product.price %}
                            <div class="products__block row align-items-center">
                                <div class="col-6">
                                    со склада <br>
                                    <span class="products__price product-info__price">
                                    {{ priceFormatting(product.price) }}
                                    <span class="rubl-icon">q</span>
                                </span>
                                </div>
                                <div class="col-6 text-right text-md-left for-order">
                                    <button type="button" class="b-btn b-btn--red-border b-btn--red-border-big"
                                            data-shopcart-add data-request="onAddProductToCart"
                                            data-request-success="svCart.afterAdd.call(this, context, data)"
                                            data-id="{{ -product.id }}"
                                            data-request-data="id: {{ -product.id }}, count: 1">
                                        Заказать
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        {% if product.wholesale_price %}
                            <div class="products__block row align-items-center">
                                <div class="col-6">
                                    под заказ <br>
                                    <span class="products__price product-info__price">
                                    <span itemprop="price">{{ priceFormatting(product.wholesale_price) }}</span>
                                    <span class="rubl-icon">q</span>
                                </span>
                                </div>
                                <div class="col-6 text-right text-md-left for-stock">
                                    <button type="button" class="b-btn b-btn--red-drenched b-btn--red-drenched-big"
                                            data-shopcart-add data-request="onAddProductToCart"
                                            data-request-success="svCart.afterAdd.call(this, context, data)"
                                            data-id="{{ product.id }}"
                                            data-request-data="id: {{ product.id }}, count: 1">
                                        Заказать
                                    </button>
                                </div>
                            </div>
                        {% endif %}

                        <meta itemprop="priceCurrency" content="RUB">
                        <link itemprop="availability" href="http://schema.org/InStock">

                    </div>
                    <div class="col-lg-5 mt-2 text-center text-md-left credit-block">
                        <div><a href="#" class="basket-sm__btn-link" data-toggle="modal"
                                data-target="#found-a-cheaper-price3">купить в кредит</a></div>
                        <div class="mt-2"><a href="#" class="basket-sm__btn-link" data-toggle="modal"
                                             data-target="#found-a-cheaper-price3">рассрочка</a></div>
                        <div class="mt-2"><a href="#" class="basket-sm__btn-link" data-toggle="modal"
                                             data-target="#found-a-cheaper-price3">лизинг</a></div>
                    </div>
                </div>
            </div>


{#             <button type="button" class="btn btn-click" data-fancybox data-src="#one-click"#}
{#             data-target="product">Купить в 1 клик#}
{#             </button>#}
{#             <button type="button" class="btn btn-outline-secondary btn-opt" data-fancybox data-src="#one-click"#}
{#             data-target="opt">Запрос оптовой цены#}
{#             </button>#}
{#             <div class="card-body__col card-body__col_left col-12 forInlineInPDF col-lg-7">#}
{#             {% if product.special_price %}#}
{#             <p class="price big">Спец цена: {{ priceFormatting(product.special_price) }} р. <span> <span#}
{#             class="light">/ шт</span></span></p>#}
{#             {% endif %}#}
{#             {% if product.wholesale_price %}#}
{#             <p class="price middle">Оптовая цена: {{ priceFormatting(product.wholesale_price) }}р. <span> <span#}
{#             class="light">/ шт</span></span></p>#}
{#             {% endif %}#}
{#             {% if product.price %}#}
{#             <p class="price small">Розничная цена: {{ priceFormatting(product.price) }}р. <span> <span#}
{#             class="light">/ шт</span></span>#}
{#             </p>#}
{#             {% endif %}#}
{#             <div class="text-center text-md-left">#}
{#             <a class="inline-link question" href="javascript:" data-target="#callbackLowPrice"#}
{#             data-toggle="modal"#}
{#             data-placement="right" data-html="true" title="Подробные условия акции <a href='#'>здесь</a>">Нашли#}
{#             дешевле? Сообщите! </a><span class="question__icon">?</span>#}
{#             </div>#}

{#             {% if product.pdf_description %}#}
{#             <a href="{{ product.pdf_description }}" class="btn btn-primary"><i class="far fa-file-alt"></i>#}
{#             Скачать#}
{#             описание</a>#}
{#             {% endif %}#}
{#             <button type="button" class="btn btn-primary btn-consul" data-fancybox data-src="#consultation-form">#}
{#             Получить#}
{#             консультацию#}
{#             </button>#}
{#             </div>#}
        </div>
    </div>
    <div class="save-and-print__block sp-buttons">
        <div>
            <img src="{{ 'assets/images/document.png'|theme }}" alt="save" class="document__icon">
            <a href="" id="createProductPDF">
                Cохранить
            </a>
        </div>
        <div class="mt-3">
            <img src="{{ 'assets/images/document.png'|theme }}" alt="" class="document__icon">
            <a href="" onclick="javascript: print()" id="printCurrentPage" container d-none d-lg-block>

                Pаспечатать
            </a>
        </div>

    </div>
    {# <div class="html2pdf__page-break"></div> #}
    <div class="download__list">

        {% if product.passport %}
            <div class="download__item">
                <a href="{{ product.passport | media }}" download>
                <span class="download__ico">
                    <img src="{{ 'assets/images/icon-pass.png'|theme }}">
                </span>
                    Паспорт на {{ product.name }}
                </a>
            </div>
        {% endif %}
        {% if product.IES %}
            <div class="download__item">
                <a href="{{ product.IES | media }}" download>
                <span class="download__ico">
                    <img src="{{ 'assets/images/icon-ies.png'|theme }}">
                </span>
                    Скачать IES на {{ product.name }}
                </a>
            </div>
        {% endif %}
        {% if product.descriptionPDF %}
            <div class="download__item">
                <a href="{{ product.descriptionPDF | media }}" download>
                <span class="download__ico">
                    <img src="{{ 'assets/images/icon-pdf.png'|theme }}">
                </span>
                    Скачать PDF описание {{ product.name }}
                </a>
            </div>
        {% endif %}
        {% if product.certificate %}
            <div class="download__item">
                <a href="{{ product.certificate | media }}" download>
                <span class="download__ico">
                    <img src="{{ 'assets/images/icon-cert.png'|theme }}">
                </span>
                    Скачать сертификат на {{ product.name }}
                </a>
            </div>
        {% endif %}
    </div>
</div>
<!--  -->
<div class="col-md-12 mt-4 mb-4 tabs-block">
    <div class="row">
        <div class="col-12">
            <div class="list-group flex-row row m-0 d-md-block" id="list-tab" role="tablist">
                <a class="my-list-group list-group-item-action active" id="list-home-list" data-toggle="list"
                   href="#tab_1" role="tab" aria-controls="home">Описание</a>
                {% if product.benefits_led %}
                    <a class="my-list-group list-group-item-action" id="list-benefits-list" data-toggle="list"
                       href="#tab_7"
                       role="tab" aria-controls="benefits">Характеристики</a>
                {% endif %}
                {% if product.video %}
                    <a class="my-list-group list-group-item-action" id="list-video-list" data-toggle="list"
                       href="#tab_6"
                       role="tab" aria-controls="video">Видео</a>
                {% endif %}
                <a class="my-list-group list-group-item-action" id="list-profile-list" data-toggle="list" href="#tab_3"
                   role="tab" aria-controls="profile">Оплата и доставка</a>
                <a class="my-list-group list-group-item-action" id="list-messages-list" data-toggle="list" href="#tab_5"
                   role="tab" aria-controls="messages">Гарантия</a>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="tab-content px-4 py-4" id="myTabContent">
                <div class="tab-pane fade show active forHiddenInPrint" id="tab_1" role="tabpanel"
                     aria-labelledby="tab_1-tab" itemprop="description">
                    <div class="col-md-12">
                        {{ product.content|raw }}
                    </div>
                </div>
                {# <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2-tab"> #}
                {# <p class="bold-title"><strong>{{ product.custom_title_content }}</strong></p> #}
                {# {{ product.content|raw }} #}
                {# {% if product.benefits_led %} #}
                {# <div class="tabs-grid--item col-md-6"> #}
                {# <p class="bold-title">{{ product.custom_title_benefits_led }}</p> #}
                {# {{ product.benefits_led|raw }} #}
                {# </div> #}
                {# {% endif %} #}
                {# {% if product.additional_options %} #}
                {# <div class="tabs-grid--item col-md-6"> #}
                {# <p class="bold-title">{{ product.custom_title_additional_options }}</p> #}
                {# {{ product.additional_options|raw }} #}
                {# </div> #}
                {# {% endif %} #}
                {# {% if product.compliance %} #}
                {# <div class="tabs-grid--item col-md-6"> #}
                {# <p class="bold-title">{{ product.custom_title_compliance }}</p> #}
                {# {{ product.compliance|raw }} #}
                {# </div> #}
                {# {% endif %} #}
                {# {% if product.custom_text %} #}
                {# <div class="tabs-grid--item col-md-6"> #}
                {# {{ product.custom_text|raw }} #}
                {# </div> #}
                {# {% endif %} #}
                {# </div> #}
                <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3-tab">
                    {% partial "card_tabs/payment-and-delivery" %}
                </div>
                {# <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4-tab"> #}
                {# {% partial "card_tabs/exchange-and-return" %} #}
                {# </div> #}
                <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="tab_5-tab">
                    {% partial "card_tabs/guarantee" %}
                </div>

                {% if product.video %}
                    <div class="tab-pane fade" id="tab_6" role="tabpanel" aria-labelledby="tab_6-tab">
                        {{ product.video|raw }}
                    </div>
                {% endif %}
                {% if product.benefits_led %}
                    <div class="tab-pane fade" id="tab_7" role="tabpanel" aria-labelledby="tab_7-tab">
                        {{ product.benefits_led|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3 bottom-page-part">
        <div class="col overflow-hidden">
            {{ product.additional_options|raw }}
            <div>
                <button data-toggle="modal" data-target="#Modal-found-mistake" class="basket-sm__btn-link">Нашли ошибку
                    в описании?
                </button>
            </div>
        </div>
        {% if product.product_also_needs.count() == 1 %}
            <div class="col-md-5 col-xl-3 d-md-flex also-need">
                <div class="part__line-right"></div>
                <div class="row m-0">
                    <h2 class="title-spec text-center gotham-s-sm-medium col-12">{{ product.also_need_name }}</h2>

                    <div class="row products col-12 m-0 pl-2 pr-2">
                        {% for may_need in product.product_also_needs.get() %}
                            <div class="col-11 col-sm-6 col-md-11 m-auto p-2">
                                <a href="{{ may_need.slug }}" class="products__card">
                                    <div class="products__product-code">код: {{ may_need.product_code }}</div>
                                    <span class="product-small-card__image">
                                    <img src="{{ may_need.image.image|mediathumb_resize('width', 175) }}"
                                         class="img-fluid" alt="{{ prod.name }}">
                                </span>
                                    <div class="products__infa">
                                        <h3 class="products__title">{{ may_need.name }}</h3>
                                        {% for param in may_need.fieldsOut() %}
                                            <p class="products__description">
                                                {{ param.name }}, {{ param.value }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                    <div class="products__opportunities">
                                        {% if may_need.price %}
                                            <div class="products__block d-flex align-items-center justify-content-between">
                                                <div>
                                                    со склада <br><span
                                                            class="products__price">{{ priceFormatting(may_need.price) }}<span
                                                                class="rubl-icon">q</span></span>
                                                </div>
                                                <div>
                                                    <button class="b-btn b-btn--red-border"
                                                            data-shopcart-add data-request="onAddProductToCart"
                                                            data-request-success="svCart.afterAdd.call(this, context, data)"
                                                            data-id="{{ -product.id }}"
                                                            data-request-data="id: {{ -product.id }}, count: 1">Заказать
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if may_need.minimalPrice %}
                                            <div class="products__block d-flex align-items-center justify-content-between">
                                                <div>
                                                    под заказ <br><span
                                                            class="products__price">{{ priceFormatting(may_need.minimalPrice) }}<span
                                                                class="rubl-icon">q</span></span>
                                                </div>
                                                <div>
                                                    <button type="button"
                                                            class="b-btn b-btn--red-drenched"
                                                            data-shopcart-add
                                                            data-request="onAddProductToCart"
                                                            data-request-success="svCart.afterAdd.call(this, context, data)"
                                                            data-id="{{ may_need.id }}"
                                                            data-request-data="id: {{ may_need.id }}, count: 1">
                                                        Заказать
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
</div>

{# <div class="html2pdf__page-break"></div> #}
{% if product.product_also_needs.count() > 1 %}
    <div class="col-md-12 withThisProduct">
        <span class="title-spec text-center gotham-s-sm-medium">{{ product.also_need_name }}</span>
        <div class="ml-md-5 mr-md-5">
            <div class="ml-sm-5 mr-sm-5">
                {% partial "@relations-products" products = product.product_also_needs.get() %}
            </div>
        </div>
    </div>
{% endif %}
{% if product.product_relations.count() != 0 %}
    <div class="col-md-12 withThisProduct">
        <span class="title-spec text-center gotham-s-sm-medium">С этим товаром покупают</span>
        <div class="ml-md-5 mr-md-5">
            <div class="ml-sm-5 mr-sm-5">
                {% partial "@relations-products" products = product.product_relations.get() %}
            </div>
        </div>
    </div>
{% endif %}
{% if product.analogues.count() != 0 %}
    <div class="col-md-12 product-analogues">
        <span class="title-spec text-center gotham-s-sm-medium">{{ product.analogue_alias }}</span>
        <div class="ml-md-5 mr-md-5">
            <div class="ml-sm-5 mr-sm-5">
                {% partial "@relations-products" products = product.analogues.get() %}
            </div>
        </div>

    </div>
{% endif %}

<!-- <div class="col-md-12">
    <a data-fancybox data-src="#what-to-improve" href="javascript:;" class="blue-link exclamation"><i
                class="fas fa-exclamation-circle"></i>Что можно улучшить на этой
        странице</a> -->
</div>
{% put styles %}
    <link rel="stylesheet" href="{{ 'assets/css/lightslider.min.css'|theme }}">
{% endput %}
{% put scripts %}
    <script src="{{ 'assets/js/lightslider.min.js'|theme }}"></script>
{% endput %}
<div style="display: none;" id="one-click">
    <div class="c-one-click">
        <h2 id="one-click-title">Купить</h2>
        <hr>
        {% component 'onClick' %}
    </div>
</div>

<div style="display: none; max-width: 500px;" id="what-to-improve" tabindex="-1">
    <h2 class="text-center">Что можно улучшить на этой странице?</h2>
    {% component 'whatToImprove' %}
    <br>
    <p class="text-info"><i class="fa fa-info-circle"></i> Пожалуйста, укажите Ваш e-mail. Мы быстрее исправим ошибку,
        если сможем связаться с Вами для уточнения
        информации.</p>
</div>

<!-- <div style="display: none; max-width: 500px;" id="found-mistake" tabindex="-1">
    <h2 class="text-center">Что можно улучшить на этой странице?2</h2>
    {% component 'foundMistake' %}
    <br>
    <p class="text-info"><i class="fa fa-info-circle"></i> Пожалуйста, укажите Ваш e-mail. Мы быстрее исправим ошибку,
        если сможем связаться с Вами для уточнения
        информации.</p>
</div> -->
<!--  -->
<div class="modal fade" id="Modal-found-mistake" tabindex="-1" role="dialog" aria-labelledby="mistakeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title gotham-s-sm-medium" id="mistakeModalLabel">Что можно улучшить на этой странице?
                </h5>
                <button type="button" class="close b-btn-modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="{{ 'assets/images/svg/white_close_icon.svg'|theme }}">
                </button>
            </div>
            <div class="modal-body modal-body-low-price px-4 my-modal-found-mistake">
                {% component 'foundMistake' %}
            </div>
            <div class="modal-footer">
                <div class="row px-4 py-2">
                    <div class="modal-footer__text col-md-10">
                        <i class="fa fa-info-circle"></i> Пожалуйста, укажите Ваш e-mail. Мы быстрее исправим ошибку,
                        если сможем связаться с Вами для уточнения
                        информации.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="pdfContent hidden" style="background: red">

</div>
<!--{{ product.descriptionPDF }}-->
<!--{{ image.image | media }}-->