==
<h1>{{ category.seo_h1 }}{{ GeoApi.cityName(' в ', '', 'prepositional') }}</h1>
<div class="d-flex justify-content-between d-md-none pt-3 button-products">
    <button data-fancybox data-src="#hidden-content-16"> Каталог товаров <img
                src="{{ 'assets/images/svg/menu.svg'|theme }}" alt="burger-icon" class="button-products__burger-icon">
    </button>
    <button id="button-filter"> Фильтр <img src="{{ 'assets/images/svg/filter-icon.svg'|theme }}" alt="filter-icon"
                                            class="button-products__filter-icon"></button>
</div>
<br>
<div class="container">
    <div class="row row-cols-3">
        {% for subcategory in category.children %}
            <div class="col-4">
                <a href="{{ page }}{{ subcategory.slug }}" class="accessories__item">
                    {% if subcategory.ico %}
                        <img src="{{ subcategory.ico|media }}" class="accessories__icon">
                    {% endif %}
                    <span class="accessories__title">{{ subcategory.name }}</span>
                </a>
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% partial "@_products-grid" products = products %}

<div class="row category-info">
    {% if(category != null) %}
        <div class="{% if category.introduction %}col-lg-6{% else %}col-md-12{% endif %}">
            {{ category.content|raw }}
        </div>
        <div class="{% if category.content %}col-lg-6{% else %}col-md-12{% endif %}">
            {{ category.introduction|raw }}
        </div>
    {% endif %}
</div>