.capture-contacts__wrapper{
  @include clearfix;
  margin: 15px 10px;
  border-top:2px solid #eeeeee;
  padding-top: 20px;
  .icon-phone{
    font-size: 30px;
    width: 37px;
    display: inline-block;
    position: relative;
    &:before{
      position: absolute;
      top: -21px;
      color: #586472;
    }
  }
}
.capture-contacts__text{
  padding: 2px 5px;
  font-size: 20px;
  display: inline-block;
  margin-left: -15px;
  a{
    color:#333333;
    &:hover, &:focus, &:active{
      text-decoration: none;
    }
  }
}
.capture-contacts__text-bolder{
  font-weight: bold;
}
.capture-contacts__text-italics{
  font-style: italic;
}
.capture-contacts__button{
  float: right;
  margin-right: -15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 21px;
}