.full-products-category {
  @include clearfix;
}

.full-products__filter-catalog {
  margin-bottom: 20px;
}

.card_title {
  font-size: 30px;
}

.card_vendor-code {
  display: inline-block;
  margin-right: 20px;
}

.card_manufacturer-small {
  margin: 0;
  font-size: 87%;
  display: inline-block;
}

.card_order__wrapper {
  @include clearfix;
  .order-form__product-count {
    float: left;
    .input-group {
      padding-bottom: 10px;
    }
  }
  .card_to-cart-button__wrapper {
    float: left;
    > i {
      font-size: 20px;
      margin-right: 6px;
    }
  }
}

.card_warning-after {
  padding: 5px 0 2px;
  font-size: 14px;
}

.card_properties-table {
  margin-top: 20px;
}

.table.card_properties-table > tbody > tr > td,
.table.card_properties-table > tbody > tr > th,
.table.card_properties-table > tfoot > tr > td,
.table.card_properties-table > tfoot > tr > th,
.table.card_properties-table > thead > tr > td,
.table.card_properties-table > thead > tr > th {
  border-top: 0;
}

.card_slider__wrapper {
  display: table;
  margin: 30px auto;
  width: 100%;
}

.card_slider {
  @include clearfix;
  position: relative;
  display: table-row;
  img {
    max-width: 100%;
  }
}

.card_slider-slide {
  text-align: center;
  display: table-cell;
  i {
    margin-top: 50px;
  }
}

.card_slider-slides {
  display: table-cell;
  width: 100px;
  vertical-align: top;
  padding: 20px 0;
}

.card_slider-slide__min {
  padding: 5px;
  text-align: center;
  &:not(.card_slider-slide__min-active) {
    cursor: pointer;
  }
  &.card_slider-slide__min-active {
    border: 1px solid #ccc;
  }
}

.card_to-cart-button, .card_to-download-pdf-button > .btn {
  width: 202px;
}

.card_to-download-pdf-button {
  margin-top: 5px;
}

.card_slider__wrapper {
  .slick-prev {
    top: 0;
    left: 50%;
    margin-left: -10px;
    &:before {
      color: #000;
      @extend .fontello-icon;
      content: "\E817";
    }
  }
  .slick-next {
    margin-left: -10px;
    right: initial;
    top: 100%;
    left: 50%;
    &:before {
      color: #000;
      @extend .fontello-icon;
      content: "\E816";
    }
  }
  .slick-slide {
    padding: 0;
  }
}

.card_price__wrapper {
  &--first {
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    .card_price__description {
      font-size: 25px;
    }
  }
  &--second {
    font-size: 22px;
    margin-bottom: 4px;
  }
  &--small {
    font-size: 18px;
  }
}

.card_price__wrapper--discount {
  margin: 0 0 -20px 0;
  font-size: 20px;
  position: relative;
  color: #7b7b7b;
  display: block;
  float: left;
  &:before {
    content: "";
    display: block;
    height: 1px;
    border-bottom: 1px solid #727272;
    transform: rotate(-2deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
}

.card_price__wrapper--discount--count {
  margin-bottom: -20px;
  font-size: 19px;
}