$borderColor: #d4d4d4;

.menu-categories__wrapper {
  border: 1px solid darken(#f5f5f5, 20%);
  background: #f5f5f5;
  width: 100%;
  .menu-categories__list {
    background: #fff;
  }
  .menu-categories__list__item:nth-child(4) {
    border-bottom: 0;
  }
}

.categories-menu-list {
  position: relative;
  margin-bottom: 20px;
}

.menu-categories__title {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 18px;
}

.menu-categories__list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  ul {
    padding: 0;
  }
  .menu-categories__list__item {
    position: relative;
    display: block;
    .indent {
      float: left;
      width: 15px;
      display: block;
      height: 1px;
    }
    .icon {
      position: relative;
      color: #000000;
      z-index: 2;
      left: 0;
      width: 25px;
      display: inline-block;
      float: left;
      line-height: 22px;
    }
    .menu-categories__list__item-text {
      display: inline-block;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid $borderColor;
    }
    &.active {
      > a {
        color: #fff;
        background: $color_bright;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
    .menu-categories__list__link {
      background: #fff;
      display: block;
      padding: 11px 15px 12px 15px;
      color: #202a31;
      position: relative;
      text-decoration: none;
      &:hover {
        color: #fff;
        background: $color_bright;
      }
      > img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }
    &:last-child a{
      border: 0;
    }
  }
  .menu-categories__list-collapsed {
    display: none;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .menu-categories__list {
    @include clearfix;
  }
  .menu-categories__list__item {
    float: left;
    width: 50%;
  }
}