.product-grid__wrapper {
  border: 5px solid #f5f5f5;
  padding: 15px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  &:hover {
    border: 5px solid #fff;
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: -15px;
      bottom: -20px;
      left: -15px;
      right: -15px;
      box-shadow: 0 0 3px 2px rgba(230, 230, 230, 1);
      background: #fff;
      z-index: 1;
    }
    .product_mark {
      &--vertical {
        right: -2px;
      }
    }
  }
}

.full-products-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.button_help--big {
  display: block;
  font-size: 30px;
  text-align: center;
  color: #fff;
  background: darken($color_bright, 15%);
  line-height: 40px;
  margin: 0 -15px;
  padding: 10px;
  border: 5px solid #f5f5f5;
  border-bottom: 0;
  text-decoration: none;
  &:hover {
    color: #fff;
    font-size: 35px;
    background: $color_bright;
    text-decoration: none;
  }
}

.product-default__image a {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
}

#full-products__per-page {
  margin-top: 22px;
  border: 1px solid #ededed;
}

.top-paginate__wrapper .pagination {
  margin-right: 20px;
}