.product-default__wrapper {
  min-height: 400px;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-bottom: 30px;
}

.product-default__code {
  > span {
    color: $text-color;
    font-weight: normal;
    font-size: 85%;
  }
  font-weight: bold;
}

.product-default__name {
  margin: 10px 0;
  line-height: 20px;
  font-size: 105%;
  a {
    color: $text-color;
    &:hover {
      color: $color_bright;
    }
  }
}

.product-default__light_flow {
  margin: 0;
}

.product-default__price {
  font-size: 140%;
  font-weight: bold;
  float: left;
  display: inline-block;
  white-space: nowrap;
}

.product-default__buy {
  background: $target-button-color;
  float: left;
  color: #fff;
  font-size: 24px;
  position: relative;
  width: 50px;
  height: 36px;
  text-align: center;
  border-radius: 500px;
  line-height: 20px;
  padding: 0;
  &:hover {
    color: #fff;
    font-size: 26px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    width: 58px;
    height: 40px;
    margin: -2px 0 0 -2px;
  }
}

.product-default__price-unit {
  font-size: 85%;
  padding-right: 3%;
}

.product-default__price-float {
  font-size: 80%;
}

.product-default__price--wrapper {
  @include clearfix;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-default-price--discount {
  position: relative;
  color: #7b7b7b;
  font-size: 100%;
  &:before {
    content: "";
    display: block;
    height: 1px;
    border-bottom: 1px solid #727272;
    transform: rotate(-2deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
  }
}

.product-default__price--discount-count {
  font-size: 12px;
  margin-bottom: 10px;
}