.relation-products__wrapper-analogues {
  @include clearfix;
}

.relation-products__item-analogues {
  border: 5px solid #f5f5f5;
  padding: 20px;
  border-bottom: 0;
  width: 100%;
  &:last-child {
    border-bottom: 5px solid #f5f5f5;
  }
}