.quote_info-block{
  position: relative;
  border-left: 4px solid #EEEEEE;
  padding-left: 70px;
  margin:15px 10px;
  font-size: 14px;
  @include clearfix;
  .icon-info-circled{
    position: absolute;
    font-size: 50px;
    left: 5px;
    top: 50%;
    margin-top: -41px;
  }
}