<ol class="faq">
    {% for item in faq %}
    <li class="faq-item">
        <div class="question">{{ item.question|raw }}</div>
        <div class="answer">{{ item.answer|raw }}</div>
    </li>
    {% endfor %}
</ol>