<div class="col-md-12">
    <h1 class="product-title">{{ product.full_name }} <i class="fas fa-print"></i></h1>
</div>
<div class="col-md-8 product-page" id="content">
    <div id="slider-top">
        <p class="vendor-code">Код: <span>{{ product.product_code }}</span></p>
        {% if product.guarantee %}
        <a href="#" class="tooltip-link guarantee" data-toggle="tooltip" data-placement="bottom" data-html="true"
           title="<em>Условия гарантии также распространяются на что то еще</em> <u><li>пункт</li><li>пункт</li></u>"><i
                class="fas fa-check-circle"></i>Гарантия производителя до {{ product.guarantee }} лет</a>
        {% endif %}
    </div>
    <ul id="vertical">
        {% if product.images|length > 0 %}
        {% for image in product.images %}
        <li data-thumb="{{ image.image|mediathumb_resize('width', 100) }}">
            <a href="{{ image.image|media }}" data-fancybox="images"
               data-caption="{{ image.alt }}"><img src="{{ image.image|media }}" class="img-fluid"/></a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>
<div class="col-md-4">
        <!--<button type="button" class="btn btn-outline-secondary"><i class="far fa-heart"></i>Отложить</button>-->
    <!--<button type="button" class="btn btn-outline-secondary"><i class="fas fa-sort-amount-down"></i>Сравнить</button>-->

    <div class="card card-price">
        <div class="card-body">
            {% if product.special_price %}
            <p class="price big">Специальная цена: {{ priceFormatting(product.special_price) }} <span>р. <span class="light">/ шт</span></span></p>
            {% endif %}
            {% if product.wholesale_price %}
            <p class="price middle">Оптовая цена: {{ priceFormatting(product.wholesale_price) }} <span>р. <span class="light">/ шт</span></span></p>
            {% endif %}
            {% if product.price %}
            <p class="price small">Розничная цена: {{ priceFormatting(product.price) }} <span>р. <span class="light">/ шт</span></span></p>
            {% endif %}
            <a href="#" class="inline-link question">
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" data-html="true"
                   title="Подробные условия акции <a href='#'>здесь</a>"></i>Нашли дешевле? Сообщите!</a>
            {% if product.pdf_description %}
            <a href="{{product.pdf_description}}" class="btn btn-primary"><i class="far fa-file-alt"></i>Скачать описание</a>
            {% endif %}
        </div>
    </div>
    <div class="input_number">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-number btn-minus"
                        {% if(product.count== 1)%}disabled="disabled" {% endif %}
                        data-id="{{ product.id }}"
                        data-type="minus" data-field="quantity[{{ product.id }}]">
                    <i class="fas fa-minus"></i>
                </button>
                <input type="text" name="quantity[{{ product.id }}]"
                       class="form-control input-number order-form__quantity"
                       data-id="{{ product.id }}"
                       value="1" min="1" max="9999999999">
                <button type="button" class="btn btn-default btn-number btn-plus"
                        data-type="plus" data-id="{{ product.id }}"
                        data-field="quantity[{{ product.id }}]">
                    <i class="fas fa-plus"></i>
                </button>
            </span>
        </div>
    </div>
    <button type="button" class="btn btn-primary add-to-cart checkout-form" data-request-data="'id': {{ product.id }}, 'name': '{{ product.name }}', 'slug': '{{ product.slug }}', 'price':'{{ product.price}}', 'discount_price':'{{ product.discount_price }}', 'discount_from':'{{ product.discount_from }}', 'image' : '{{ product.image.image|media }}'">
        <img src="{{ 'assets/images/svg/sign.svg'|theme }}">В корзину
    </button>
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-outline-warning btn-block">Купить в 1 клик</button>
            <button type="button" class="btn btn-outline-secondary btn-block">Запрос оптовой цены</button>
            <button type="button" class="btn btn-primary btn-block">Получить консультацию</button>
        </div>
    </div>
</div>
<div class="col-md-12">
    <hr>
</div>
<div class="col-md-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tab_1-tab" data-toggle="tab" href="#tab_1" role="tab" aria-controls="tab_1"
               aria-selected="true">Описание</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab_2-tab" data-toggle="tab" href="#tab_2" role="tab" aria-controls="tab_2"
               aria-selected="false">Описание и сфера применения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab_3-tab" data-toggle="tab" href="#tab_3" role="tab" aria-controls="tab_3"
               aria-selected="false">Оплата и доставка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab_4-tab" data-toggle="tab" href="#tab_4" role="tab" aria-controls="tab_3"
               aria-selected="false">Обмен и возврат</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab_5-tab" data-toggle="tab" href="#tab_5" role="tab" aria-controls="tab_3"
               aria-selected="false">Гарантия</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="tab_1-tab">
            <h2>Технические характеристики</h2>
            <table class="table table-striped">
                <tbody>
                {% if product.power_consumer %}
                <tr>
                    <th scope="row">Мощность</th>
                    <td>{{ product.power_consumer|raw }} Вт</td>
                </tr>
                {% endif %}
                {% if product.light_flow %}
                <tr>
                    <th scope="row">Световой поток</th>
                    <td>{{ product.light_flow }} Лм</td>
                </tr>
                {% endif %}
                {% if product.voltage_from %}
                <tr>
                    <th scope="row">Напряжение</th>
                    <td>{% partial 'partials/_from_to' from=product.voltage_from
                        to=product.voltage_to
                        %}
                        {% if product.voltage_from %} Вт {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if product.protection %}
                <tr>
                    <th scope="row">Степень защиты</th>
                    <td>{{ product.protection|raw }}</td>
                </tr>
                {% endif %}
                {% if product.colorful_temperature %}
                <tr>
                    <th scope="row">Температура</th>
                    <td>{{ product.colorful_temperature|raw }}К</td>
                </tr>
                {% endif %}
                {% if product.length %}
                <tr>
                    <th scope="row">Габариты, мм</th>
                    <td>{{ product.length|raw }}
                        {% if product.width %}Х{{ product.width|raw }}{% endif %}
                        {% if product.height %}Х{{ product.height|raw }}{% endif %}
                    </td>
                </tr>
                {% endif %}
                {% if product.weight %}
                <tr>
                    <th scope="row">Вес, кг</th>
                    <td>{{ product.weight|raw }} кг</td>
                </tr>
                {% endif %}
                {% if product.life_time %}
                <tr>
                    <th scope="row">Срок службы</th>
                    <td>{{ product.life_time|raw }} часов</td>
                </tr>
                {% endif %}
                {% if product.guarantee %}
                <tr>
                    <th scope="row">Гарантия</th>
                    <td>{{ product.guarantee|raw }} года</td>
                </tr>
                {% endif %}
                {% if product.article_provider %}
                <tr>
                    <th scope="row">Артикул поставщика</th>
                    <td>{{ product.article_provider|raw }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <a href="#" class="blue-link exclamation"><i class="fas fa-exclamation-circle"></i>Нашли ошибку в
                описании</a>
        </div>
        <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2-tab">
            <p class="bold-title"><strong>{{ product.custom_title_content }}</strong></p>
            {{ product.content|raw }}
            {% if product.benefits_led %}
            <div class="tabs-grid--item col-md-6">
                <p class="bold-title">{{ product.custom_title_benefits_led }}</p>
                {{ product.benefits_led|raw }}
            </div>
            {% endif %}
            {% if product.additional_options %}
            <div class="tabs-grid--item col-md-6">
                <p class="bold-title">{{ product.custom_title_additional_options }}</p>
                {{ product.additional_options|raw }}
            </div>
            {% endif %}
            {% if product.compliance %}
            <div class="tabs-grid--item col-md-6">
                <p class="bold-title">{{ product.custom_title_compliance }}</p>
                {{ product.compliance|raw }}
            </div>
            {% endif %}
            {% if product.custom_text %}
            <div class="tabs-grid--item col-md-6">
                {{ product.custom_text|raw }}
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3-tab">
            {% partial "card_tabs/payment-and-delivery" %}
        </div>
        <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4-tab">
            {% partial "card_tabs/exchange-and-return" %}
        </div>
        <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="tab_5-tab">
            {% partial "card_tabs/guarantee" %}
        </div>
    </div>
</div>
{% if product.product_relations.count() != 0 %}
<div class="col-md-12">
    <span class="title-spec">С этим товаром покупают</span>
    {% partial "products/relations-products" %}
</div>
{% endif %}
<div class="col-md-12">
    <a href="#" class="blue-link exclamation"><i class="fas fa-exclamation-circle"></i>Что можно улучшить на этой
        странице</a>
</div>
{% put styles %}
<link rel="stylesheet" href="{{'assets/css/lightslider.min.css'|theme}}">
{% endput %}
{% put scripts %}
<script src="{{ 'assets/js/lightslider.min.js'|theme }}"></script>
{% endput %}