<div class="row products">
    {% for product in products %}
    <div class="col-sm-6 col-lg-3 product">
        {% partial "products/default-card" product=product %}
    </div>
    {% endfor %}
    {% if(category != null) %}
    <div class="{% if category.introduction %}col-md-6{% else %}col-md-12{% endif %}">
        {{ category.content|raw }}
    </div>
    <div class="{% if category.content %}col-md-6{% else %}col-md-12{% endif %}">
        {{ category.introduction|raw }}
    </div>
    {% endif %}
</div>