<form name="order-form" id="order-form">
    <div id="cart-hiden-block" class="d-none d-lg-block order-form__wrapper">
        <div id="cart-hiden-button">
            <div id="cart"><img src="{{ 'assets/images/svg/cart-w.svg'|theme }}" alt=""></div>
            <div id="favorit"><img src="{{ 'assets/images/svg/heart.svg'| theme }}" alt=""></div>
        </div>
        <div id="cart-hiden">
            <div class="sv-shopping-cart">
                <div class="row align-items-center cart-top">
                    <div class="col-md-8">
                        <a href="cart.html">
                            <h2>
                                Готовые к оплате (<span data-shopcart-count>{{ products.count }}</span>)
                            </h2>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="button"
                                class="btn btn-primary"
                                id="empty"
                                data-request-success="svCart.afterReset.call(this)"
                                data-request="onProductsResetFromCart">
                            <i class="fas fa-times"></i>Очистить
                        </button>
                    </div>
                </div>
                <div id="cart-content">
                    <div class="row align-items-center cart-row table-header">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <p class="name">Наименование</p>
                        </div>
                        <div class="col-md-2">
                            <p class="price">Цена</p>
                        </div>
                        <div class="col-md-2">
                            <p class="number">Колличество</p>
                        </div>
                        <div class="col-md-2">
                            <p class="full-price">Сумма</p>
                        </div>
                        <div class="col-md-1">
                            <p class="del">Удалить</p>
                        </div>
                    </div>
                    <div class="order-form__produts-area" data-shopcart-area>
                        {% for product in products %}
                        {% partial '@item' product=product%}
                        {% endfor %}
                    </div>

                    <div class="row align-items-center cart-bottom">

                        <div class="col-md-12">
                            <p><b>Итого:</b>
                                <span class="sv-products__price"
                                      data-shopcart-result>{{ priceFormatting(price) }} р.</span>
                            </p>
                        </div>
                    </div>

                    <div class="row cart-chack sv-shopping-cart__info">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-primary" id="go-page">Продолжить покупки
                            </button>
                            <p>Вернуться к выбору товаров</p>
                        </div>

                        <div class="col-md-6">
                            <a href="/cart" class="btn btn-primary form-control">Перейти в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>