<h1>УСЛОВИЯ ОПЛАТЫ</h1>

<h4>Базовые (стандартные) условия</h4>

<p>Наша компания работает только с юридическими лицами по безналичному расчету. Отгрузка товара или запуск в производство, в случае отсутствия требуемого количества или номенклатуры на складе, осуществляется только после 100% оплаты.</p>

<h4>Индивидуальные условия</h4>

<p>Для постоянных клиентов разрабатываются индивидуальные условия сотрудничества, предусматривающие возможность рассрочки платежа, частичной предоплаты, постоплаты и т.д.</p>