<table border="1" width="100%" cellspacing="0" bordercolor="#000;" cellpadding="3" class="invoice">
    <tr>
        <th bgcolor="#696969"><font color="#fff">Заказ № {{ order.id }}</font></th>
    </tr>
</table>
<br>
<table border="1" width="100%" cellspacing="0" bordercolor="#000;" cellpadding="3" class="invoice">
    <tr>
        <th bgcolor="#696969"><font color="#fff">Информация о заказе</font></th>
    </tr>
    <tr>
        <td>Дата поступления заказа: {{ order.created_at }}</td>
    </tr>
    <tr>
        <td>ФИО: {{ order.name }}</td>
    </tr>
    <tr>
        <td>Номер телефона: {{ order.phone }}</td>
    </tr>
    <tr>
        <td>Email: {{ order.email }}</td>
    </tr>
    <tr>
        <td>Тип покупателя: {% if invoice.getCustomerType() == 0 %} Физ. лицо {% else %} Юр. лицо {% endif %}
        </td>
    </tr>
</table>
<br>
<br>
{{ invoice|raw }}
<br>
<br>
<hr>
<br>
<br>
<center>
    <a href="{{ '/'|app }}/admin/austerus/shop/orders/preview/{{ order.id }}">Посмотреть на сайте</a>
</center>
<style>
    .invoice {
        border: 1px solid #000;
    }
</style>