.order-form__wrapper {
  .btn-number {
    &.btn-plus, &.btn-minus {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 0.5rem;
    }
  }
  .order-form__quantity {
    padding-left: 0;
    padding-right: 0;
    width: 25px;
    text-align: center;
  }
}

.content_container {
  max-width: 1400px;
}

.hidden {
  display: none;
}

.lSSlideOuter {
  .lslide {
    background: #fff;
    text-align: center;
    img {
      max-height: 100%;
    }
  }
}

.products {
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.c-filter__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}

.c-one-click {
  @media (min-width: 600px) {
    width: 500px;
  }
}

.white-container {
  background: #fff;
}

.order-container {
  padding: 25px;
}

.capture-contacts__wrapper {
  max-width: 800px;
  margin: 0 auto;
  border-top: 2px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  .icon-phone {
    font-size: 30px;
    width: 37px;
    display: inline-block;
    position: relative;
    &:before {
      position: absolute;
      top: -21px;
      color: #586472;
    }
  }
}

.capture-contacts__text {
  padding: 2px 5px;
  font-size: 20px;
  display: inline-block;
  margin-left: -15px;
  a {
    color: #333333;
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
}

.capture-contacts__text-bolder {
  font-weight: bold;
}

.capture-contacts__text-italics {
  font-style: italic;
}

.capture-contacts__button {
  float: right;
  margin-right: -15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 21px;
}

.product h3 {
  color: #000;
}

@include media-breakpoint-down(md) {
  .c-scroll-btn {
    &#scrlBotm, &#scrlTop {
      border-radius: 0 5px 5px 0;
      left: 0;
    }
    > span {
      display: none;
    }
  }
  .cart {
    display: inline-block;
    width: 180px;
  }
}

img {
  max-width: 100%;
}