description = "Стандартная карточка товара"

[BannerComponent]

[SliderComponent]
==
<div class="product-wrap">
    <div class="product-small-card">
        <a href="/{{product.slug}}">
          {% if product.product_code %}
          <p class="vendor-code">Код: <span>{{ product.product_code }}</span></p>
          {% endif %}
            {% if product.images %}
            <span class="product-small-card__image">
            <img src="{{ product.image.image|mediathumb_resize('width', 175)}}"
                 class="img-fluid"
                 alt="{{product.name}}">
            </span>
            {% endif %}
            {% if product.name %}
            <h3>{{ product.name }}</h3>
            {% endif %}
            <ul class="properties">
                {% if product.light_flow %}
                <li>{{ product.light_flow }} Люмен</li>
                {% endif %}
            </ul>
            <div class="price-btn-block d-flex justify-content-between align-items-center">
                {% if product.price %}
                <p class="price">{{ priceFormatting(product.minimalPrice) }} р. <span class="light">/ шт</span></p>
                {% endif %}
<!--                 <div class="favorite-icon d-none d-sm-flex d-md-flex d-lg-flex">
     <img src="{{ 'assets/images/ico-heart.png'|theme}}">
</div> -->
                {% if product.price %}
                <button type="button"
                        class="add-to-cart d-flex align-items-center"
                        data-request="onAddProductToCart"
                        data-request-success="svCart.afterAdd.call(this, context, data)"
                        data-id="{{ product.id }}"
                        data-request-data="id: {{ product.id }}">
                         <img src="{{'assets/images/ico-basket-mobile.png'|theme}}" alt="basket">
                     <span>В корзину</span>
                </button>
                {% endif %}
            </div>
            
        </a>
    
    </div>
</div>