
<!--        компонент НАШЛИ ДЕШЕВЛЕ        -->
{% component 'Callback' %}
<!--  ПОЛУЧЕНИЕ СПЕЦИАЛЬНОЙ ЦЕНЫ  -->
{% component 'GetSpecialPriceForm' %}
<div class="col-md-12">
    <h1 class="product-title">{{ product.full_name }}</h1>
</div>
<div class="col-md-7 product-page" id="content">
    <div class="vertical__wrap">
        <span class="availability">
            <img src="{{'assets/images/icon-mark.png'|theme}}" alt="" onclick="window.print()">есть в наличии
        </span>
        <ul id="vertical">
            {% if product.images|length > 0 %}
            {% for image in product.images %}
            <li data-thumb="{{ image.image|mediathumb_resize('width', 100) }}">

                <a class="vertical-imgs" href="{{ image.image|media }}" data-fancybox="images"
                   data-caption="{{ image.alt }}"><img src="{{ image.image|media }}" data-resource-image class="img-fluid"/></a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
<br>
<div class="priceForPrintPage">
    {% if product.special_price %}
        <p class="price big">Спец цена: {{ priceFormatting(product.special_price) }} р. <span> <span
                        class="light">/ шт</span></span></p>
    {% endif %}
    {% if product.wholesale_price %}
        <p class="price middle">Оптовая цена: {{ priceFormatting(product.wholesale_price) }}р. <span> <span
                        class="light">/ шт</span></span></p>
    {% endif %}
    {% if product.price %}
        <p class="price small">Розничная цена: {{ priceFormatting(product.price) }}р. <span> <span
                        class="light">/ шт</span></span>
        </p>
    {% endif %}
</div>
<div class="col-md-5 product-info">
    <!--    <button type="button"
            class="btn btn-outline-secondary"
            data-shopcart-add
            data-request="onAddProductToFavorites"
            data-request-success="svFavorites.afterAdd.call(this, context, data)"
            data-id="{{ product.id }}"
            data-request-data="id: {{ product.id }}">
        <i class="far fa-heart"></i>Отложить
    </button> -->
    <!--<button type="button" class="btn btn-outline-secondary"><i class="fas fa-sort-amount-down"></i>Сравнить</button>-->
    <div id="slider-top">
        <p class="vendor-code">Код товара: <span>{{ product.product_code }}</span></p>
        {% if product.guarantee %}
        <a href="#" class="tooltip-link guarantee" data-toggle="tooltip" data-placement="bottom" data-html="true"
           title="{% if product.guarantee == 3 %}<em>Гарантия на продукцию 3 года с момента продажи продукции.
           За дополнительную оплату возможно расширить гарантию до 5 лет.</em>{% else %}Гарантия на продукцию 5 лет с
           момента продажи продукции.{% endif %}"><b>{{ product.guarantee }}</b> {% if product.guarantee == 1 %} год
            {% elseif product.guarantee > 1 and product.guarantee < 5 %} года
            {% else %} лет {% endif %} гарантия производителя</a>
        {% endif %}
    </div>
    <div class="save-and-print__block d-flex">
        <!--  todo Сделать кнопки для печати и сохранения PDF      -->
        <a href="" id="createProductPDF"><img src="{{'assets/images/save.png'|theme}}" alt="save"> сохранить</a>
        <a href="" onclick="javascript: print()" id="printCurrentPage" container d-none d-lg-block><img
                src="{{'assets/images/print-01.png'|theme}}" alt=""> распечатать</a>
    </div>
    <div class="card card-price">
        <div class="card-body row">
            <div class="card-body__col card-body__col_left col-12 forInlineInPDF col-lg-7">
                {% if product.special_price %}
                <p class="price big">Спец цена: {{ priceFormatting(product.special_price) }} р. <span> <span
                        class="light">/ шт</span></span></p>
                {% endif %}
                {% if product.wholesale_price %}
                <p class="price middle">Оптовая цена: {{ priceFormatting(product.wholesale_price) }}р. <span> <span
                        class="light">/ шт</span></span></p>
                {% endif %}
                {% if product.price %}
                <p class="price small">Розничная цена: {{ priceFormatting(product.price) }}р. <span> <span
                        class="light">/ шт</span></span>
                </p>
                {% endif %}

                <a class="inline-link question" href="javascript:" data-target="#callbackLowPrice"
                   data-toggle="modal" data-placement="right" data-html="true"
                   title="Подробные условия акции <a href='#'>здесь</a>">Нашли дешевле? Сообщите!</a>
                {% if product.pdf_description %}
{#                <a href="{{ product.pdf_description }}" class="btn btn-primary"><i class="far fa-file-alt"></i> Скачать#}
{#                    описание</a>#}
                {% endif %}
                <button type="button" class="btn btn-primary btn-consul" data-fancybox data-src="#consultation-form">
                    Получить
                    консультацию
                </button>
            </div>
            <div class="card-body__col card-body__col_right col-12 col-lg-5">
                <div class="count-btn__block">
                    <div class="input_number">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default btn-number btn-minus"
                                        {% if(product.count== 1) %}disabled="disabled" {% endif %}
                                        data-id="{{ product.id }}"
                                        data-type="minus"
                                        data-field="quantity[{{ product.id }}]">
                                    &#8722;
                                </button>
                                <input type="text" name="quantity[{{ product.id }}]"
                                       class="form-control input-number order-form__quantity"
                                       data-id="{{ product.id }}"
                                       data-shopcart-quantityupdate
                                       value="1" min="1" max="9999999999">
                                <button type="button"
                                        class="btn btn-default btn-number btn-plus"
                                        data-type="plus"
                                        data-id="{{ product.id }}"
                                        data-field="quantity[{{ product.id }}]">
                                    +
                                </button>
                            </span>
                        </div>
                    </div>
                    <button type="button"
                            class="btn btn-primary add-to-cart"
                            data-shopcart-add
                            data-request="onAddProductToCart"
                            data-request-success="svCart.afterAdd.call(this, context, data)"
                            data-id="{{ product.id }}"
                            data-request-data="id: {{ product.id }}, count: 1">
                        <img src="{{ 'assets/images/ico-basket-mobile.png'|theme }}">В корзину
                    </button>
                </div>
                <button type="button" class="btn btn-click" data-fancybox data-src="#one-click"
                        data-target="product">Купить в 1 клик
                </button>
                <button type="button" class="btn btn-outline-secondary btn-opt" data-fancybox data-src="#one-click"
                        data-target="opt">Запрос оптовой цены
                </button>
            </div>
        </div>
    </div>
{#    <div class="html2pdf__page-break"></div>#}
    <div class="download__list">

        {% if product.passport %}
        <div class="download__item">
            <a href="{{product.passport | media}}" download>
                    <span class="download__ico">
                        <img src="{{ 'assets/images/icon-pass.png'|theme }}">
                    </span>
                Паспорт на {{product.name}}
            </a>
        </div>
        {% endif %}
        {% if product.IES %}
        <div class="download__item">
            <a href="{{product.IES | media}}" download>
                    <span class="download__ico">
                        <img src="{{ 'assets/images/icon-ies.png'|theme }}">
                    </span>
                Скачать IES на {{product.name}}
            </a>
        </div>
        {% endif %}
        {% if product.descriptionPDF %}
        <div class="download__item">
            <a href="{{product.descriptionPDF | media}}" download>
                    <span class="download__ico">
                        <img src="{{ 'assets/images/icon-pdf.png'|theme }}">
                    </span>
                Скачать PDF описание {{product.name}}
            </a>
        </div>
        {% endif %}
        {% if product.certificate %}
        <div class="download__item">
            <a href="{{product.certificate | media}}" download>
                    <span class="download__ico">
                        <img src="{{ 'assets/images/icon-cert.png'|theme }}">
                    </span>
                Скачать сертификат на {{product.name}}
            </a>
        </div>
        {% endif %}
    </div>
    <div class="fill-application">
        <p>
            Заполнить заявку <br> на получение спец цены
        </p>
        <a data-toggle="modal" data-target="#getSpecialPrice" class="btn">Заполнить</a>
    </div>
</div>
<div class="col-md-7 description__block description__block-left">
    <div class="description__block-wrap">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab_1-tab" data-toggle="tab" href="#tab_1" role="tab"
                   aria-controls="tab_1"
                   aria-selected="true">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab_3-tab" data-toggle="tab" href="#tab_3" role="tab" aria-controls="tab_3"
                   aria-selected="false">Оплата и доставка</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="tab_4-tab" data-toggle="tab" href="#tab_4" role="tab" aria-controls="tab_3"
                   aria-selected="false">Обмен и возврат</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" id="tab_5-tab" data-toggle="tab" href="#tab_5" role="tab" aria-controls="tab_3"
                   aria-selected="false">Гарантия</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active forHiddenInPrint" id="tab_1" role="tabpanel" aria-labelledby="tab_1-tab">
                <div class="row">
                    <div class="col-md-12">
                        {{ product.content|raw }}
                    </div>
                </div>
                <!--               <div class="download-block">
                    <ul class="download-block__list d-flex justify-content-center align-items-center">
                        <li class="download-block__item">
                            <a href="">
                                <img src="{{ 'assets/images/icon-ies.png'|theme }}" alt="">
                                скачать IES
                            </a>
                        </li>
                        <li class="download-block__item">
                            <a href="">
                                <img src="{{ 'assets/images/icon-pass.png'|theme }}" alt="">
                                паспорт
                            </a>
                        </li>
                        <li class="download-block__item">
                            <a href="">
                                <img src="{{ 'assets/images/icon-pdf.png'|theme }}" alt="">
                                скачать PDF
                            </a>
                        </li>
                        <li class="download-block__item">
                            <a href="">
                                <img src="{{ 'assets/images/icon-cert.png'|theme }}" alt="">
                                сертификат
                            </a>
                        </li>
                    </ul>
                </div> -->
                <!--             <a data-fancybox data-src="#found-mistake" href="javascript:;" class="blue-link exclamation"><i
                            class="fas fa-exclamation-circle"></i>Нашли ошибку в описании</a> -->
            </div>
{#            <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="tab_2-tab">#}
{#                <p class="bold-title"><strong>{{ product.custom_title_content }}</strong></p>#}
{#                {{ product.content|raw }}#}
{#                {% if product.benefits_led %}#}
{#                <div class="tabs-grid--item col-md-6">#}
{#                    <p class="bold-title">{{ product.custom_title_benefits_led }}</p>#}
{#                    {{ product.benefits_led|raw }}#}
{#                </div>#}
{#                {% endif %}#}
{#                {% if product.additional_options %}#}
{#                <div class="tabs-grid--item col-md-6">#}
{#                    <p class="bold-title">{{ product.custom_title_additional_options }}</p>#}
{#                    {{ product.additional_options|raw }}#}
{#                </div>#}
{#                {% endif %}#}
{#                {% if product.compliance %}#}
{#                <div class="tabs-grid--item col-md-6">#}
{#                    <p class="bold-title">{{ product.custom_title_compliance }}</p>#}
{#                    {{ product.compliance|raw }}#}
{#                </div>#}
{#                {% endif %}#}
{#                {% if product.custom_text %}#}
{#                <div class="tabs-grid--item col-md-6">#}
{#                    {{ product.custom_text|raw }}#}
{#                </div>#}
{#                {% endif %}#}
{#            </div>#}
            <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="tab_3-tab">
                {% partial "card_tabs/payment-and-delivery" %}
            </div>
{#            <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="tab_4-tab">#}
{#                {% partial "card_tabs/exchange-and-return" %}#}
{#            </div>#}
            <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="tab_5-tab">
                {% partial "card_tabs/guarantee" %}
            </div>
        </div>
    </div>
</div>
{#<div class="html2pdf__page-break"></div>#}
<div class="col-md-5 description__block description__block-right">
    <div class="description__block-wrap">
        {% if product.categories.first() != null %}
            <h2>Технические характеристики</h2>
            <table class="table table-striped">
                <tbody>
                {% if product.param_1 %}
                    <tr>
                        <th scope="row">{{ product.categories.first().name_param_1 }}</th>
                        <td>{{ product.param_1|raw }}</td>
                    </tr>
                {% endif %}
                {% if product.param_2 %}
                    <tr>
                        <th scope="row">{{ product.categories.first().name_param_2 }}</th>
                        <td>{{ product.param_2|raw }}</td>
                    </tr>
                {% endif %}
                {% if product.param_3 %}
                    <tr>
                        <th scope="row">{{ product.categories.first().name_param_3 }}</th>
                        <td>{{ product.param_3|raw }}</td>
                    </tr>
                {% endif %}
                {% if product.param_4 %}
                    <tr>
                        <th scope="row">{{ product.categories.first().name_param_4 }}</th>
                        <td>{{ product.param_4|raw }}</td>
                    </tr>
                {% endif %}
                {% if product.param_5 %}
                    <tr>
                        <th scope="row">{{ product.categories.first().name_param_5 }}</th>
                        <td>{{ product.param_5|raw }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{#<div class="html2pdf__page-break"></div>#}
{% if product.product_relations.count() != 0 %}
<div class="col-md-12 withThisProduct">
    <span class="title-spec">С этим товаром покупают</span>
    {% partial "@relations-products" products = product.product_relations.get() %}
</div>
{% endif %}
{% if product.analogues.count() != 0 %}
<div class="col-md-12">
    <span class="title-spec">{{ product.analogue_alias }}</span>
    {% partial "@relations-products" products = product.analogues.get() %}
</div>
{% endif %}
<div class="col-12">
    <div class="block-questions">
        <div class="block-questions__title">
            <p class="h2">Остались вопросы?</p>
            <p>мы перезвоним Вам</p>
        </div>
        <div class="block-questions__inputs">
            <form>
                <input type="text" name="name" value="" class="" placeholder="Имя">
                <input type="text" name="phone" value="" class="form_phone" placeholder="Телефон">
                <input type="submit" class="btn-bordered svetograd__submit-btn--center" data-attach-loading=""
                       value="Отправить">
            </form>
        </div>
    </div>
</div>

<!-- <div class="col-md-12">
    <a data-fancybox data-src="#what-to-improve" href="javascript:;" class="blue-link exclamation"><i
                class="fas fa-exclamation-circle"></i>Что можно улучшить на этой
        странице</a> -->
</div>
{% put styles %}
<link rel="stylesheet" href="{{ 'assets/css/lightslider.min.css'|theme }}">
{% endput %}
{% put scripts %}
<script src="{{ 'assets/js/lightslider.min.js'|theme }}"></script>
{% endput %}
<div style="display: none;" id="one-click">
    <div class="c-one-click">
        <h2 id="one-click-title">Купить</h2>
        <hr>
        {% component 'onClick' %}
    </div>
</div>

<div style="display: none; max-width: 500px;" id="what-to-improve" tabindex="-1">
    <h2 class="text-center">Что можно улучшить на этой странице?</h2>
    {% component 'whatToImprove' %}
    <br>
    <p class="text-info"><i class="fa fa-info-circle"></i> Пожалуйста, укажите Ваш e-mail. Мы быстрее исправим ошибку,
        если сможем связаться с Вами для уточнения
        информации.</p>
</div>

<div style="display: none; max-width: 500px;" id="found-mistake" tabindex="-1">
    <h2 class="text-center">Что можно улучшить на этой странице?</h2>
    {% component 'foundMistake' %}
    <br>
    <p class="text-info"><i class="fa fa-info-circle"></i> Пожалуйста, укажите Ваш e-mail. Мы быстрее исправим ошибку,
        если сможем связаться с Вами для уточнения
        информации.</p>
</div>
<div class="pdfContent hidden" style="background: red">

</div>

<!--{{product.descriptionPDF}}-->
<!--{{image.image | media}}-->


