==
<h1>{{ category.seo_h1 }}{{GeoApi.cityName(' в ', '', 'prepositional')}}</h1>
{% partial "@_products-grid" products = products %}
<div class="row">
    {% if(category != null) %}
    <div class="{% if category.introduction %}col-md-6{% else %}col-md-12{% endif %}">
        {{ category.content|raw }}
    </div>
    <div class="{% if category.content %}col-md-6{% else %}col-md-12{% endif %}">
        {{ category.introduction|raw }}
    </div>
    {% endif %}
</div>