{% if paginator.hasPages() %}
    <ul class="pagination">
        {% if paginator.onFirstPage() %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ paginator.previousPageUrl() }}" rel="prev">&laquo;</a>
            </li>
        {% endif %}

        {% for element in elements %}
            {% if element is not iterable %}
                <li class="page-item disabled"><span class="page-link">{{ element }}</span></li>
            {% endif %}

            {% if element is iterable %}
                {% for page, url in element %}
                    {% if page == paginator.currentPage() %}
                        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if paginator.hasMorePages() %}
            <li class="page-item"><a class="page-link" href="{{ paginator.nextPageUrl() }}" rel="next">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}
