<div class="row">
    <form style="width: 100%">
        <div class="col-md-12">
            <h1>Корзина заказа</h1>
            <h2>Готовые к оплате (<span data-shopcart-count>{{ products.count() }}</span>)</h2>
        </div>

        <div class="col-md-12" id="cart-content">

            <div class="row align-items-center cart-top">
                <div class="col-md-12">
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-request-success="svCart.afterReset.call(this)"
                            data-request="onProductsResetFromCart"
                            id="empty"><i class="fas fa-times"></i>Очистить
                    </button>
                </div>
            </div>

            <div class="row align-items-center cart-row table-header">
                <div class="col-md-1">

                </div>
                <div class="col-md-4">
                    <p class="name">Наименование</p>
                </div>
                <div class="col-md-2">
                    <p class="price">Цена</p>
                </div>
                <div class="col-md-2">
                    <p class="number">Колличество</p>
                </div>
                <div class="col-md-2">
                    <p class="full-price">Сумма</p>
                </div>
                <div class="col-md-1">
                    <p class="del">Удалить</p>
                </div>
            </div>

            {% for product in products %}
            <div data-shopcart-area>
                {% partial '@item' product=product %}
            </div>
            {% endfor %}

            <div class="row align-items-center cart-bottom">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <p><b>Итого:</b> <span data-shopcart-result>{{ priceFormatting(price) }}</span> р.</p>
                </div>
            </div>

            <div class="row cart-chack">
                <div class="col-md-3">
                    <a href="/" class="btn btn-outline-primary">Продолжить покупки</a>

                    <p>Вернуться к выбору товаров</p>

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <a href="{{ options.order_path }}" class="btn btn-primary" id="chackout">Оформить заказ</a>
                </div>
            </div>

        </div>
    </form>
</div>