<div class="row align-items-center cart-row"
     data-request-data="id: {{ product.id }}"
     data-product-id="{{ product.id }}">
    <div class="col-md-1">
        <img src="{{ product.image.image|media }}" class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col-md-4">
        <p class="name">{{ product.name }}</p>
    </div>
    <div class="col-md-2">
        <p class="price">{{ priceFormatting(product.price) }} руб.</p>
    </div>
    <div class="col-md-2">
        <div class="input_number">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number btn-minus"
                            {% if(product.count== 1)%}disabled="disabled" {% endif %}
                            data-id="{{ product.id }}"
                            data-type="minus"
                            data-request="onProductMinusFromCart"
                            data-request-success="svCart.afterUpdateCount.call(this, context, data)"
                            data-field="quantity[{{ product.id }}]">
                        <i class="fas fa-minus"></i>
                    </button>
                    <input type="text"
                           name="quantity[{{ product.id }}]"
                           class="form-control input-number order-form__quantity"
                           data-id="{{ product.id }}"
                           value="{{ product.count }}"
                           min="1"
                           max="9999999999">
                    <button type="button"
                            class="btn btn-default btn-number btn-plus"
                            data-type="plus"
                            data-id="{{ product.id }}"
                            data-request="onProductPlusFromCart"
                            data-request-success="svCart.afterUpdateCount.call(this, context, data)"
                            data-field="quantity[{{ product.id }}]">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <p class="order-form__product-price full-price">
            <span data-shopcart-sum data-id="{{ product.id }}">{{ priceFormatting(product.getSumPrice()) }}</span> руб.
        </p>
    </div>
    <div class="col-md-1">
        <p class="del">
            <button type="button"
                    class="btn btn-link"
                    data-id="{{ product.id }}"
                    data-request="onProductDeleteFromCart"
                    data-request-success="svCart.afterDelete.call(this, context, data)"
            >
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
        </p>
    </div>
</div>
