==
<ul>
    {% for category in categories %}
    <li>
        <a href="{{ category.slug }}">
            <h2>
                {% if category.ico %}
                <span>
                    <img src="{{ category.ico|media }}">
                </span>
                {% endif %}
                {{ category.name }}
            </h2>
        </a>
    </li>
    {% endfor %}
</ul>