==
<div class="container  d-none d-lg-block">
    <div class="row">
        <div class="col-md-12">
            <div id="sub-catalog">
                <ul>
                    {% set break = false %}
                    {% for category in categories if not break %}
                    <li><a href="/{{ category.slug }}"><h2>{{ category.name }}</h2></a></li>
                    {% if loop.index0 >= 6 %}
                    {% set break = true %}
                    {% endif %}
                    {% endfor %}
                    {% if categories.count() > 7 %}
                    <li id="dop-link">еще <i class="fas fa-caret-down"></i>
                        <ul>
                            {% for category in categories.chunk(7).1 %}
                            <li><a href="/{{ category.slug }}"><h2>{{ category.name }}</h2></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>