@media screen and (max-width: 800px) {
  #rc-connect #rc-phone {
    position: fixed !important;
    top: 95% !important;
  }
  #rc-connect #rc-popup {
    position: fixed !important;
    top: 0 !important;
  }
}