<div data-control="toolbar">
    <button class="btn btn-danger oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')})"
            data-request="onDelete"
            data-request-confirm="<?php echo e(trans('austerus.formbuilder::lang.logs.delete_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$el.prop('disabled', false)"
            data-stripe-load-indicator>
        <?php echo e(trans('backend::lang.list.delete_selected')) ?>
    </button>
</div>