<?php Block::put('breadcrumb') ?>

    <ul>
        <li>
            <a href="<?= Backend::url('austerus/formbuilder/formlogs') ?>">
                <?php echo trans('austerus.formbuilder::lang.logs.log') ?>
            </a>
        </li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>

<?php Block::endPut() ?>

<?php if ( ! $this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('austerus/formbuilder/formlogs') ?>"
          class="btn btn-default"><?php echo trans('austerus.formbuilder::lang.logs.return') ?>
    </a></p>

<?php endif ?>