<?php Block::put('breadcrumb') ?>
<ul>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>
<h1><?= e($this->pageTitle) ?></h1>
<br>
<h3>1. Использование тегов GeoApi в шаблоне.</h3>
<p>Для использования фраз GeoApi в убедитесь что компонент GeoApi плагина GeoApi подключен на странице или шаблоне.
    Лучший вариант это подключить его глобально для всех страниц в шаблоне.</p>
<p>Для вывода фразы пользуйтесь следующей конструкцией: "{{ GeoApi.property }}", где property название псевдонима фразы.
    <br> <b>Пример:</b> <i>"{{ GeoApi.phone_number }}"</i> данная конструкция выводит фразу с псевдонимом phone_number,
    в
    случае отсутствия значения для данной фразы, ничего не будет выведено.</p>
<p>Более полная форма имеет вид: <i>"{{ GeoApi.p('phone_number', 'Значение по умолчанию') }}"</i>, в данном случае если
    значение отсутствует будет выведено значение по умолчанию. <br><b>Внимание </b> конструкция не должна содержать
    ошибок,
    псевдоним и значение по умолчанию должны быть обрамлены двойными или одинарными ковычками</p>
<p>Самая поланя конструкция выглядет следующим образом:
    <i>{{ GeoApi.render('prefix', 'property', 'postfix', 'default', false) }}</i>. Префикс это строка которая будет
    подставлена
    перед фразой, затем псевдоним фразы, затем постфикс, будет указан после значения, и <i>default</i> будет выведен по
    умолчанию, <i>false</i> в конце будет означать что дефолтное значение не нужно обрамлять префиксом и постфиксом,
    если
    данное значение опустить, то значение по умолчанию будет обрамлено. Обязательных параметров в данном методе только
    два, если префикс ненужен, можно передать пустую строку <br>
    <b>Пример:</b> <i>{{ GeoApi.render('Префикс ', 'property', ' постфикс', 'По умолчанию') }}</i> в случае если
    значение у фразы "property "для города существует, будет выведено <i>"Префикс Значение постфикс"</i> иначе <i>"Префикс
        По умолчанию постфикс"</i>, если указать false четвёртым параметром и фраза не определена, тогда будет выведено
    просто "<i>По умолчанию</i>"
</p>
<p>Для доступа к свойствам города используйте методы <i>{{GeoApi.city.name}} - Название города</i>, <i>{{GeoApi.city.prepositional}}</i>
    - название города в предложном падеже,
    <i>{{GeoApi.city.domain}}</i> - домен города <br> Полный метод выглядет так<i>{{GeoApi.cityName('prefix',
        'postfix', 'field')}}</i> где префикс и постфикс обрамляют название города, а field указывает, какое свойство
    города использовать, если опустить данный параметр, то будет выведено название города, для предложного падежа
    используйте <i>{{GeoApi.cityName('Купить в ',
        ' дешево', 'prepositional')}}</i>, в данном случае, например для Волгограда будет выведена фраза "Купить в
    Волгограде дешево", в случае отсутствия города, ничего не выведется. Для более краткого доступа к преложному падежу
    города можно использовать <i>{{GeoApi.cityPrepositional('', '')}}</i></p>
<h3>2. Использование в заполнении базы данных.</h3>
<p>Для добавления фраз в текст товаров или категорий, используется идентичный синтаксис, а также более краткая форма
    свойств <i>"{{phone_number}}"</i> эквивалентно <i>"{{ GeoApi.phone_number }}"</i></p>
<h3>3. Использование в SEO</h3>
<p>Используйте синтаксис такойже как при заполнении базы данных.</p>
<p><i>Примечание: Компонент GeoApi должен выводиться в шаблоне до метатегов и заголовока</i></p>
<hr>
<p><i>Примечание: Для использования HTML тегов во фразах, выводить их следует с добавлением функции raw, пример для
    номера телефона:
    <i>"{{ GeoApi.phone_number|raw }}"</i> иначе фраза будет выводиться с экранированными тегами, что приведет к тому
    что теги будут показаны пользователю.
</i></p>
