<div class="accordion" id="accordionExample">
    {% for item in faq %}

        <div class="card">
            <div class="card-header" id="heading-{{ item.id }}">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapse-{{ item.id }}" aria-expanded="false"
                            aria-controls="collapse-{{ item.id }}">
                        {{ item.question|raw }}
                    </button>
                </h2>
            </div>
            <div id="collapse-{{ item.id }}" class="collapse" aria-labelledby="heading-{{ item.id }}"
                 data-parent="#accordionExample">
                <div class="card-body">
                    {{ item.answer|raw }}
                </div>
            </div>
        </div>

    {% endfor %}
</div>
