description = "Захват контактов"
==
<div class="clearfix">
    <div class="capture-contacts__wrapper">
        <div class="col-md-8">
            <p class="capture-contacts__text">
                <span class="capture-contacts__text-bolder">Остались вопросы?</span>- 
                <span class="capture-contacts__text-italics">Позвоните нам бесплатно</span> <i class="icon-phone"></i>
                <span class="capture-contacts__text-bolder"><a href="tel:88007008927" class="text-nowrap">8 (800) 700 89 27</a></span>
        </div>
        <div class="col-md-4">
            <button class="btn btn-danger capture-contacts__button jivo_open">Задать вопрос онлайн</button>
        </div>
    </div>
</div>