==
<div id="squaresWaveG" class="hidden">
	<div id="squaresWaveG_1" class="squaresWaveG"></div>
	<div id="squaresWaveG_2" class="squaresWaveG"></div>
	<div id="squaresWaveG_3" class="squaresWaveG"></div>
	<div id="squaresWaveG_4" class="squaresWaveG"></div>
	<div id="squaresWaveG_5" class="squaresWaveG"></div>
	<div id="squaresWaveG_6" class="squaresWaveG"></div>
	<div id="squaresWaveG_7" class="squaresWaveG"></div>
	<div id="squaresWaveG_8" class="squaresWaveG"></div>
</div>

{% if callbackFormResponse %}
<div class="alert alert-success">
Спасибо мы с Вами свяжемся
</div>
{% endif %}
<p class="callback-form_description{% if callbackFormResponse %} hidden{% endif %}">Оставьте свой номер телефона, мы перезвоним Вам в течении 40 минут и уточним детали заказа</p>