description = "Форма обратной связи"
==
<div class="modal fade modal-content-center" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="callback-form-modal" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="callback-form">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                <form name="feedback-form" id="feedback-form">
                    <h4 id="callback-form_title">Заказать прайс</h4>
                    <div class="callback-form-body">
                        <div id="feedback-form__result">
                            {% partial "partials/feedback_result.htm" %}
                        </div>
                        <div class="form-group">
                            <label for="phone">Ваш номер телефона</label>
                            <input type="text" name="phone" class="form-control" id="feedback-form_phone">
                            <span class="help-block"><strong></strong></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Ваша почта</label>
                            <input type="text" name="email" class="form-control" id="feedback-form_email">
                            <span class="help-block"><strong></strong></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="type" value="price">
                            <input type="submit" value="Отправить заказ" class="form-control send-order" name="callback-form_submit">
                        </div>
                        <p class="personal-protection">Ваши данные не будут переданы третьим лицам.</p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>