==
<div class="svetograd_form__wrapper">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#inside" aria-controls="inside" role="tab" data-toggle="tab"
               aria-expanded="true" class="btn btn-default" style="margin-right: 10px;">Внутренне освещение</a>
        </li>
        <li role="presentation" class="">
            <a href="#outside" aria-controls="outside" role="tab" data-toggle="tab"
               aria-expanded="false" class="btn btn-default">Внешнее освещение</a>
        </li>
    </ul>
    <form class="form-horizontal paddings" name="get-free-project_form" id="get-free-project_form" method="post"
          enctype="multipart/form-data">
        <div id="get-free-project_result">
            {% if projectFormResponse %}
            {% partial "partials/get-price_result" %}
            {% endif %}
        </div>
        <input type="hidden" value="inside" name="order_type" id="get-project__type">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="inside">
                <h2 class="in_tab_title text-center">Заявка на расчет внутреннего освещения</h2>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__length--inside">Длина</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="length_inside"
                               id="get-project__length--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__width--inside">Ширина</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="width_inside"
                               id="get-project__width--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__height--inside">Высота</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="height_inside"
                               id="get-project__height--inside">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__material--inside">Материал стен</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="material_inside"
                               id="get-project__material--inside">
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__color--inside">Цвет стен</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="color_inside"
                               id="get-project__color--inside">
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__suspension_height--inside">Высота подвеса
                        светильников от уровня пола, метров</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="suspension_height_inside"
                               id="get-project__suspension_height--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__type_fastening--inside">Способ крепления
                        светильников (на фермах, на колоннах и т. д.)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="type_fastening_inside"
                               id="get-project__type_fastening--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__current_lamp--inside">Какие светильники
                        стоят на данный момент? (марка или тип)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="current_lamp_inside"
                               id="get-project__current_lamp--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__count_lamp--inside">И их количество (eсли
                        объект в эксплуатации)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="count_lamp_inside"
                               id="get-project__count_lamp--inside">
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__lux--inside">Необходимый уровень
                        освещенности на поверхности, Люкс</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="lux_inside"
                               id="get-project__lux--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__type_room--inside">Специфика помещения
                        (назначение помещения)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="type_room_inside"
                               id="get-project__type_room--inside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__type_room-other--inside">Специфика помещения
                        (другое)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="type_room_other_inside"
                               id="get-project__type_room-other--inside">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="outside">
                <h2 class="in_tab_title text-center">Заявка на расчет внешнего освещения</h2>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__type_room--outside">Тип объекта</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="type_room_outside"
                               id="get-project__type_room--outside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__type_room-other--outside">Тип объекта
                        (другое)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="type_room_other_outside"
                               id="get-project__type_room-other--outside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__length--outside">Длина</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="length_outside"
                               id="get-project__length--outside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__width--outside">Ширина</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="width_outside"
                               id="get-project__width--outside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__suspension_height--outside">Высота подвеса
                        светильников от уровня поверхности, метров</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="suspension_height_outside"
                               id="get-project__suspension_height--outside">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__type_fastening--outside">Способ крепления
                        светильников (на столбах, другое)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="type_fastening_outside"
                               id="get-project__type_fastening--outside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__current_lamp--outside">Какие светильники
                        стоят на данный момент? (марка или тип)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="current_lamp_outside"
                               id="get-project__current_lamp--outside">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__count_lamp--outside">И их количество (eсли
                        объект в эксплуатации)</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="count_lamp_outside"
                               id="get-project__count_lamp--outside">
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="get-project__lux--outside">Необходимый уровень
                        освещенности на поверхности, Люкс</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" value="" name="lux_outside"
                               id="get-project__lux--outside">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="get-project__file-0">Файл с фото объекта или чертеж
                объекта</label>
            <div class="col-sm-7">
                <p>
                    <input type="file" value="" name="file1" id="get-project__file-0">
                </p>
                <p>
                    <input type="file" value="" name="file2" id="get-project__file-1">
                </p>
                <p>
                    <input type="file" value="" name="file3" id="get-project__file-2">
                </p>
            </div>
        </div>
        <h3 class="text-center">Контактные данные</h3>
        <hr class="light-line">
        <div class="form-group tpl_default_author_name">
            <label class="col-sm-4 control-label" for="get-project__name">ФИО</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" value="" name="name" id="get-project__name">
            </div>
        </div>
        <div class="form-group tpl_default_author_email" style="">
            <label class="col-sm-4 control-label" for="get-project__email">E-mail</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" value="" name="email"
                       id="get-project__email">
            </div>
        </div>
        <div class="form-group tpl_default_author_personal_mobile" style="">
            <label class="col-sm-4 control-label" for="get-project__phone">Контактный телефон</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" value="" name="phone"
                       id="get-project__phone"><span class="required-dot">•</span>
            </div>
        </div>
        <div class="form-group tpl_default_author_work_company" style="">
            <label class="col-sm-4 control-label" for="get-project__company">Организация</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" value="" name="company"
                       id="get-project__company">
            </div>
        </div>
        <div class="form-group tpl_default_author_state" style="">
            <label class="col-sm-4 control-label" for="get-project__state">Регион</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" value="" name="state"
                       id="get-project__state">
            </div>
        </div>
        <div class="form-group tpl_default_author_city" style="">
            <label class="col-sm-4 control-label" for="get-project__city">Город</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" value="" name="city" id="get-project__city">
            </div>
        </div>
        <div class="form-group api-submit text-center">
            <button type="submit" name="submit" style="" class="btn btn-bordered svetograd__submit-btn">
                <i class="icon-spin4 animate-spin" style="display: none;"></i> Отправить заявку
            </button>
        </div>
    </form>
    <p class="contacts_form_info text-center"><i class="icon-lock"></i>Ваши данные в безопасности и не будут переданы
        3-м лицам.</p>
</div>