<div class="alert alert-success text-center">
    <strong>Спасибо!</strong> Ваша заявка успешно отправлена!
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
</div>