description = "Меню с категориями"
==
<div class="sub_nav_block">
    <ul class="sub_nav_items">
    {% for category in categories %}
        <li class="sub_nav_item col-xs-12 col-sm-6 col-md-3">
            <a href="/{{ category.slug }}">{{ category.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>