<div class="form-group">
    <form action="/search" method="get" class="search-form">
        <div class="search-form__wrapper--full cf">
            <input type="text" placeholder="Поиск товара" id="search-form__input" value="{{ input('q') }}" name="q">
            <button id="search-form__button" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
</div>
{% if result.categories.count() > 0 %}
<div class="search-result-categories row">
    <div class="col-md-10 col-lg-8">
        Категорий соответствующих запросу ({{result.categories.count()}})
        <div class="row">
            <div id="sub-catalog">
                <ul>
                    {% for category in result.categories %}
                    {% partial "@category_item" category=category %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% partial "Shop/_products-grid" products=result.products %}
