<div class="col-md-9 fastAdding">
    <form class="fastAddingForm"
          id="fastAddingForm">
        <input type="text" class="form-control"
               id="inputFastAdding"
               placeholder="Быстрое добавление: введите наименование или код товара"
               name="fastAddingInput">

        <button type="submit" data-request-form="fastAddingForm" class="btn btn-primary ">Найти</button>

        <div id="fastAddingProductSelect">
            <!--            <a data-request-data="onAddProductToCart" class="fastAddProductItem" href="javascript:;">Модуль Прожектор 30°, универсальный, 256 Вт</a>-->
        </div>
    </form>
</div>
