==

<div>

    <h5 class="pt-3 cart-page__title gotham-s-sm-medium">Детали заказа № {{ order_id }}</h5>
    <div class="d-sm-flex">
        <div class="mr-2 gotham-s-sm-medium">Готовые к оплате (<span data-shopcart-count>{{ products.count() }}</span>)
        </div>
        <button type="button"
                class="basket-sm__btn"
                data-request-success="svCart.afterReset.call(this)"
                data-shopcart-reset
                {% if products.count() == 0 %} disabled{% endif %}
                data-request="onProductsResetFromCart">
            Очистить корзину
        </button>
    </div>


    <div class="col-md-12 basket__wrap" id="cart-content">

        <!--         <div class="row align-items-center cart-top">
            <div class="col-md-12">
                <button
                        type="button"
                        class="btn btn-primary"
                        data-request-success="svCart.afterReset.call(this)"
                        data-request="onProductsResetFromCart"
                        data-shopcart-reset
                        {% if products.count() == 0 %} disabled{% endif %}
                        ><i class="fas fa-times"></i>Очистить
                </button>
            </div>
        </div> -->
        <h2 class="emptyCartError" style="padding: 40px 0">Корзина пустая</h2>
        <div class="row fullCartProductAreaForHidden">
            <div data-shopcart-area class="fullCartProductArea col-md-10" style="margin: 0 auto;">
                {% for product in products %}

                    {% partial '@item' product=product %}

                {% endfor %}
            </div>

            <div class="row m-0 p-0 col-12 basket__total">
                <div class="col-md-6">
                    <div class="basket__bottom">
                        <div>
                            <!--<h3><label for="order-description">Комментарии к заказу</label></h3> -->
                            <div>
                                <textarea name="description" placeholder="Комментарии к заказу"
                                          id="order-description"
                                          style="width:100%;min-height:170px"
                                          class="cart-page__form-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div data-orderform-result-error></div>
                </div>
                <div class="col-md-6">
                    <div class="card-page__total text-right">
                        Итого: <span class="gotham-s-sm-medium" data-shopcart-result>{{ priceFormatting(price) }} <span
                                    class="rubl-icon">q</span></span>
                    </div>
                    <div class="part__line-bottom"></div>
                    <div class="mt-4">
                        <!-- <p>Общее кол-во товаров: <span data-shopcart-count>{{ countFull }} </span></p> -->
                        {# <p class="gotham-s-sm-medium"> #}
                        {# Общая скидка: <span class="text-blue" data-shopcart-discount>{{ priceFormatting(discount) }} <span class="rubl-icon">q</span></span> #}
                        {# </p> #}
                        <p class="gotham-s-sm-medium">
                            Итого товаров на сумму: <span class="text-blue"
                                                          data-shopcart-result>{{ priceFormatting(price) }} <span
                                        class="rubl-icon">q</span></span>
                        </p>
                    </div>
                    <div class="row mx-0 mt-5">
                        <div class="col-sm-7 pt-3 text-center text-sm-right">
                            <a href="/" class="b-btn b-btn--blue-border cart-page__btn">Продолжить покупки</a>
                        </div>
                        <div class="col-sm-5 pt-3 text-center text-sm-left">
                            <button type="submit" class="b-btn b-btn--blue-drenched b-btn--blue-drenched-big"
                                    id="chackout" data-attach-loading{% if products.count()== 0 %} disabled{% endif %}
                                    data-shopcart-submit>
                                Оформить заказ
                            </button>
                        </div>

                    </div>
                </div>
            </div>


        </div>


        <!-- <div class="row align-items-center cart-bottom col-md-12">{ component 'FastAdding' }</div> -->

    </div>
</div>
