==
<div class="row align-items-center cart-row basket__row fullCartProductItem"
     data-request-data="id: {{ product.id }}"
     data-shopcart-item
     data-id="{{ product.id }}">
    <div class="col-md-1 basket__img">
        <img src="{{ product.image.image|media }}" class="img-fluid" alt="{{ product.name }}">
    </div>
    <div class="col-md-5">
        <p class="name text-left gotham-s-sm-medium"><a href="/{{ product.slug }}">{{ product.full_name }}</a></p>
    </div>
    <div class="col-md-3 text-right">
        <p class="cart-page__priсe price text-center text-sm-right">
            <span class="gotham-s-sm-medium">
                {{ product.id > 0 ? priceFormatting(product.minimalPrice) : priceFormatting(product.price) }}
                <span class="rubl-icon">q</span></span> <span class="light">/ шт</span></p>
    </div>
    <div class="col-md-2">
        <div class="input_number">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn-number btn-minus"
                            {% if(product.count== 1) %}disabled="disabled" {% endif %}
                            data-id="{{ product.id }}"
                            data-type="minus"
                            data-request="onProductMinusFromCart"
                            data-request-success="svCart.afterUpdateCount.call(this, context, data)"
                            data-field="quantity[{{ product.id }}]">
                        <img src="{{ 'assets/images/svg/MINUS.svg'| theme }}" alt="" style="width: 20px;">
                    </button>
                    <input type="text"
                           name="quantity[{{ product.id }}]"
                           class="form-control input-number order-form__quantity card-page__quantity"
                           data-id="{{ product.id }}"
                           value="{{ product.count }}"
                           min="1"
                           max="9999999999">
                    <button type="button"
                            class="btn-number btn-plus"
                            data-type="plus"
                            data-id="{{ product.id }}"
                            data-request="onProductPlusFromCart"
                            data-request-success="svCart.afterUpdateCount.call(this, context, data)"
                            data-field="quantity[{{ product.id }}]">
                        <img src="{{ 'assets/images/svg/PLUSE.svg'| theme }}" alt="" style="width: 20px;">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-2">
        <p class="order-form__product-price full-price">
            <span data-shopcart-sum data-id="{{ product.id }}">{{ priceFormatting(product.getSumPrice()) }}</span> р.
        </p>
    </div> -->
    <div class="col-md-1 del d-flex justify-content-center">
        <button type="button"
                class="basket__del"
                data-id="{{ product.id }}"
                data-request="onProductDeleteFromCart"
                data-request-success="svCart.afterDelete.call(this, context, data)"
        >
            <img src="{{ 'assets/images/svg/close_icon.svg'| theme }}" alt="" width="100%">
        </button>
    </div>
</div>
