.modal-dialog{
    display: flex;
    justify-content: center;
}
.modal-dialog>form{
    display: flex;
    justify-content: center;
}
#modal-content-low-price{
    width: 900px;
    /*max-width: 100% !important;*/
}
.modal-content{
    border-radius: 20px;
}
#modal-body-low-price{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#modal-body-low-price textarea{
    width: 100%;
}
#modal-content-low-price>.modal-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}
#modal-content-low-price>.modal-footer>button{
    border-radius: 1.25rem;
}
#modal-content-low-price>.modal-footer>p{
    margin: 40px 0;
    width: 600px;
    font-size: 12px;
    text-align: center;
}
#modal-body-low-price>img{
    width: 20%;
}
#modal-body-low-price>.info{
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}
#modal-body-low-price>.info>h1{
    font-size: 20px;
    width: 100%;
}
#modal-body-low-price>.info h3{
    font-size: 18px;
}
#modal-body-low-price>.info>.wholesale{
    margin-right: 40px;
}
#modal-body-low-price>.info>.quantityCounter{
    margin-left: 40px;
    width: 400px;
}
#modal-body-low-price>.contacts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
#contactsForm{
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

.detailedConditions{
    margin-top: 20px;
    width: 100%;
}
#contactsForm>.form-group{
    width: 45%;
}

@media (max-width: 1000px) {
    /* показываем кнопку для переключения верхней навигации */
    #modal-content-low-price {
        width: 80%;
    }
    #modal-body-low-price>.info>.quantityCounter{
        margin-left: 0;
    }
    #modal-content-low-price>.modal-footer>p{
        width: 80%;
    }
}
@media (max-width: 575px) {
    #modal-content-low-price {
        width: 80%;
    }
    #modal-body-low-price>.info>.quantityCounter{
        margin-left: 0;
    }
    #modal-content-low-price>.modal-footer>p{
        width: 80%;
    }
    #contactsForm input, title{
        font-size: 12px;
    }
    #contactsForm>.form-group{
        width: 70%;
    }
    .info>h1{
        font-size: 15px !important;
    }
}


.fastAdding{
    margin-bottom: 20px;
}
.fastAddingForm{
    position: relative;
    width: 100%;
    /*background-color: silver;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fastAddingForm>input{
    width: 87%;
}
.fastAddingForm>button{
    width: 10%;
}
#fastAddingProductSelect{
    z-index: 9999;
    background: #fff;
    position: absolute;
    top: 38px;
    padding: 5px;
    display: none;
    flex-direction: column;
    width: 87%;
    border: 1px solid silver;
}
