.pdfContent {
    /*background-color: red;*/
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.pdfContent > .pdfContentWrapp {
    display: flex;
    align-items: center;
    width: 100% !important;
}

.pdfContent .lSSlideOuter {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pdfContent .vertical__wrap {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pdfContent > div > .block-questions {
    display: none;
}

.pdfContent > .withThisProduct {
    display: none;
}

.pdfContent > .product-info > div {
    width: 100% !important;
}

.pdfContent .description__block-right, .description__block-left {
    max-width: 90% !important;
    margin-bottom: 50px;
}

#characteristics-2 div {
    text-align: left !important;
}

.priceForPrintPage {
    display: none;
}

.row .pb-md-0 .pb-lg-3 {
    text-align: center;
}

@media print {
    #top-header, iframe, #sub-catalog, .main-header, .block-questions, .withThisProduct, .fill-application, .save-and-print__block, .breadcrumb, .lSGallery, .add-to-cart, #tab_3, #tab_5, #characteristics-1, .products, .title-spec, .download__list {
        display: none !important;
    }

    .priceForPrintPage {
        display: flex;
        flex-direction: column;
    }

    .priceForPrintPage > p {
        font-size: 18px !important;
    }

    #vertical {
        margin-bottom: 100px;
    }

    @page {
        margin: 0.5cm;
    }

    li[data-thumb]:nth-child(2) {
        transform: translateX(-100%);
        z-index: 999999999999999;
    }
}

/* .lSSlideWrapper {
    height: 511px !important;
}
.lSSlideOuter .lslide img{
    max-height: 511px !important;
} */
