{% if type == 'empty' %}
    
{% elseif type == 'images' %}
<div id="top-slider">
    <div class="owl-carousel owl-theme">
        {% for slide in slides %}
        <div class="item">
            <a href="{{ slide.link }}">
                <img src="{{ slide.image|media }}" class="img-fluid">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="row" id="spec-product">
    <div class="col-md-4">
    {% set slide = slides.first() %}
        <div id="product-slider-slug" {% if slide.image %} style="background: url('{{ slide.image|mediathumb_resize('width', 270) }}') center; background-size: cover;"{% endif %}>
            <h2>{{ slide.title }}</h2>
            <p>{{ slide.description }}</p>
            <a href="{{ slide.link }}">{{ slide.link_title }}</a>
        </div>
    </div>
    <div class="col-md-8">
        <div id="product-slider">
            <div class="owl-carousel owl-theme">
                {% for slide in slides %}
                {% for product in slide.products %}
                <div class="item">
                    <a href="/{{ product.slug }}">
                        {% if product.images %}
                        <img src="{{ product.image.image|mediathumb_resize('width', 175)}}"
                             class="img-fluid"
                             alt="{{ product.title }}">
                        {% endif %}
                        <p class="vendor-code">Код: <span>{{ product.product_code }}</span></p>
                        <h2>{{ product.name }}</h2>
                        <ul class="properties">
                            <li>{{ product.light_flow }} Люмен</li>
                        </ul>
                        {% if product.price %}
                        <p class="price">{{ priceFormatting(product.minimal_price) }} <span>р. <span class="light">/ шт</span></span></p>
                        {% endif %}
                    </a>
                    {% if product.price %}
                    <div class="product-button-wrap">
                        <button type="button"
                                class="btn btn-primary add-to-cart"
                                data-request="onAddProductToCart"
                                data-request-success="svCart.afterAdd.call(this, context, data)"
                                data-id="{{ product.id }}"
                                data-request-data="id: {{ product.id }}">
                            <img src="{{ 'assets/images/svg/sign.svg'|theme}}">В корзину
                        </button>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}