<?php Block::put('breadcrumb') ?>
<ul>
    <li>
        <a href="<?= Backend::url('andreishilov/faq/faqitems') ?>"><?= e(trans('andreishilov.faq::lang.models.faqitem.name_plural')) ?></a>
    </li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>