.geoapi__city-current {
  float: left;
}

.geoapi__cities-list__wrapper {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  padding: 30px;
  margin: 0;
  background: $geoapi-bg-list;
  z-index: 1050;
  @extend .content_container;
  -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
}

.geoapi__cities-list {
  @extend .col-sm-8;
  @include clearfix;
  padding-left: 0;
}

.geoapi__cities-list__close {
  position: absolute;
  top: 0;
  right: 10px;
}

.geoapi__cities-list_item {
  display: block;
  float: left;
  padding: 5px 10px;
  a {
    color: lighten($link-hover-color, 15%);
    &:hover {
      color: $link-hover-color;
    }
  }
}

.geoapi__cities-search__wrapper {
  @extend .col-sm-4;
  label {
    color: lighten($link-hover-color, 20%);
    font-weight: lighter;
  }
  @media (min-width: $screen-sm-max) {
    margin-top: -10px;
  }
  @media (max-width: $screen-sm-min) {
    margin-top: 20px;
  }
}

#geoapi__cities-search-form__input {
  padding: 5px 10px;
  height: 48px;
  width: 100%;
  max-width: 350px;
  color: #383838;
}
