<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('austerus/shop/products') ?>">Товар | Быстрое редактирование</a></li>
    <?php if(isset($this->vars['formModel']->name)): ?>
    <li><?= e($this->pageTitle) ?>: <?=$this->vars['formModel']->name; ?></li>
    <?php else: ?>
    <?php $this->fatalError='Товар не найден' ?>
    <?php endif ?>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
<?= Form::open(['class' => 'layout']) ?>
<style>
    .field-repeater li.field-repeater-item {
        width: 30%;
        float: left;
    }

    .field-repeater .field-repeater-add-item {
        clear: both;
    }
    @media (min-width: 770px) {
        #Form-field-Product-name-group {
            clear: none;
            width: 37%;
        }
        #Form-field-Product-id-group {
            width: 10%;
            margin-left: 1%;
        }
        #Form-field-Product-purchase_price-group{
            width: 16%;
        }
        #Form-field-Product-price-group{
            width: 16%;
        }
        #Form-field-Product-power-group {
            clear: none;
            width: 15%;
            margin-left: 0.5%;
        }
        #Form-field-Product-light_flow-group {
            clear: none;
            width: 16%;
            margin-left: 0.5%;
        }
    }
    #Form-field-Product-is_novelty-group, #Form-field-Product-is_hit-group, #Form-field-Product-is_stock-group {
        clear: none;
        width: 15%;
    }
    #Form-field-Product-is_novelty-group {
        clear: both;
    }
    .field-richeditor.size-giant .fr-wrapper {
        min-height: 550px !important;
    }

</style>
<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="Сохранение товара..."
                class="btn btn-primary">
            <u>С</u>охранить
        </button>
        <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Сохранение товара..."
                class="btn btn-default">
            Сохранить и закрыть
        </button>
        <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="Удалить товар"
                data-request-confirm="Подтвердите удаление.">
        </button>
        <span class="btn-text">
                    или <a href="<?= Backend::url('austerus/shop/products') ?>">Закрыть</a>
                </span>
        <button
                type="submit"
                data-request="onCopy"
                data-request-data="redirect:1"
                data-hotkey="ctrl+l, cmd+l"
                data-load-indicator="Сохранение и клонирование..."
                class="btn btn-success pull-right">
            <u>К</u>опировать
        </button>
        <a href="/<?=$this->vars['formModel']->slug;?>" class="btn btn-default pull-right" target="_blank">Просмотреть
            товар на сайте</a>

        <?php if ($this->getNext()): ?>
        <a href="<?=Backend::url('austerus/shop/products/quick/' . $this->getNext());?>" class="btn btn-default pull-right">
            <i class="icon-chevron-right"></i> Следующий</a>
        <?php endif ?>
        <?php if ($this->getPrev()): ?>
        <a href="<?=Backend::url('austerus/shop/products/quick/' . $this->getPrev());?>" class="btn btn-default pull-right">
            <i class="icon-chevron-left"></i> Предыдущий</a>
        <?php endif ?>

    </div>
</div>
<div class="layout-row">
    <div class="col-md-9">
        <?= $this->formRender() ?>
    </div>
    <div class="col-md-3">
        <p style="margin-bottom: 5px;">Другие товары:</p>
        <div style="background: #fff; border: 1px solid #ddd; padding: 10px;">
            <?php
                    $selectedCategory = $this->vars['formModel']->categories->first();
            if($selectedCategory !== null) {
            $selectedCategory = $selectedCategory->slug;
            }
            ?>
            <select id="category-change" class="form-control">
                <?php foreach($this->getCategoryList() as $category): ?>
                <option
                <?php echo($selectedCategory===$category->slug)?' selected':'';?> value="category-<?php echo $category->
                slug;?>">
                <?php echo $category->name;?>
                </option>
                <?php endforeach ?>
            </select>
            <?php foreach($this->getCategoryList() as $key => $category): ?>
            <div class="category-item" id="category-<?=$category->slug;?>"
                 style="padding: 10px;<?php echo(($selectedCategory === null && $key === 1) || ($selectedCategory===$category->slug))?'':' display: none;';?>">
                <?php foreach($category->products as $product): ?>
                <p>
                    <a href="<?= Backend::url('austerus/shop/products/quick', ['id' => $product->id]) ?>"<?=($this->
                    vars['formModel']->slug===$product->slug)?' style="color:#000;font-size:110%;"':'';?>><?=$product->
                    name;?></a>
                </p>
                <?php endforeach ?>
            </div>
            <?php endforeach ?>
        </div>
    </div>
</div>

<?= Form::close() ?>
<?php else: ?>
<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('austerus/shop/products') ?>" class="btn btn-default">Return to products list</a></p>

<?php endif ?>
<script>
    $(document).ready(function () {
        $('#category-change').change(function () {
            $('.category-item').hide();
            $('#' + $(this).val()).show();
        });

        $('.nav-tabs > li > a').click(function () {
            $.cookie('active-tab', $(this).attr('href'));
        });

        var activeTab = $.cookie('active-tab');

        if (activeTab !== undefined) {
            $('.nav-tabs > li').removeClass('active');
            $('.nav-tabs > li > a[href=' + activeTab + ']').click();

        }
    });
</script>