.close-circle__custom {
  display: block;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 15px;
  border: 2px solid #ffffff;
  position: absolute;
  top: -15px;
  right: -15px;
  color: #fff;
  opacity: 1;
  z-index: 1;
  overflow: hidden;
  outline: none;
  &:hover {
    font-size: 28px;
  }
  > span {
    display: block;
    position: relative;
    top: -2px;
    left: 0;
    bottom: -2px;
    right: -2px;
    line-height: 28px;
    outline: none;
  }
}

.callback-form {
  max-width: 450px;
  min-height: 450px;
  background: #dee1e2;
  z-index: 999;
  #callback-form_title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 40px 5px 0;
  }
  .callback-form-body {
    padding: 15px 50px 25px;
  }
  .close {
    @extend .close-circle__custom;
  }
  .form-group {
    margin: 5px 0;
  }
  .form-control {
    height: 45px;
    padding: 6px 10px;
  }
  label {
    color: #7F8C8D;
    font-weight: 100;
  }
  .callback-form_description {
    font-size: 18px;
    text-align: center;
  }
  .personal-protection {
    font-size: 11px;
    color: #7F8C8D;
    text-align: center;
  }
  .send-order {
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: #fcbd49;
    border-bottom: 3px solid #f39c12;
    height: 52px;
    &:hover {
      background: darken(#fcbd49, 20%);
      border-bottom: 3px solid darken(#f39c12, 20%);
    }
  }
}

#callback-form-modal .modal-content {
  max-width: 450px;
  min-height: 450px;
  margin: 0 auto;
}

#callback-form-modal.modal-content-center.in {
  display: table !important;
  padding-right: 16px;
  width: 100%;
  height: 100%;
  .modal-dialog {
    display: table-cell;
    vertical-align: middle;
  }
}

.modal-content-center.in {
  .modal-dialog {
    width: 100%;
    height: 100%;
  }
}

.btn-bordered {
  text-shadow: none;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 1.1px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s linear 0s;
  text-transform: uppercase;
  background: transparent;
  &:hover {
    color: #fff;
    background: #28AADC;
    border-color: #28AADC !important;
  }
  &:focus, &:active {
    outline: none;
  }
}

.svetograd__submit-btn--center {
  @extend .svetograd__submit-btn;
  margin: 20px auto 20px;
  @media (min-width: 768px) {
    &.svetograd__submit-btn {
      margin-left: auto !important;
    }
  }
}

