.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}
.search-form__wrapper {
  width: 210px;
  float: right;
  input {
    width: 170px;
    height: 40px;
    padding: 0 5px;
    float: left;
    border: 0;
    background: #eee;
    color: #181818;
    line-height: 40px;
  }
  input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  }
  input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  }
  button:hover {
    background: #e54040;
  }
  button:active,
  button:focus {
    background: #c42f2f;
    outline: 0;
  }
  button:before { /* стрелка влево */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
  }
  button:hover:before {
    border-right-color: #e54040;
  }
  button:focus:before,
  button:active:before {
    border-right-color: #c42f2f;
  }
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}